//**              topBar              **//
@import "../../variables";

.-white-i i {
  color: white !important;
}

.-centerInDad-img{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
 }

.-searchInput{
  border: 1px solid #36485C;
  border-radius: 20px;
  background-color: #36485C;
  padding-left: 10px;
  padding-right: 20px;
}

.-searchInput input{
   margin-left: 10px;
   border: none !important;
   background-color: transparent;
   outline: none;
}

.-profile-collapse {
  position: absolute;
  right: 0.1rem;
  top: $topBarHeight;
  z-index: 10000;
  width: 13rem;
}

 .-profile-collapse img{
   height: 150px;
 }

 //**             ChatBar(leftBar)             **//

.-my-icons1 {
  margin-top: 20px !important;
  padding-left: 0;
  position: fixed;
  left: 20px;
}

.-my-icons1 a{
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #596978;
  border-radius: 50px;
  position: relative;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
 }

.-my-icons1 svg{
  fill: #36485C;
  float: left !important;
  height: 24px;
  position: absolute;
  transform: translate(50%, 50%)
}
