 //**              topBar              **//

.-white-i i {
  color: white !important;
}

.-centerInDad-img{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
 }

.-searchInput{
  border: 1px solid #36485C;
  border-radius: 20px;
  background-color: #36485C;
  padding-left: 10px;
  padding-right: 20px;
}

.-searchInput input{
   margin-left: 10px;
   border: none !important;
   background-color: transparent;
   outline: none;
}