@import "../../variables";
.chat-wrapper {
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 3px 4px rgba(0 ,0 ,0, 0.1);
	position: absolute;
	width: 300px;
	height: auto;
	min-height: 550px;
	max-height: 800px;
	top: 20px;
	left: 80px;
	padding: 5px;
	overflow: auto;
	z-index: 100;
	.search-box {
		background-color: #F1EFF0;
		border-radius: 5px;
		display: flex;
		flex-flow: row;
		width: 100%;
		align-items: center;
		padding: 6px 10px;
		input {
			background-color: transparent;
			outline: none;
			border: none;
			color: #777;
			flex: 0 0 90%;
			font-size: $font-size-normalText;
		}
		span {
			color: #929292;
			display: block;
			height: 25px;
			width: 35px;
			flex: 1 1 10%;
			padding: 0 5px;
			text-align: center;
			line-height: 25px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}