@import "../../variables";

.product-container {
  display: inline-block;
  vertical-align: top;
  direction: rtl;

  @media screen and (max-width: 10000px) and (min-width: 480px) {
    width: 48.7%;
    margin: 0 0.65% 0 0.65%;
  }
  @media screen and (max-width: 480px) and (min-width: 0) {
    width: 100%;
  }
}

.product-header {
  display: none;
}

.users-explore-filter-header {
  display: none;
}

.product-header-top {
  display: none;
}

@media screen and (max-width: 480px) and (min-width: 0px) {
  .product-header {
    top: 0;
    transform: translateY(50px);
    display: block;
    position: fixed;
    background-color: $primary-color-light3;
    right: 0;
    left: 0;
    padding: 14px 0 7px 0;
    text-align: right;
    transition: all ease 0.3s;
    z-index: 2;
  }

  .users-explore-filter-header {
    top: 0;
    display: block;
    position: fixed;
    background-color: $primary-color;
    right: 0;
    left: 0;
    padding: 14px 0 7px 0;
    text-align: right;
    transition: all ease 0.3s;
    z-index: 2;
  }

  .product-header-top {
    top: 0;
    display: block;
    position: fixed;
    background-color: $primary-color-light3;
    right: 0;
    left: 0;
    padding: 14px 0 7px 0;
    text-align: right;
    transition: all ease 0.3s;
    z-index: 2;
  }

  .back-button-material {
    vertical-align: top;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: -6px 20px;
    font-size: 25px;
    cursor: pointer;
  }

  .back-button-material-no-margin {
    vertical-align: top;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: -6px 10px;
    font-size: 25px;
    cursor: pointer;
  }

  .back-button-product {
    width: 20px;
    height: 20px;
    fill: white;
    color: white;
  }

  .product-header-svg {
    vertical-align: top;
    width: 20px;
    margin-left: 20px;
    fill: whitesmoke;
  }

  .product-header-title {
    display: inline-block;
    width: calc(100% - 130px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: whitesmoke;
    font-size: 13px;
  }
}

