@import "../../variables";

.product-container {
  display: inline-block;
  vertical-align: top;
  direction: rtl;

  @media screen and (max-width: 10000px) and (min-width: 480px) {
    width: 48.7%;
    margin: 0 0.65% 0 0.65%;
  }
  @media screen and (max-width: 480px) and (min-width: 0) {
    width: 100%;
  }
}

.menu-dots {
  color: lightgrey;
  float: left;
  vertical-align: top;
  border-radius: 50%;
  transition: all $animation-timing-long;
  padding-top: 2px;
  cursor: pointer;
  font-size: 17px;

  &:hover {
    transition: all $animation-timing-long;
    background-color: $eee-color;
  }
}

.menu-side-name {
  text-align: right;
  font-weight: bold;
  display: inline-block;
  float: right;
}

.product-side-bar {
  vertical-align: top;
  position: relative;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  overflow: auto;
  color: $text-dark-color;
  border-radius: $border-radius-size;
  background: $text-lightest-color;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  width: 25%;
  padding: 15px;
  font-size: 13px;

  .bordered-padded-wrapper {
    border-bottom: 1px solid $sidebar-row-border-color;
    display: flex;
    align-items: center;
    padding: 12px 0;
    min-height: 70px;

    .owner-avatar.avatar {
      margin-left: 12px;
    }

    &.price, &.act-bar {
      justify-content: space-between;
    }

    &.badges {
      justify-content: flex-start;
    }

    &.tags {
      display: block;
    }

    &.price .price-icon {
      width: 20px;
      height: 20px;
    }

    .badge {
      display: inline-block;
      flex: 1 1 60px;
      max-width: 60px;
      min-width: 60px;
      height: 50px;
      object-fit: cover;
    }

    &.act-bar {
      border-bottom: none;
    }

    &.owner {
      border-top: 1px solid $sidebar-row-border-color;
    }
  }

  .act-bar {
    .act-btn {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 30px;
      width: 110px;
      font-size: $tag-font-size;
      -webkit-border-radius: 120px;
      -moz-border-radius: 120px;
      border-radius: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .act-btn:first-child {
      border: 1px solid $brand-inverse-color;
    }

    .act-btn:nth-child(2) {
      background: $brand-inverse-color;
      color: $text-lightest-color;
    }
  }

  .gallery-wrapper {
    padding: 0;

    .items-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .main-image {
      width: 100%;
      height: 145px;
      object-fit: cover;
      margin-bottom: 10px;
      border: 1px solid $sidebar-row-border-color;
    }

    .gallery-item {
      cursor: pointer;
      flex: 1 1 50px;
      max-width: 60px;
      height: 40px;
      border: 1px solid $sidebar-row-border-color;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .more-btn {
      cursor: pointer;
      transition: all 0.3s ease-out;
    }

    .more-btn:hover {
      background-color: $chat-box2-color;
      transition: all 0.3s ease-in;
    }

    .gallery-item .gallery-image {
      max-width: 60px;
      height: 40px;
      object-fit: cover;
    }
  }
}

.gallery-modal {
  .modal-body {
    background-color: $chat-box2-color;

    .close-btn:before {
      font-style: $font-size-close-btn;
      cursor: pointer;
      color: $danger-color;
    }
  }

  .image-gallery-image {
    img {
      height: 400px;
      object-fit: cover;
    }
  }

  .image-gallery-thumbnail img {
    height: 100%;
  }

  .image-gallery-slide.center {
    background-color: $chat-box2-color;
  }

  button::before {
    color: $brand-inverse-color
  }
}

.product-certificates {
  border: 1px solid #eee;
  padding: 15px;
  font-size: 13px;
  margin-top: 7px;
  width: 103%;
}

.product-certificates-text {
  display: inline-block;
  width: 57%;
  margin-left: 3%;
  height: 120px;
  vertical-align: top;
  line-height: 30px;
}

.product-certificates-text-title {
  color: $info-color;
  font-weight: bold;
}

.product-certificates-img {
  border: 1px solid #eee;
  fill: #ddd;
  stroke: #ddd;
  width: 40%;
  height: 120px;
  object-fit: cover;
  vertical-align: top;
}

.product-header {
  display: none;
}

.users-explore-filter-header {
  display: none;
}

.product-header-top {
  display: none;
}

@media screen and (max-width: 480px) and (min-width: 0px) {
  .product-header {
    top: 0;
    transform: translateY(50px);
    display: block;
    position: fixed;
    background-color: $primary-color-light3;
    right: 0;
    left: 0;
    padding: 14px 0 7px 0;
    text-align: right;
    transition: all ease 0.3s;
    z-index: 2;
  }

  .users-explore-filter-header {
    top: 0;
    display: block;
    position: fixed;
    background-color: $primary-color;
    right: 0;
    left: 0;
    padding: 14px 0 7px 0;
    text-align: right;
    transition: all ease 0.3s;
    z-index: 2;
  }

  .product-header-top {
    top: 0;
    display: block;
    position: fixed;
    background-color: $primary-color-light3;
    right: 0;
    left: 0;
    padding: 14px 0 7px 0;
    text-align: right;
    transition: all ease 0.3s;
    z-index: 2;
  }

  .back-button-material {
    vertical-align: top;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: -6px 20px;
    font-size: 25px;
    cursor: pointer;
  }

  .back-button-material-no-margin {
    vertical-align: top;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: -6px 10px;
    font-size: 25px;
    cursor: pointer;
  }

  .back-button-product {
    width: 20px;
    height: 20px;
    fill: white;
    color: white;
  }

  .product-header-svg {
    vertical-align: top;
    width: 20px;
    margin-left: 20px;
    fill: whitesmoke;
  }

  .product-header-title {
    display: inline-block;
    width: calc(100% - 130px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: whitesmoke;
    font-size: 13px;
  }
}

