@import "../../variables";

@media screen and (max-width: 480px) and (min-width: 0) {
  .-main {
    margin-top: $smallTopBarHeight;

    &.page-content {
      display: block;
    }
  }

  .header-container {
    flex-flow: row nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .header-container::-webkit-scrollbar {
    display: none;
  }

  .header-container-item {
    flex: 0 0 auto;
    flex-grow: 1;
  }

  .-product-main {
    position: absolute;
    top: $smallTopBarHeight + 50px;

    &.page-content {
      display: block;
    }
  }

  .top-bar-entity {
    position: fixed;
    z-index: 2;
    top: $smallTopBarHeight;
    height: $smallTopBarHeight;
    width: 100%;
    left: 0;
    //background: $primary-color-light3;
    display: flex;
    align-items: center;
    transition: all $animation-timing ease;

    &.show {
      opacity: 1;
      height: $smallTopBarHeight;
    }

    &.hide {
      opacity: 0;
      height: 0;
    }

    .back-button {
      width: $smallTopBarHeight * 0.4;
      height: $smallTopBarHeight * 0.4;
      margin: 0 20px;
      fill: white;
      color: white;
      font-size: 25px;
    }

    .profile-top-bar {
      width: $smallTopBarHeight * 0.7;
      height: $smallTopBarHeight * 0.7;
      border-radius: 30px;
      //border: 1.5px solid gray;
      margin-left: 10px;
    }

    .default-profile-organ {
      padding: 7px !important;
      fill: $primary-color !important;
      background-color: white;
    }

    .organ-name {
      font-size: $font-size-regular;
      color: white;
      margin: 0;
    }
  }

  .center-column {
    padding: 0;
  }
}

.top-bar-entity-top {
  transform: translateY(-$smallTopBarHeight - 1);
}