@import "../../../variables";

@media screen and (max-width: 480px) and (min-width: 0) {
  .home-wrapper {
    .home-page-content {
      flex-wrap: wrap;
      padding: 0;

      .right-sidebar {
        flex: 1 1 100%;
        max-width: 100%;
        order: 2;

        &.active-exchange {
          display: none;
        }

        .home-sidebar-cont-title {
          display: none;
        }

        .home-sidebar-cont {
          margin: 0;
          height: auto;

          .header-exchange {
            padding: 10px;
          }
        }

        .exchanges-last {
          position: fixed;
          top: 100vh;
          transform: translateY(-95%);
        }
      }

      .user-detail-wrapper {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 0 8px;
        order: 1;

        &.active-exchange {
          display: none;
        }
      }

      .post-wrapper {
        margin-top: 8px;
        flex: 1 1 100%;
        max-width: 100%;
        order: 3;
        display: none;

        &.active-exchange {
          display: block;
        }
      }

      .write-post-hide {
        display: inherit;
        position: fixed;
        bottom: 15px;
        transform: translate3d(0, 80px, 0);
        left: 25px;
        background-color: $primary-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        transition: transform $animation-timing ease;
      }

      .write-post {
        display: inherit;
        position: fixed;
        z-index: 2;
        opacity: 1;
        bottom: 15px;
        left: 25px;
        background-color: $primary-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: transform $animation-timing ease;
      }

      .write-post-logo {
        margin-top: 14px;
        fill: $background-color;
        width: 20px;
        height: 20px;
      }
    }
  }
  .write-post-hide {
    display: inherit;
    position: fixed;
    bottom: 15px;
    transform: translate3d(0, 80px, 0);
    left: 25px;
    background-color: $primary-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    transition: transform $animation-timing ease;
  }

  .write-post {
    display: inherit;
    position: fixed;
    z-index: 2;
    opacity: 1;
    bottom: 15px;
    left: 25px;
    background-color: $primary-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform $animation-timing ease;
  }

  .write-post-logo {
    margin-top: 14px;
    fill: $background-color;
    width: 20px;
    height: 20px;
  }
}