@import "../../../variables";

@media screen and (max-width: 480px) and (min-width: 0) {
  .modal-wrapper {

    .modal-content-wrapper {
      position: fixed;
      width: 95%;

      .close-button {
        top: 15px;
        left: 15px;
      }
    }
  }
}