// TODO move to new file

.badge-remove-btn {
  display: inline-block;
  border-right: 1px solid;
  cursor: pointer;
  margin-left: -4px;
  margin-right: 4px;
  padding-right: 4px;
  padding-left: 4px;
  opacity: 0.4;
  transition: all 200ms;
  &:hover {
    opacity: 1;
  }
}

.svg-icon {
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.break-word {
  word-wrap: break-word;
}