@import "../variables";

.-userOrganBackgroundImg {
  background-image: url("../images/common/userOrganBackground.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

.flat {
  @include border-top-radius(0);
  @include border-right-radius(0);
  @include border-left-radius(0);
  @include border-bottom-radius(0);
}

.flat-top {
  @include border-top-radius(0);
}

.flat-right {
  @include border-right-radius(0);
}

.flat-bottom {
  @include border-bottom-radius(0);
}

.flat-left {
  @include border-left-radius(0);
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.cursor-pointer {
  cursor: pointer;
}

.badge-remove-btn {
  display: inline-block;
  border-right: 1px solid;
  cursor: pointer;
  margin-left: -4px;
  margin-right: 4px;
  padding-right: 4px;
  padding-left: 4px;
  opacity: 0.4;
  transition: all 200ms;
  &:hover {
    opacity: 1;
  }
}

.break-word {
  word-wrap: break-word;
}

.-testDiv {
  background: $gray-border;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5
}

.w-40px {
  width: 40px;
}

.w-100px {
  width: 100px;
}

.p-20px {
  padding: 20px;
}

.fontSize-13px {
  font-size: $font-size-smallText;
}

.max-w-100 {
  max-width: 100%;
}