.my-masonry-grid {
  display: -webkit-box; // Not needed if autoprefixing
  display: -ms-flexbox; // Not needed if autoprefixing
  display: flex;
  margin-left: -30px; // gutter size offset
}
.my-masonry-grid_column {
  border-left: 10px solid transparent; // gutter size
  background-clip: padding-box;
}

// Style your items
.my-masonry-grid_column > div { // change div to reference your elements you put in <Masonry>

  margin-bottom: 10px;
}
.-itemWrapperPost{
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	border: 1px solid #EEEEEE;
	border-radius: 3px;
	padding: 10px 20px 15px 20px;
	.-content-col{
		margin-right:0;
	}
}


.-exchangePost{
	.productBox{
		border:1px solid rgb(202, 202, 202);
		padding: 10px;
		
	}

	img{
		max-height:250px;
	}

	.badge-secondary {
    color: #fff;
    background-color: #6c757d;
	}

	.-item-edit-btnProduct{
		svg{
			height:16px;
			width:16px;
		}
	}
}



