@import "../../variables";
.product-desc {
  line-height: 26px;
  font-size: $font-size-regular;
}
.row.col-form-label {
  line-height: 33px;
  .field-label, .field-value {
    font-size: $font-size-regular;
  }
}