@import "../../variables";

.exchanges-modal .success-message {
  .success-image {
    margin: 72px auto 0;
    width: 220px;
    display: block;
    path {
      fill: $success-color;
    }
  }
  .message-text {
    text-align: center;
    margin: 30px auto;
    color: $text-dark-color
  }
  .exchange-address {
    text-align: center;
    margin: 30px auto 40px;
    color: $text-dark-color
  }
}