@import "../common";

.create-exchange-wrapper .basic-info {
  max-width: 900px;
  margin: 90px auto;
  .form {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    flex-wrap: wrap;
    .simple-form {
      flex: 1 1 360px;
      max-width: 360px;
      min-width: 360px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 14px auto;
    }
    .simple-form .radio-button-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      label {
        margin-bottom: 0;
        margin-top: 5px;
      }
    }
    .simple-form .link-input .input-wrapper {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      .domain {
        direction: ltr;
      }
    }
    .simple-form .form-group label {
      margin-bottom: 14px;
    }
    .simple-form .radio-button-group {
      .radio-btns-wrapper {
        justify-content: space-between;
        width: 200px;
      }
      .radio-btns-wrapper .item {
        margin-left: 10px;
      }
      margin: 33px 0 27px;
      .title {
        font-size: $font-size-regular;
      }
    }
    .image-form {
      flex: 1 1 420px;
      margin: 14px auto;
      max-width: 420px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .image-form img.selected-image {
      object-fit: contain;
      height: 200px;
      width: 200px;
      box-shadow: none;
      margin: 33px auto 0;
      opacity: 0;
      transition: all 0.3s;
      &.show {
        opacity: 1;
        box-shadow: 0 0 1px $images-box-shadow;
        transition: all 0.5s;
      }
    }
    .image-form .hide-scroll-wrapper {
      border: 1px solid #242424;
      position: relative;
      overflow: hidden;
      height: 200px;
      width: 200px;
    }
    .image-form .image-selection {
      height: 200px;
      width: 200px;
      padding: 5px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow-y: scroll;
    }
    .image-form .image-selection .img-option {
      width: 58px;
      height: 58px;
      object-fit: contain;
      box-shadow: 0 0 1px $images-box-shadow;
      margin: 3px 0;
      cursor: pointer;
    }
    .image-selection-wrapper {
      margin: 0 auto;
    }
    .image-selection-wrapper span {
      margin-bottom: 14px;
      display: inline-block;
    }
    .file-input-wrapper {
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 1px $images-box-shadow;
      cursor: pointer;
      .upload-icon {
        opacity: 1;
        transition: opacity 0.3s;
        position: absolute;
        top: 9px;
        right: 5px;
        width: 40px;
        z-index: 1;
        cursor: pointer;
      }
      .fa-spinner {
        position: absolute;
        z-index: 1;
        top: 21px;
        right: 21px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
      }
      &.processing input {
        pointer-events: none;
      }
      &.processing .upload-icon {
        opacity: 0;
        transition: opacity 0.3s;
      }
      &.processing .fa-spinner {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
    .file-input-wrapper.processing {
      cursor: default;
      input, .upload-icon {
        cursor: default;
      }
    }
  }
}