@import "../common";

.modal-body.create-exchange-wrapper .more-info {
  //.act-bar .act-btn {
  //  .right-arrow {
  //    transform: rotate3d(0, 0, 1, -90deg);
  //    left: auto;
  //    right: 10px;
  //  }
  //  .left-arrow {
  //    transform: rotate3d(0, 0, 1, 90deg);
  //  }
  //}
  max-width: 900px;
  margin: 90px auto 50px;
  .tip {
    max-width: 800px;
    margin: 0 auto;
    padding: 14px 0;
  }
  .form {
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 40px auto 60px;
    .exchange-desc {
      flex: 1 1 350px;
      margin: 22px 0 20px 20px;
      label {
        margin-bottom: 16px;
      }
      textarea {
        height: 135px;
      }
    }
    .tags-manager {
      flex: 1 1 350px;
      margin: 10px 20px 20px 0;
    }
  }
  .form .tags-manager .tags {
    .scroll-less {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      position: absolute;
      padding: 6px 8px;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: scroll;
    }
    border: 1px solid $input-border-color;
    height: 135px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    .tag {
      color: $text-lightest-color;
      min-width: 100px;
      background: $disable-color;
      margin: 10px 0 0 10px;
      padding: 0;
      border-radius: 0;
      display: flex;
      justify-content: space-between;
      font-size: $tag-font-size;
    }
    .tag .title {
      padding: 3px 8px 0 0;
    }
    .tag .used-count {
      position: relative;
      display: flex;
      justify-content: center;
      min-width: 30px;
      background: $brand-inverse;
      padding-top: 3px;
    }
    .tag .used-count .clear-btn {
      @extend %clear-btn;
      height: 16px;
      width: 16px;
      left: -8px;
      top: -8px;
    }
    .tag:hover .used-count .clear-btn {
      @extend %clear-btn-hover;
    }
    .tag .used-count .clear-btn:hover {
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;
    }
  }
  .form .tags-manager .tags-search-box {
    .Select {
      margin: 5px 0;
      .Select-control {
        border-radius: 100px;
      }
    }
    //margin: 34px 0 20px;
    @extend %none-bordered-select;
  }
}