@import "../common";

.create-exchange-wrapper.modal-body .wrapper .people {
  max-width: 800px;
  margin: 110px auto 30px;
  .header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    .form-group {
      flex: 0 0 280px;
    }
    .form-group .input-wrapper {
      position: relative;
      &::after {
        position: absolute;
        content: "\F002";
        top: 4px;
        left: 2px;
        font-family: "FontAwesome";
        width: 17px;
        height: 17px;
        color: $text-dark-color;
      }
    }
    .form-group .input-wrapper input {
      padding: 5px 14px 5px 22px;
      font-size: $font-size-regular;
      border-radius: 60px;
      background: $chat-box2-color;
      border: none;

      &:focus {
      }
    }
    .tip {
      background: inherit;
    }
    .tip .icon-wrapper {
      flex: 0 0;
      margin-left: 10px;
    }
    .tip .tip-icon {
      width: 30px;
    }
  }
  .people-selection {
    border: 1px solid $input-border-color;
    border-radius: 3px;
    position: relative;
    height: 230px;
    overflow: hidden;
  }
  .people-selection .scroll-less {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 12px auto;
    position: absolute;
    overflow: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .person {
    flex: 1 1 249px;
    max-width: 249px;
    min-width: 249px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    .person-info {
      display: flex;
      justify-content: space-between;
      max-width: 157px;
    }
    .person-img {
      width: 56px;
      height: 56px;
      overflow: hidden;
      border-radius: 5px;
      margin-left: 14px;
      min-width: 56px;
    }
  }
  .act-bar {
    align-items: center;
    margin: 35px auto 0;
    .CircularProgressbar {
      width: 80px;
    }
  }
}

span.bool-btn {
  height: 20px;
  padding: 3px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $success-color;
  border-radius: 3px;
  background-color: inherit;
  transition: all 0.3s;
  cursor: pointer;
  font-size: $font-size-small;
  .title {
    display: inline-block;
    width: auto;
    opacity: 1;
    transition: width 0.5s, opacity 0.3s;
    overflow: hidden;
  }
  .fa-spinner {
    opacity: 0;
    width: 0;
    overflow: hidden;
    display: inline-block;
    transition: width 0.5s, opacity 0.3s;
  }
  &.in-act {
    .title {
      width: 0;
      opacity: 0;
      transition: width 0.5s, opacity 0.3s;
    }
    .fa-spinner {
      width: auto;
      opacity: 1;
      transition: width 0.5s, opacity 0.3s;
    }
  }
  &.true {
    background-color: $success-color;
    color: $text-lightest-color;
    transition: all 0.3s;
  }
}
.fa-spinner {
  animation-name: spinner;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spinner {
  from {
    transform: rotate3d(0, 0, 0, 0deg)
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg)
  }
}