@import "../common";


.exchanges-modal .create-exchange-wrapper .success-message {
  max-width: 340px;
  margin: 110px auto 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .message-text, .exchange-address {
    color: $text-dark-color;
  }
  p.message-text {
    margin: 40px auto 0;
  }
  p.exchange-address {
    margin: 40px auto 60px;
  }
  .success-image {
    path {
      fill: $success-color;
    }
    width: 130px;
  }
  .act-bar {
    width: 340px;
    .act-btn svg.right-arrow {
      transform: rotate3d(0,0,0,0);
    }
  }
}