html[data-platform*='iPhone'] {
  .-itemWrapperPost {
    .post-content {
     text-align: inherit;
    }
  }
}

html[data-platform*='Macintosh'] {
  .-itemWrapperPost {
    .post-content {
      text-align: inherit;
    }
  }
}

html[data-platform*='MacIntel'] {
  .-itemWrapperPost {
    .post-content {
      text-align: inherit;
    }
  }
}

html[data-platform*='MacPPC'] {
  .-itemWrapperPost {
    .post-content {
      text-align: inherit;
    }
  }
}

html[data-platform*='Mac68K'] {
  .-itemWrapperPost {
    .post-content {
      text-align: inherit;
    }
  }
}