@import '../../../variables';

.radio-button-group {
    padding: 1px;
    margin-bottom: 10px;
    label {
        padding: 1px;
    }
    .radio-btns-wrapper {
        padding: 1px;
        display: flex;
        flex-direction: row;
        .item {
            padding: 1px;
            margin-left: 20px;
        }
        .item .title {
            padding: 1px;
        }
        .item .radio-btn {
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 3px solid $brand-inverse;
            border-radius: 50%;
            position: relative;
            right: 10px;
            bottom: -6px;
            background-color: white;
        }
        
        .item .radio-btn.selected {
            padding: 1px;
        }

        .item .radio-btn::after {
            content: '';
            background-color: inherit;
            width: 8px;
            height: 8px;
            position: absolute;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            transition: background-color 0.5s;
        }
        .item .radio-btn.selected::after {
            background-color: $brand-inverse;
            transition: background-color 0.5s;
        }
    }
}