@import "../../../variables";

.render-text-field-container {
  position: relative;
  align-items: center;
  margin: 20px 0;
  transition: all $animation-timing ease;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .render-text-field-div {
    flex: 0 1 47%;
    min-width: 200px;

    .form-control {
      padding: 10px 0;
    }

    span {
      position: absolute;
      pointer-events: none;
      right: 5px;
      top: 5px;
      transition: all $animation-timing ease;
      color: $text-light-color;
      font-size: $font-size-13;
    }

    .label-top {
      top: -20px;
      right: 0;
      color: $info-color;
      font-size: $font-size-13;
    }

    input {
      border: 0;
      border-bottom: 1.5px solid $text-light-color;
      border-radius: 0;
      transition: all $animation-timing;
      font-size: $font-size-regular;
      background: hsl(0, 0, 97%);
      padding: 8px 5px;
      width: 100%;
      outline: 0;

      &:focus {
        border-bottom: 1.5px solid $success-color;
      }

      &.error {
        border-bottom: 1.5px solid $danger-color;
      }

      &.ltr {
        text-align: left;
        direction: ltr;
      }
    }
  }

  @import "../../../variables";

  .tooltip-container {
    flex: 0 1 47%;
    display: flex;
    min-width: 200px;
    align-items: center;
    margin-top: 5px;

    .info-icon {
      fill: lighten($danger-color, 5%);
      width: 18px;
      background: #ffffff;
      height: 18px;
      border-radius: 50%;
      padding: 2px;
      border: 1px solid lighten($danger-color, 5%);
      margin-left: 8px;
    }

    p {
      margin: 0;
      font-size: $tag-font-size;
      color: $text-title-menu-color;
    }
  }

  .next-text {
    text-align: left;
    direction: ltr;
    font-size: $font-size-regular;
    margin: 5px 5px 0 0;
  }
}

.open-render-text-field-container:not(:first-child) {
  margin-top: 45px;
}