@import "../../../variables";

.tab-container{
  margin: 10px 0;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-size;
  .-tabs {
    display: flex;
    justify-content: flex-start;
    background-color: $text-lightest-color;
    border-radius: $border-radius-size;
    padding: 10px;
    margin-bottom: 12px;
    .-tab {
      border: 1px solid $text-dark-color;
      fill: $text-dark-color;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      position: relative;
      margin-left: 25px;
      transition-duration: $animation-timing;

      svg {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: $primary-color;
      }
    }
    .-tab:last-child{
      margin-left: 0;
    }
    .-tab:first-child{
      margin-right: 9px;
    }
    a.-tab:hover{
      background-color: rgba(37, 53, 69, 0.15);
      transition-duration: $animation-timing;
    }
    a.-active {
      background-color: $primary-color;
      transition-duration: $animation-timing;
      & > svg {
        fill: $background-color;
        transition-duration: $animation-timing;
      }
      &:hover{
        background-color: $primary-color;
        & > svg {
          fill: $background-color;
        }
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .tab-container {
    .-tabs {
      .-tab {
        height: 35px;
        width: 35px;
        margin-left: 15px;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 930px) and (max-width: 1250px) {
  .tab-container {
    .-tabs {
      .-tab {
        height: 40px;
        width: 40px;
        margin-left: 15px;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.category-title-container{
  .-categoryTitle {
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
    border-radius: $border-radius-size;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
    padding: 2px 25px 1px;
    height: 28px;
    .edit-btn-wrapper {
      display: inline-flex;
      align-items: center;
      .edit-btn {
        width: 16px;
        cursor: pointer;
      }
    }
  }
  .add-user {
    height: 24px;
  }
  .category-divider{
    border: 3px solid $secondary-color;
    border-radius: $border-radius-size;
    margin-bottom: 12px;
  }
}

.-frameCard {
  background-color: #fff;
  border-radius: $border-radius-size;
  padding: 45px 16px 16px 16px;
  margin-bottom: 12px;
  box-shadow: 0 0 1px #efefef; // fixme: temporary style.
  .-itemWrapper {
    position: relative;
    .-item-icon {
      position: absolute;
      top: -32px;
      right: 0;
      width: 50px;
      height: 33px;
      border: 1px solid lighten($frame-color, 20%);
      background-color: lighten($text-lighter-color, 5%);
      fill: $text-dark-color;
      padding: 4px 9px;
      border-radius: $border-radius-size;
      svg {
        height: 22px;
        width: 22px;
        margin-right: 5px;
      }
    }
    .-item-header {
      position: absolute;
      display: flex;
      white-space: nowrap;
      text-overflow: ellipsis;
      top: -27px;
      left: 0;
      right: 0;
      margin-right: 16px;
      margin-left: 10px;
      .-item-title {
        flex: 1 1 auto;
        font-size: $font-size-item-title-frame;
      }
      .item-head-text {
        font-size: $font-size-regular;
        color: $text-light-color;
      }
    }
    .-item-content {
      position: relative;
      margin-right: 49px;
      border-top: 1px solid lighten($frame-color, 20%);
      border-right: 1px solid lighten($frame-color, 20%);
      padding: 10px 16px 60px 16px;
      color: $text-dark-color;
    }
  }
}

.-loading {
  padding-top: 3rem!important;
  .loading-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #fff;
  }
}