@import "../../../variables";

.tab-container{
  margin: 10px 0;
  .-tabs {
    display: flex;
    justify-content: flex-start;
    background-color: $text-lightest-color;
    border-radius: $border-radius-size;
    padding: 10px;
    margin-bottom: 12px;
    .-tab {
      border: 1px solid $text-dark-color;
      fill: $text-dark-color;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      position: relative;
      margin-left: 30px;

      svg {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .-tab:last-child{
      margin-left: 0;
    }
    a.-tab:hover, a.-active {
      background-color: $brand-inverse-color;
      & > svg {
        fill: $text-lightest-color;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .tab-container {
    .-tabs {
      .-tab {
        height: 35px;
        width: 35px;
        margin-left: 15px;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.category-title-container{
  .-categoryTitle {
    border-radius: $border-radius-size;
    padding: 5px 17px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    .edit-btn-wrapper {
      display: inline-flex;
      align-items: center;
      .edit-btn {
        width: 16px;
        cursor: pointer;
      }
    }
  }
  .category-divider{
    border: 4px solid $title-divider-color;
    border-radius: $border-radius-size;
    margin-bottom: 12px;
  }
}

.-frameCard {
  background-color: $text-lightest-color;
  border-radius: $border-radius-size;
  padding: 20px 16px 16px 16px;
  .-itemWrapper {
    position: relative;
    margin-bottom: 12px;
    .-item-icon {
      position: absolute;
      top: -29px;
      right: 0;
      width: 40px;
      height: 30px;
      border: 1px solid darken($text-title-menu-color, 1.6%);
      border-right-color: $frame-color;
      border-bottom-color: $frame-color;
      background-color: lighten($text-lighter-color, 5%);
      fill: $text-dark-color;
      padding: 4px 9px;
      svg {
        height: 20px;
        width: 20px;
      }
    }
    .-item-header {
      position: absolute;
      display: flex;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      top: -29px;
      left: 0;
      right: 0;
      margin-right: 16px;
      margin-left: 16px;
      .-item-title {
        flex: 1 1 auto;
      }
      .-item-edit-btn {
        flex: 0 0 auto;
        svg {
          fill: $text-dark-color;
          height: 16px;
          width: 16px;
          cursor: pointer;
        }
      }
    }
    .-item-content {
      position: relative;
      margin-right: 39px;
      margin-top: 31px;
      border-top: 1px solid $frame-color;
      border-right: 1px solid $frame-color;
      padding: 16px 16px 50px 16px;
      color: $text-dark-color;
    }
    &:last-child .-item-content {
      padding: 16px;
    }
  }
}

.-loading {
  padding-top: 1.25rem!important;
  .loading-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #fff;
  }
}