@import "../../variables";
.certificates-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	.certificate-wrapper {
		display: flex;
		justify-content: center;
		flex: 1 1 230px;
		min-width: 230px;
		.certificate-col {
			flex: 1 1 230px;
			min-width: 230px;
		}
	}
}


.certificate{
	display: flex;
	justify-content: center;
	.content{
		margin-top: 4px;
		width: 200px;
		border:1px solid #c9c9c99c;
		border-radius: 2px;
	}
	.certImage{
		min-width:100px;
		min-height: 100px;
		max-width: 100%;

	}
	img{
		padding-top: 5%;
		padding-bottom: 0;
		padding-right: 35%;
		padding-left: 35%;
	}
	h5{
		padding:5px;
		padding-bottom:0px;
		padding-top:15px;
		margin:0px;
		font-size:$font-size-normalText;
	}
	.shareButton{
		float:right;
		padding-left:6px;
		padding-right:6px;
		padding-bottom:6px;
		padding-top:0px;
		svg{
			width:10px;
			height:10px;
		}
	}
	.editButton{
		cursor:pointer;
		float:left;
		svg{
			width:15px;
			height: 15px;
		}
	}
}