@import "../../variables";

.certificate-wrapper {
  display: flex;
  position: relative;
  border: 1px solid $text-lighter-color;
  margin: 10px 0 20px 0;
  padding: 25px;

  .-item-edit-contribution {
    position: absolute;
    left: 6px;
    top: 0;
  }
  .content {
    flex: 3;
    .header {
      display: flex;
      justify-content: space-between;
      .certificate-title {
        font-size: $font-size-normalText;
      }
      .tick-icon {
        width: 18px;
        height: 18px;
        fill: $primary-color-light3
      }
    }
    .certificate-parent-name {
      display: inline-block;
      font-size: $font-size-normalText;
      color: $primary-color-light3;
      font-weight: bold;

      &:hover {
        color: darken($primary-color-light3, 10%);
      }
    }
  }
  .logo-container {
    margin-right: 20px;
    flex: 2;
    height: 140px;
    img {
      margin: auto;
      display: block;
      height: 140px;
    }
  }
}