@import "../../variables";

.users-explore {
  padding-bottom: 25px;
  display: inline-block;
  margin: 5px 7px;
  text-align: center;
  flex-grow: 1;
  width: 290px;
  flex-basis: 290px;
  background: white;
  border-radius: 5px;
  //box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 3px $box-shadow-color;
  height: 330px;
}

.users-explore-hide{
  padding-bottom: 25px;
  display: inline-block;
  margin: 5px 7px;
  text-align: center;
  flex-grow: 1;
  width: 290px;
  flex-basis: 290px;
  background: white;
  border-radius: 5px;
  //box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 3px $box-shadow-color;
  height: 330px;
  visibility: hidden;
}

.user-banner {
  height: 100px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.user-profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin-top: -40px;
  margin-bottom: 8px;
}

.user-default-profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: -40px;
}

.user-name {
  padding-right: 10px;
  vertical-align: top;
  display: inline-block;
  float: right;
  font-size: $font-size-normalText;
}

.user-id {
  padding-left: 10px;
  direction: ltr;
  vertical-align: top;
  display: inline-block;
  float: left;
  color: $text-title-menu-color;
  font-size: $font-size-normalText;
}

.user-description {
  clear: both;
  margin-top: 20px;
  font-size: $font-size-smallText;
  padding: 10px;
  text-align: justify;
  text-align-last: right;
  line-height: 25px;
  height: 110px;
  margin-bottom: 10px;
  overflow-y: hidden;
  color: $text-title-menu-color;
}

.user-follow {
  border: 1px solid $tag-del-btn-background;
  color: $tag-del-btn-background;
  background-color: white;
  //cursor: pointer;
  border-radius: 3px;
  padding: 2px 10px;
  float: left;
  margin-left: 10px;
  transition-duration: 0.25s;
  font-size: $font-size-normalText;
  &:hover {
    color: white;
    background-color: $tag-del-btn-background;
    transition-duration: 0.25s;
  }
  &:focus{
    outline: none;
  }
  &:active{
    background-color: $secondary-color;
  }
}

.user-followed {
  border: 1px solid $tag-del-btn-background;
  background-color: $tag-del-btn-background;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 10px;
  margin-left: 10px;
  float: left;
  transition-duration: 0.25s;
  font-size: $font-size-normalText;
  &:hover {
    background-color: white;
    color: $tag-del-btn-background;
    transition-duration: 0.25s;
  }
  &:focus{
    outline: none;
  }
  &:active{
    background-color: $secondary-color;
    color: white;
  }
}

.user-baj-container{
  float: right;
  margin-right: 5px;
}

.user-baj{
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  width: 30px;
  height: 30px;
}

.kindOfId {
  padding-bottom: 25px;
  cursor: pointer;
}

.kindId{
  float: right;
  font-size: 14px;
}