@import "../../variables";

.skill-view-container {
  .skill-bookmark {
    position: absolute;
    left: 40px;
    top: 11px;
  }
}

.skill-description {
  font-size: $font-size-regular;
}

.-itemWrapperSkill {
  border: 1px solid darken($text-light-color, 2.2%);
  padding: 12px;
  margin: 10px;
}

.-itemEditBtn {
  svg {
    width: 10px;
  }
  font-size: $font-size-verySmallText;
  float: left;
  cursor: pointer;
}

.skill-tags {
  .skill-tag {
    background-color: rgba(110, 110, 110, 0.705);
    font-size: 12px;
    font-weight: normal;
    padding: 6px 14px;
    margin-left: 8px;
    margin-bottom: 8px;
  }
}