@import "../../variables";
//********************* Skills ******************************

.tagCross {
  font-size: $font-size-boxText;
}

.skillAddTagInput {
  max-width: 50%;
  width: 200px;
}

// ******************** Posts ******************************

.-frameCardPost {
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  padding: 0;
  background-color: inherit;
}

.post-view-container {
  box-shadow: 0 3px 3px $box-shadow-color;
  margin-bottom: 10px;
  border-radius: 3px;
  background: #ffffff;
  padding: .09px;
  transition-duration: $animation-timing;
  //transform: translateZ(0);
  //backface-visibility: hidden;
  &:hover {
    // deleted for better performance (Hoseyn)
    //transition-duration: $animation-timing;
    //box-shadow: 0 13px 10px -7px $box-shadow-color;
    //transform: translateY(-2px);
    //border: 2px solid $post-hover-border-color;
  }
  .post-view-product-container {
    margin: 15px;
  }
}

.remove-post-container {
  margin: 18px 18px 18px 18px;
}

.-itemWrapperPost {
  .edit-form {
    margin: 18px 18px 18px 18px;
  }

  .-item-headerPost {
    display: flex;
    flex-direction: row;
    margin: 18px 18px 0 18px;

    .-item-edit-btnPost {
      margin-right: auto;
      padding-top: 2px;
    }
    .link-post {
      display: flex;
      flex-direction: row;
      text-decoration: none;

      .-img-col {
        img, svg {
          width: 45px;
          height: 45px;
        }
      }
      .-item-titlePost {
        display: flex;
        flex-direction: column;
        padding: 0 8px;

        .post-name {
          font-size: $font-size-post-name;
          color: $text-dark-color;
          padding: 0 8px;
        }
        .post-username {
          font-size: $font-size-post-username;
          padding: 0 8px;
        }
        .extended-post-username {
          font-size: $font-size-post-username;
          padding: 0 0 0 8px;
        }
        .post-date {
          font-size: $font-size-post-date;
          margin-top: 3px;
          padding: 0 8px;
        }
      }
    }
  }

  .post-content {
    white-space: pre;
    line-height: 2.1;
    font-size: $font-size-post-content;
    padding: 10px 0;
    margin-left: 18px;
    margin-right: 18px;
    text-align: justify;
  }

  .-item-footerPost {
    display: flex;
    margin: 0 18px 13px 18px;

    .footer-part {
      flex: 1;
      svg {
        fill: lighten($text-light-color, 3%);
      }
      span, i {
        color: lighten($text-light-color, 3%);
      }
    }
    .post-details {
      display: flex;
      position: relative;
      align-items: center;
      flex-flow: row-reverse;

      .items {
        margin-right: 15%;
        .post-menu-bottom {
          padding: 7px 8px;
          border-radius: 50px;
          transition: all $animation-timing;
          &:hover {
            background-color: $eee-color;
          }
        }
      }

      .menu-box-post {
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: $text-lightest-color;
        width: 125px;
        box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.15);
        border-radius: $border-radius;
        transition-duration: $animation-timing-short;
        > div {
          display: flex;
          flex-direction: column;
          width: 100%;
          transition-duration: $animation-timing-short;
          &:first-child {
            border-bottom: 1px solid lighten($text-lighter-color, 3.6%);
            transition-duration: $animation-timing-short;
          }
          > span, a {
            padding-right: 10px;
            cursor: pointer;
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: $font-size-boxText;
            transition-duration: $animation-timing-short;
            &:last-child {
              padding-bottom: 13px;
              transition-duration: $animation-timing-short;
            }
            &:hover {
              background-color: $eee-color;
              transition-duration: $animation-timing-short;
            }
          }
          span {
            color: $text-dark-color;
            transition-duration: $animation-timing-short;
          }
        }
      }
    }
  }
  .post-type-container {
    display: flex;
    font-size: $font-size-post-title-extended;
    color: $primary-color-light2;
    padding: 13px 18px;
    border-bottom: 1px solid lighten($text-lighter-color, 6%);

    .post-type {
      .title-label {
        margin-right: 18px;
      }
      .title {
        font-weight: bold;
        color: $success-color;
      }
    }
  }
  .comments-wrapper {
    max-height: 600px;
    overflow-y: auto;
    background: lighten($text-lighter-color, 7%);
    border-top: 1px solid lighten($text-lighter-color, 2%);

    .comment-container {
      margin: 25px 18px 20px 25px;
      .header {
        display: flex;
        margin-bottom: 8px;

        .sender-name {
          font-size: $font-size-normalText;
          color: #000000;
          margin-left: 15px;
        }

        .sender-username {
          direction: ltr;
          font-size: $font-size-normalText;
          color: $text-light-color;
          margin-left: 15px;
        }
        .comment-date {
          font-size: $font-size-regular;
          color: $text-light-color;
          margin-right: auto;
        }
        .svg-post-container {
          border: 0;
          background: inherit;
          outline: 0;
          padding: 0;
          height: 18px;
          margin-left: 15px;
          svg {
            width: 16px;
            height: 16px;
          }
          .delete-icon {
            font-size: 18px;
            position: relative;
            top: -1px;
          }
        }
      }
      .content {
        display: flex;
        font-size: $font-size-regular;

        .replied-username {
          direction: ltr;
          color: $success-color;
          margin-left: 15px;
        }
      }
    }
  }
  .add-comment {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 13px 18px;
    border-top: 1px solid lighten($text-lighter-color, 2%);

    .-img-col {
      width: 45px;
      height: 45px;
      img, svg {
        width: 45px;
        height: 45px;
      }
    }
    .add-comment-text-field {
      padding: 10px;
      font-size: $font-size-regular;
      outline: 0;
      border: 1px solid $text-lighter-color;
      border-radius: $border-radius-size;
      margin-right: 18px;
      width: 100%;

      &:focus {
        border-color: $input-focus-border;
      }
    }

    .send-comment {
      position: absolute;
      left: 32px;
      width: 18px;
      height: 18px;
      background: inherit;
      border: none;
      fill: $text-light-color;
      outline: none;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.-green2 {
  color: lighten($text-light-color, .5%);
}

.empty-posts {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}