@import "../variables";

$heightOfContentBox: 140px;
@keyframes animate-createPostFooter {
  from {
    opacity: 0
  }
}

.home-wrapper {
  .post-wrapper {
    padding: 0 8px;
  }
}

.global-wrapper {
  .page-content {
    min-height: 100%;
    //@media screen and (max-width: 1920px) and (min-width: 1366px) {
    //  margin: 0 138px;
    //}
    //@media screen and (max-width: 1366px) and (min-width: 1280px) {
    //  margin: 0 97px;
    //}
    //@media screen and (max-width: 1280px) and (min-width: 600px) {
    //  margin: 0 90px;
    //}

    @media screen and (max-width: 1920px) and (min-width: 1366px) {
      margin: 0 138px;
    }
    @media screen and (max-width: 1366px) and (min-width: 1280px) {
      margin: 0 80px;
    }
    @media screen and (max-width: 1280px) and (min-width: 900px) {
      margin: 0 30px;
    }
    @media screen and (max-width: 900px) and (min-width: 0px) {
      margin: 0 10px;
    }

    .right-sidebar {
      border-radius: $border-radius-size;
      margin-top: 11px;
      overflow-y: auto;
      max-height: fit-content;
      background: $text-lightest-color;
      box-shadow: 0 3px 3px $box-shadow-color;
    }
    .user-detail-wrapper {
      padding: 10px 8px;
    }
  }
}

.-createPostHome {
  display: flex;
  flex-direction: row;
  margin: 11px 0 15px 0;
  border-radius: $border-radius-size;
  padding: 10px;
  box-shadow: 0 3px 3px $box-shadow-color;
  background: #fff;

  .-img-col {
    margin-top: 2px;
    width: 30px;
    height: 30px;
  }

  .-content-col {
    display: flex;
    flex-grow: 1;
    border-radius: $border-radius-size;
    padding: 0 10px;
    background-color: $text-lightest-color;
    .-textBox {
      flex-grow: 1;
    }
    .post-text-field {
      flex: 1;
      outline: none;
      border: 0;
      float: right;
      resize: none;
      padding-top: 6px;
      &::placeholder {
        color: $text-light-color;
        font-size: $font-size-normalText;
      }
    }
  }

  .-createPostFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    align-items: center;

    i {
      color: lighten($text-light-color, 3%);
      font-size: 22px;
    }

    i:hover {
      color: $primary-color;
      cursor: pointer;
    }

    svg:hover {
      cursor: pointer;
    }

    svg path {
      fill: lighten($text-light-color, 3%);
    }

    svg:hover path {
      fill: $primary-color;
    }

    .submitColor {
      color: $text-title-menu-color;
    }

    .-submitAttach path {
      fill: darken($text-title-menu-color, 2.7%);
    }
  }

  .closeTextarea {
    flex-direction: row;
    justify-content: space-between;

    .rightIcons, .-createPostFooter {
      display: none;
    }

    textarea {
      height: 100%;
      overflow-y: hidden;
    }
    .-img-content {
      display: none;
    }
    .-createPostFooter {

      .leftBottomIcons {
        display: none
      }
    }
  }

  .openTextarea {
    flex-direction: column;
    textarea {
      width: 80%;
    }
    .-img-content {
      height: $heightOfContentBox;
      margin: 0 auto 0 0;
      display: flex;
      flex-direction: column;
      .-fileBox {
        height: 95%;
        max-width: 250px;
        position: relative;
        label {
          position: absolute;
          left: 1px;
          top: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          padding-right: 5px;
          padding-left: 2px;
          .edit-post-picture {
            fill: lighten($text-dark-color, 50%);
            height: 16px;
            width: 16px;
            margin-top: 2px;
            margin-left: 10px;
            &:hover {
              fill: $text-dark-color;
            }
          }
          .remove-post-picture {
            color: lighten($text-dark-color, 50%);
            font-size: 20px;
          }
        }
        img {
          height: inherit;
          width: 100%;
        }
      }
      .-fileNameBox {
        color: lighten($text-light-color, 2%);
        text-align: center;
      }
    }
    .-createPostFooter {
      animation: animate-createPostFooter 1000ms;
      animation-fill-mode: backwards;
      animation-delay: 500ms
    }
  }

}

.-h18 {
  height: 16px;
}

.-selectedPostType {
  color: $primary-color !important;
}

.-selectedPostType path {
  fill: $primary-color !important;
}
