@import "../variables";

.login-page {
  overflow: hidden;
  height: 100vh;
  .content {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &.full-page-wrapper::before {
    content: '';
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
    right: 0px;
    left: -100px;
    top: 0px;
    bottom: 0px;
    background-image: url("https://www.nrdc.org/sites/default/files/styles/full_content/public/media-uploads/coms11_path_house_2400.jpg?itok=YPC2_0ye");
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
    filter: blur(15px);
  }

  .carousel-wrapper {
    flex: 2 2 500px;
    order: 1;
    min-width: 500px;
  }

  .login-wrapper {
    flex: 1 1 300px;
    order: 2;
    min-width: 300px;
  }
}

.login-page > .login-container {
  position: relative;
  display: flex;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  .header {
    flex:0 0 50px;
    align-self: flex-start;
  }
  form .messageBox {
    height: 25px;
    color: #888;
    margin-bottom: 7px;
  }
  .content {
    flex: 1 1 400px;
    align-self: stretch;
    padding: 20px;
    height: 100%;
  }
  .footer-wrapper {
    flex:0 0 60px;
    align-self: flex-end;
  }
}

.skillDescription{
	font-size: 12px;
	color:rgb(138, 138, 138);
}
.descriptionBox{
	border:1px solid #b4b4b4;
	padding:12px;
	margin:10px;
}
.skillTags{
	.skillTag{
		background-color:rgba(110, 110, 110, 0.705)
	}
}