@import '~react-circular-progressbar/dist/styles.css';
.modal-page.hide {
  display: none;
}
.job-description{
  margin-top: 50px;
  min-height: 150px;
}
.modal-page {
  overflow: scroll;
  top:10px;
  bottom: 10px;
  position: fixed;
  direction: rtl;
  width: 80%;
  z-index: 9999;
  text-align: center;
  left: 30%;
  margin-left: -20%;
  background-color: white;
  border: 1px solid #959595;
  padding: 30px;
  input{
    font-size:12px;
  }
  label{
    font-size:12px;
  }
  .modal-title {

  }
  .agent-from-title{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 13px;
    display: flex;
    .agent-form-title-container{
      margin: 0 auto;
      transform: translate(0, 50%);

    }
    .agent-from-title-text{
      display: inline-block;
      margin: 10px;
      transform: translate(0, -50%);
    }
  }
  
  .agent-form-agent-icon{
    display: inline-block;
    width:30px;
    background: #454545;
    fill: white;
    border-radius: 100%;
    padding: 5px;
  }
  .modal-content {

  }
  .modal-hint{
    margin-top: 30px!important;
    padding: 10px;
    background-color:#ededed9e;
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    .hint-icon{
      width: 30px;
      fill: green;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .modal-body-create-exchange{
    padding-top:30px;
    width: 80%;
    margin : 0 auto;
    .exchange-description{
      resize: none;
    }
    
  }
  .modal-top-friends{
    width:80%;
    padding-top:30px;
    margin: 0 auto;
    .modal-hint-friends{
      padding: 10px;
      margin: 0 auto;
      font-size: 13px;
      .hint-icon{
        width: 30px;
        fill: green;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .invite-member-box{
    border: 1px solid lightgray;
    border-radius:5px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    .member-item{
      flex: 1 1 33.3%;
      max-width: 33.3%;
      padding: 5px;
      p{
        font-size:10px;
        text-align: right;
      }
      button{
        border-radius: 3px;
        font-size: 10px;
        color:white;
        width: 80%;
      }
      button.added { 
        background-color: #3db8ab
      }
      button.toadd{
        background: white;
        color:#3db8ab;
        border-color:#3db8ab;
        border:1px solid ;
        
      }
      .member-img{
        border-radius: 5px;
        width:100%;
        height:100%;
      }
    }
  }
  .modal-body-create-exchnage{
    margin-top: 30px !important;
    width: 80%;
    margin: 0 auto;
    font-size:13px;
  }
  .create-exchange-options{
    margin-top:40px;
  }
  .exchangeUser-label{
    padding:10px;
  }
  .search-label-create-exchange{
    border-radius: 50px!important;
    font-size: 12px;
    span {
      margin:10px;
     }
    
    input {
      font-size:12px;
      border: 0;
      background:transparent;
    }
  }
  .modal-labels-create-exchange{
    text-align: right;
    padding: 10px;
    float: right;
    border: 1px solid lightgray;
    // height: 100%;
    width: 100%;
  }
  .full-height{
    height: 100%
  }
  .modal-options {
    margin-top: 30px !important;
    width: 50%;
    margin: 0 auto;
    font-size:13px;
  }
  .modal-bottom {
    margin-top: 100px !important;
    width: 70%;
    margin: 0 auto;
    font-size:13px;
  }
  .modal-labels{
    text-align: right;
    padding-top:20px;
    padding-bottom:20px;
  }
  .modal-label{
    display: inline;
    padding-right: 2px;
    padding-left: 5px;
  }
  .modal-footers {
    margin-top: 50px !important;
    width: 80%;
    margin: 0 auto;

  }
  .modal-button{

  }
  .modal-button.link{
    border:2px solid #1a2147;
    background-color: white;
    color: #1a2147;
    height: 30px; 
    min-width: 200px;
    border-radius: 30px;
  }
  .modal-button.primary{
    border:2px solid #1a2147;
    background-color: #1a2147;
    color:white;
    height: 30px;
    min-width: 200px;
    border-radius: 30px;
  }
  .gray-text-input{
    background: #efefef;
    border: 0;
    border-radius: 0;
  }
}
// .radio-label { 
//   padding-right: 10px;
// }

// NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM 
// NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM 
// NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM // NEW EXCHANGE FORM 

/*progressbar*/
.progressbar {
	overflow: hidden;
	counter-reset: step;
	width: 30%;
  margin: 0 auto 30px;
  direction:rtl;
}
.progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: right;
	position: relative;
}
.progressbar {
  .icon-holder{
    svg{
      fill:#2e2e2e9e;
      
    }
    
    border-radius: 50%;
    margin: 0 auto 5px auto;
    width: 40px;
    height: 40px;
    background: #d8d8d8;
  }
  .icon-holder.active{
    background:#1a2147;
    svg{
      fill:white;
    }
  }
}

.progressbar .icon {
  width: 20px;
  line-height: 40px;
  display: block;
  font-size: 10px;
  margin: 0 auto 5px auto;
  transform: translate(0,50%);

}
// .progressbar li:before {
// 	content: "&nbsp;";
// 	counter-increment: step;
// 	width: 40px;
// 	line-height: 40px;
// 	display: block;
// 	font-size: 10px;
// 	color: #333;
// 	background: lightgray;
// 	border-radius: 50%;
// 	margin: 0 auto 5px auto;
// }
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
	height: 12px;
	background: lightgray;
	position: absolute;
	left: -50%;
	top: 13px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:last-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
	background:#1a2147;
	color: white;
}
.vtcha{
	max-width: 100%;
}
.vtcha .item-box,.vtcha .target-box{
	width: 170px;
	margin: 10px auto 0;
}

.img-agent-small{
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding-left: 5px;
  padding-right: 5px;
  
}
.img-agent img.selected{
  border: #3db8ab 5px solid;
  border-radius: 7px;
}

.super-tag{
  position: relative;
  float: right;
  .close-img{
    position:absolute;
    top: 0;
    left: 0;
  }
}
.circle-progress{
  position: absolute;
  width: 90%;
  .CircularProgressbar {
    width: 10%;
    transform: translate(-50%,0%);
  }
}
.center-margin{
  svg{
    fill:#3db8ab
  }
  margin: 0 auto;
}