.modal-page.hide {
  display: none;
}
.modal-page {
  top:10px;
  bottom: 10px;
  position: fixed;
  direction: rtl;
  width: 80%;
  z-index: 9999;
  text-align: center;
  left: 30%;
  margin-left: -20%;
  background-color: white;
  border: 1px solid #959595;
  padding: 30px;

  .modal-title {

  }
  .agent-from-title{
    font-size: 13px;
    display: flex;
    .agent-form-title-container{
      margin: 0 auto;
      transform: translate(0, 50%);

    }
    .agent-from-title-text{
      display: inline-block;
      margin: 10px;
      transform: translate(0, -50%);
    }
  }
  
  .agent-form-agent-icon{
    display: inline-block;
    width:30px;
    background: #454545;
    fill: white;
    border-radius: 100%;
    padding: 5px;
  }
  .modal-content {

  }
  .modal-hint{
    margin-top: 30px!important;
    padding: 10px;
    background-color:#ededed9e;
    width: 50%;
    margin: 0 auto;
    font-size: 13px;
    .hint-icon{
      font-size: 30px;
      transform: translate(0, 50%);
    }
  }
  .modal-options {
    margin-top: 30px !important;
    width: 50%;
    margin: 0 auto;
    font-size:13px;
  }
  .modal-bottom {
    margin-top: 20px !important;
    width: 70%;
    margin: 0 auto;
    font-size:13px;
  }
  .modal-labels{
    text-align: right;
    padding-top:20px;
    padding-bottom:20px;
  }
  .modal-label{
    display: inline;
    padding-right: 2px;
    padding-left: 5px;
  }
  .modal-footers {
    margin-top: 50px !important;
    width: 80%;
    margin: 0 auto;

  }
  .modal-button{

  }
  .modal-button.link{
    border:2px solid #1a2147;
    background-color: white;
    color: #1a2147;
    height: 30px; 
    min-width: 200px;
    border-radius: 30px;
  }
  .modal-button.primary{
    border:2px solid #1a2147;
    background-color: #1a2147;
    color:white;
    height: 30px;
    min-width: 200px;
    border-radius: 30px;
  }
  .gray-text-input{
    background: #efefef;
    border: 0;
    border-radius: 0;
  }
}
// .radio-label { 
//   padding-right: 10px;
// }