@import "../variables";

.modal-wrapper {
	.closer {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 6;
		background-color: rgba(0, 0, 0, 0.6);
		transition: all 0.5s ease;
	}
	.modal-content-wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 11;
		margin: 0 auto;
		transition: all 0.5s ease;
		.close-button {
			position: absolute;
			top: 15px;
			left: 15px;
			width: 15px;
			height: 15px;
			stroke: $primary-color;
		}
	}
}