.profile-tabs {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border: 1px solid #cecece;
  padding: 10px;
  margin-bottom: 10px;
  .profile-tab {
    border: 2px solid #373737;
    fill: #373737;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    padding: 7px;
    &.active {
      background-color: #373737;
      color: #ffffff;
      fill: #ffffff;
    }
    svg {
      width: 20px;
      height: 20px;
    }

  }
}

.profile-category-title {
  background-color: #eaeaea;
  color: #688491;
  padding: 7px 17px;
  margin-bottom: 10px;
  display: flex;
}

.profile-card {
  background-color: #ffffff;
  border: 1px solid #cecece;
  border-top: 5px solid #688491;
  padding: 20px 16px 16px 16px;
  .profile-item {
    position: relative;
    .profile-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 30px;
      border: 1px solid #959595;
      border-right-color: #688491;
      border-bottom-color: #688491;
      background-color: #eaeaea;
      fill: #373737;
      padding: 4px 9px;
      svg {
        height: 20px;
        width: 20px;
      }
    }
    .profile-item-header {
      position: absolute;
      display: flex;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      top: -29px;
      left: 0;
      right: 0;
      margin-right: 16px;
      margin-left: 16px;
      .profile-item-title {
        flex: 1 1 auto;
      }
      .profile-item-edit-btn {
        flex: 0 0 auto;
        svg {
          fill: #373737;
          height: 16px;
          width: 16px;
        }
      }
    }
    .profile-content {
      position: relative;
      margin-left: 39px;
      margin-top: 29px;
      border-top: 1px solid #688491;
      border-left: 1px solid #688491;
      padding: 16px 16px 50px 16px;
      color: #373737;
    }
    &:last-child .profile-content {
      padding: 16px;
    }
  }
}
