.skillDescription{
	font-size: 12px;
	color:rgb(138, 138, 138);
}
.descriptionBox{
	border:1px solid #b4b4b4;
	padding:12px;
	margin:10px;
}
.skillTags{
	.skillTag{
		background-color:rgba(110, 110, 110, 0.705)
	}
}