$topBarHeight: 65px;

// Heights & Widths
$sidebar-width: 340px;
$feed-width: 680px;
$members-width: 672.5px;
$standard-vertical-margin: 1.75%;
$standard-vertical-margin-px: 12.7px;
$standard-horizontal-margin: .75%;
$standard-horizontal-margin-px: 12.7px;
$exchange-tabs-height: 190px;
$exchange-title-height: 64px;
$scroll-bar-width: 7px;

$font-family-sans-serif: vazir, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      vazir, Georgia, "Times New Roman", Times, serif !default;

@import "~bootstrap/scss/variables";

//Animation Time
$animation-timing: .3s;
$animation-timing-short: .2s;
$animation-timing-long: .5s;
$modal-transition-time: 0.3s;

//Color Variables
$image-background-color: #F1F4F9; // in-use
$full-bg-color: #f8f9fc;
$image-background-color-gradient: linear-gradient(to bottom right, #F1F4F9, #FBFBFB);
$base-posts: #ffffff;
$background-color: #fbfbfb;
$foreground-color: #14171a;
$brand-inverse-color: #253545;
$images-box-shadow: #bfbaba;
$primary-color: #253545;
$primary-color-dark1: #192333;
$primary-color-light1: #2c3e50;
$primary-color-light2: #35495c;
$primary-color-light3: #0084bf;
$primary-color-light4: rgba(71, 91, 112, 0.75);
$chat-box1-color: #CADFE0;
$chat-box2-color: #F5F5F5;
$sidebar-bottom-color: #606060;
$sidebar-row-border-color: #c1bdbd;
$frame-color: #688491;
$error-color:lighten(crimson, 15%);
$error-color-hover:lighten(crimson, 5%);
$danger-color: #dd5145;
$success-color: #4dab9f;
$disable-color: #959595;
$warning-color: #eaae3d;
$info-color: #0084bf;
$image-edit-btn-background: rgba(0, 0, 0, 0.3);
$text-lightest-color: #fff;
$eee-color: #f6f6f6;
$text-lighter-color: #ddd;
$text-light-color: #bababa;
$text-title-menu-color: #999;
$text-dark-color: #454545;
$text-darker-color: #222;
$text-darkest-color: #000;
$text-medium-dark: #999999;
$text-input-border-color: #ccc;
$context-menu-background: whitesmoke;
$input-border: rgba(0, 0, 0, 0.15);
$input-focus-border: rgba(32, 99, 249, 0.45);
$secondary-color: #42ac97;
$tag-background: #b9b6b6;
$tag-del-btn-background: #008057;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$scroll-color: #c4c4c4;
$scroll-color-hover: #939393;
$bootstrap-success: #5cb85c;
$font-color-exchange-education: #858585;
$more-button-color: #f7f7f7;
$more-button-color-hover: #f8f8f8;
$more-button-color-hover-darker: #f1f1f1;
$input-border-color: #d9d9d9;
$telegram-icon-color: #0088cc;
$linkedin-icon-color: #0077b5;
$instagram-icon-color: #fb3958;
$youtube-icon-color: #ff0000;
$website-icon-color: #002266;

$register-part-icon-color: #eeeeee;
$register-part-in-icon-color: #aaaaaa;

$post-hover-border-color: #c2c2c2;

// font-sizes
$font-size-verySmallText: 10px;
$font-size-boxText: 12px;
$font-size-smallText: 13px;
$font-size-normalText: 14px;
$font-size-smallIcon: 15px;
$font-size-normalIcon-titleText: 16px;
$font-size-chatBarIcon: 27px;
$font-size-badge: 10px;

$font-size-followed: 10px;

$font-size-header: 22px;
$font-size-medium: 15px;
$font-size-large: 18px;
$font-size-13: 13px;
$font-size-regular: 12px;
$font-size-smallest: 8px;
$tag-font-size: 11px;
$font-size-small: 10px;
$font-size-description: 11px;

$font-size-close-btn: 24px;

$font-size-post-content: 13px;
$font-size-post-title-extended: 15px;
$font-size-post-username: 14px;
$font-size-post-name: 14px;
$font-size-post-date: 10px;

$font-size-member-name: 12px;

$font-size-exchange-education: 12px;

$border-radius-size: 4px;
$border-radius-less: 2px;
$border-radius-more: 6px;

$font-size-field-label: 14px;
$font-size-field-value: 14px;

$font-size-item-title-frame: 15px;

$font-size-contribution-title: 14px;
$font-size-contribution-content: 12px;