$brand-inverse: #253545;

$font-family-sans-serif: vazir, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      vazir, Georgia, "Times New Roman", Times, serif !default;

@import "~bootstrap/scss/variables";

//Color Variables
//primary color is Cello
$primary-color: #32485D;
$chatbox1-color: #CADFE0;
$chatbox2-color: #F5F5F5;

//text colors
$gray-border : #ddd;
$text-lightest-color: #fff;
$text-lighter-color: #ddd;
$text-light-color: #bababa;
$text-dark-color: #444;
$text-darker-color: #222;
$text-darkest-color: #000;
$topBarHeight: 67px;
