$topBarHeight: 67px;

$font-family-sans-serif: vazir, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      vazir, Georgia, "Times New Roman", Times, serif !default;

@import "~bootstrap/scss/variables";

//Color Variables
$background-body-color: #f2f4f6;
$brand-inverse-color: #253545;
$primary-color: #32485D;

$chat-box1-color: #CADFE0;
$chat-box2-color: #F5F5F5;
$sidebar-bottom-color: #606060;
$frame-color: #688491;
$error-color:lighten(crimson, 25%);
$success-color: lighten(#2acd24, 5%);
$disable-color: #8c968c;
$info-color: lighten(aqua, 20%);
$image-edit-btn-background: rgba(0, 0, 0, 0.3);
$text-lightest-color: #fff;
$eee-color: #eee;
$text-lighter-color: #ddd;
$text-light-color: #bababa;
$text-title-menu-color: #999;
$text-dark-color: #373737;
$text-darker-color: #222;
$text-darkest-color: #000;

$text-input-border-color: #999999;
$input-border: rgba(0, 0, 0, 0.15);
$input-focus-border: rgba(32, 99, 249, 0.45);
// font-sizes
$font-size-verySmallText: 10px;
$font-size-boxText: 12px;
$font-size-smallText: 13px;
$font-size-normalText: 14px;
$font-size-smallIcon: 15px;
$font-size-normalIcon-titleText: 16px;
$font-size-chatBarIcon: 27px;

$font-size-header: 22px;
$font-size-regular: 12px;
$font-size-small: 8px;