body {
  direction: rtl;
  overflow-x: hidden;
  height: 100%;
  background-color: #f2f4f6;
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
}

html {
  height: 100%;
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
}

input, textarea, button, select {
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
}

@import "./font-face";
@import "./_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~react-select/dist/react-select.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "./components/utils.scss";
@import "./pages/home";
@import "./pages/login";

@import "components/bars/bars";
@import "components/bars/chatbar";
@import "components/common/cards/frames";
@import "components/common/input-group-vertical";
@import "components/common/inputs/file-input";
@import "components/common/inputs/file-name";
@import "components/common/list-group-addons";
@import "components/common/media";
@import "components/exchange/exchangeView";
@import "components/exchange/masonry";
@import "components/exchange/post";
@import "components/login/Carousel";
@import "components/login/FooterLogin";
@import "components/login/HeaderLogin";
@import "components/login/SocialLogin";
@import "components/organization/basicInformation";
@import "components/organization/customers";
@import "components/organization/products";
@import "components/user/certificates";
@import "components/user/skill";
@import "components/user/tabs";
@import "icons_svg";
@import "layout";
@import "product/product-explorer";
@import "product/product-view";
