body {
  direction: ltr;
  overflow-x: hidden;
  background-color: #f2f4f6;
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
}

html {
  min-height: 100%;
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
}

input, textarea, button, select {
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
}

@import "~bootstrap/scss/bootstrap";
@import "~react-select-2/dist/css/react-select-2.css";
@import "./_variables.scss";
@import "./components/utils.scss";
@import "./font-face";
@import "./pages/login";
@import "./pages/profile";
@import "components/common/input-group-vertical";
@import "components/common/inputs/file-input";
@import "components/common/inputs/file-name";
@import "components/common/list-group-addons";
@import "components/common/media";
@import "components/login/Carousel";
@import "components/login/FooterLogin";
@import "components/login/HeaderLogin";
@import "components/login/SocialLogin";
@import "layout";

