@import "variables";

body {
  direction: rtl;
  overflow-x: hidden;
  height: 100%;
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
  //background-image: url("../images/common/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
}

html {
  height: 100%;
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
}

input, textarea, button, select {
  font-family: "IRANSansWebFaNum", "Helvetica Neue", sans-serif !important;
}

@import "./font-face";
@import "./_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~react-select/dist/react-select.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "./components/utils.scss";
@import "./animations";
@import "./pages/home";
@import "./pages/login";
@import "./pages/progressive";
@import "./pages/modal";
@import "./pages/adding-contribution/adding-contribution";
@import "./pages/addingExchange/adding-exchange";
@import "./components/exchange/explore/explore";
@import "./components/user/explore";
@import "components/bars/bars";
@import "components/bars/chatbar";
@import "components/common/badge";
@import "components/common/basic-information";
@import "components/common/Text";
@import "components/common/contribution";
@import "components/bars/product-bar";
@import "components/common/cards/frames";
@import "components/common/input-group-vertical";
@import "components/common/inputs/circular-checkbox";
@import "components/common/inputs/file-input";
@import "components/common/inputs/file-name";
@import "components/common/inputs/otherInput";
@import "components/common/inputs/radio-button-input";
@import "components/common/inputs/select-input";
@import "components/common/label";
@import "components/common/list-group-addons";
@import "components/common/media";
@import "components/common/product";
@import "components/common/tag/tag";
@import "components/common/common-redux-form";
@import "components/common/tooltip";
@import "components/common/post";
@import "components/common/comment";
@import "components/common/user-card";
@import "components/common/wrappers/wrappers";
@import "components/common/image/image";
@import "components/common/user-detail-panel";
@import "components/exchange/exchangeView";
@import "components/exchange/ExchangeView/index";
@import "components/exchange/ExchangeView/post";
@import "components/exchange/ExchangeView/view";
@import "components/exchange/statics";
@import "components/exchange/masonry";
@import "components/login/Carousel";
@import "components/login/ContentLogin";
@import "components/login/FooterLogin";
@import "components/login/HeaderLogin";
@import "components/organization/basicInformation";
@import "components/organization/customers";
@import "components/organization/products";
@import "components/user/certificates";
@import "components/user/skill";
@import "components/user/social";
@import "components/user/tabs";
@import "components/user/education";
@import "components/validation_styles";
@import "/components/exchange/members.scss";
@import "icons_svg";
@import "layout";
@import "product/product-explorer";
@import "product/product-view";
@import "product/basic-information/basic-info";

a, a:hover, a:active {
  text-decoration: none;
}

.colMd3 {
  vertical-align: top;
  width: 446px;
  margin: 0 8px;
}

.colMd6 {
  vertical-align: top;
  width: 908px;
  margin: 0 8px;
}

.colMd9 {
  vertical-align: top;
  width: 1370px;
  margin: 0 8px;
}

.colMd12 {
  width: 1832px;
  margin: auto;
  overflow-x: hidden;
}

.background-strips{
  background-image: repeating-linear-gradient(-45deg, #eee, #eee 10px, #f8f8f8 10px, #f8f8f8 20px);
}
@media screen and (max-width: 1920px) {
  .colMd3 {
    vertical-align: top;
    width: 323px;
    margin: 0 8px;
  }

  .colMd6 {
    vertical-align: top;
    width: 662px;
    margin: 0 8px;
  }

  .colMd9 {
    vertical-align: top;
    width: 1001px;
    margin: 0 8px;
  }

  .colMd12 {
    width: 1340px;
    overflow-x: hidden;
    margin: auto;
  }
}

@media screen and (max-width: 1366px) {
  .colMd3 {
    vertical-align: top;
    width: 302px;
    margin: 0 8px;
  }

  .colMd6 {
    vertical-align: top;
    width: 620px;
    margin: 0 8px;
  }

  .colMd9 {
    vertical-align: top;
    width: 938px;
    margin: 0 8px;
  }

  .colMd12 {
    width: 1256px;
    margin: auto;
    overflow-x: hidden;
  }
}
button {
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}