@import "variables";
svg {
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.red-path {
  fill: red
}

.white-path {
  fill: $text-lightest-color
}

.-rectSvg {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.-whiteSvg svg path {
  fill: $text-lightest-color;
}

.-item-edit-btn {
  svg {
    fill: lighten($text-dark-color, 50%);
    height: 16px;
    width: 16px;
    margin-top: 6px;
  }

  &:hover svg {
    fill: $text-dark-color;
  }
}

.user-lock-private {
  position: absolute;
  fill: lighten($text-dark-color, 0%);
  height: 20px;
  width: 20px;
  left: 35px;
  top: -25px;
}

.new-product-xsmall-svg{
  margin-top:80px;
  width: 90%;
}