@import "variables";

.full-page-wrapper {
  padding-top: 20px;
}

.-main {
  margin-top: $topBarHeight;
  background-color: $full-bg-color;
  overflow: hidden;
}

.top-bar-entity {
  display: none;
}

.-left-sidebar-wrapper {
  z-index: 2;
  position: fixed;
  left: 0;
  top: $topBarHeight;
  bottom: 0;
  //overflow-y: auto;
}

.-content-wrapper {
  margin: 0 auto;
  min-height: 100vh;
}

.center-column {
  padding: 0 8px;
}

.home-sidebar-cont {
  margin-top: 10px;
  height: calc(99vh - 351px);
  overflow-y: auto;
  padding-left: 1px;

  .item-wrapper {
    &.active {
      background: $selected-exchange;
      border-left: 2px solid $success-color;
    }
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: $scroll-color;
      transition: all linear 0.3s;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: $border-radius-size;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: $border-radius-size;
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: $border-radius-size;
    box-shadow: none;
    transition: all linear 0.3s;

    &:hover {
      background: $scroll-color-hover;
    }
  }

}

.exchanges-last {
  width: 100%;
  pointer-events: none;
  height: 80px;
  background-image: linear-gradient(to bottom, rgba($full-bg-color-rgb, 0) 70%, $full-bg-color 95%);
  position: absolute;
  transform: translateY(-95%);
  left: 0;
  right: 0;
}

.home-sidebar-cont-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #E7E7E7;
}

.home-sidebar-cont-item {
  flex-grow: 1;
  text-align: right;
  font-size: $font-size-regular;
  font-weight: bold;
}

.home-sidebar-cont-item-more {
  text-decoration: none;
  flex-grow: 1;
  text-align: left;
  color: $primary-color-light3;
  font-size: 12px;
  font-weight: normal;
}

.header-container-exchange {
  background-color: white;
  width: 99%;
  margin: auto;
  border-radius: 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}


.header-container {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.header-container-item {
  flex-grow: 1;
  color: $text-medium-dark;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition-duration: 0.3s;
}

.header-container-item-active {
  border-bottom: 2px solid $secondary-color;
  flex-grow: 1;
  color: $secondary-color;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header-container-item-material {
  width: 100%;
  padding: 10px;
  transition-duration: 0.3s;
}

.header-container-item-material-first {
  width: 100%;
  padding: 10px 15px;
  transition-duration: 0.3s;
}


.header-container-item-material-ex {
  width: 100%;
  padding: 10px 20px;
  transition-duration: 0.3s;
}

.header-container-item-material-ex-first {
  width: 100%;
  padding: 10px 25px;
  transition-duration: 0.3s;
}