@import "../../../variables";

/*--------------------------------- ExchangePosts ------------------ */
.-exchangePosts {
  display: flex;
  flex-direction: column;
  margin-right: 35px;

  .createPost {
    width: 75%;
    margin-right: 0;
  }

  .filterBox {
    margin: 10px 15px 10px 0;
    display: flex;
    flex: 1;
    background-color: $chat-box2-color;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 90px;

    span {
      font-size: $font-size-boxText;
    }

    i {
      color: lighten($text-light-color, 3%);
    }

    i:hover {
      cursor: pointer;
      color: $primary-color;
    }

    svg {
      cursor: pointer;
      fill: lighten($text-light-color, 3%);

      :hover {
        fill: $primary-color;
      }
    }

    .clicked {
      fill: $primary-color;
      color: $primary-color;
    }
  }
}

.exchange-view-bar-socials {
  display: flex;
  justify-content: space-around;

  .fa-instagram {
    font-size: 29px;
    background: -webkit-linear-gradient(30deg, #ffd02a, #dc3b26, #8500ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }

  .fa-telegram {
    padding: 3px;
    font-size: 26px;
    background: -webkit-linear-gradient(-30deg, cornflowerblue, rgb(66, 70, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fa-linkedin {
    font-size: 28px;
    color: royalblue;
  }

  .fa-linkedin-square {
    font-size: 28px;
    color: royalblue;
  }

  .fa-youtube-play {
    padding: 2px;
    font-size: 27px;
    color: red;
  }

  .fa-twitter{
    font-size: 28px;
    color: #38A1F3;
  }

  .disable-logo {
    color: $disable-color;
    background: -webkit-linear-gradient(-30deg, $disable-color, $disable-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}