@import "../../variables";

.post-slider-black-back {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 3;
  transition-duration: $animation-timing-short;
  opacity: 1;
}

.post-slider-black-back-close {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
  opacity: 1;
}

.post-slider-container {
  position: fixed;
  z-index: 3;
  background-color: $primary-color;
  text-align: center;
  border-radius: $border-radius-size;
  overflow: hidden;
  opacity: 1;
  transition-duration: $animation-timing;
  top: 6vh;
  bottom: 5vh;
  //left: 20vw;
  //right: 20vw;
  transform: scale(1) translate(20%, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post-slider-container-inactive {
  position: fixed;
  z-index: -1;
  background-color: $primary-color;
  text-align: center;
  border-radius: $border-radius-size;
  overflow: hidden;
  opacity: 0;
  transform: scale(.2) translate(50%, 0);
}

.post-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-left-arrow-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -5px;
  top: 0;
  bottom: 0;
  width: 120px;
  z-index: 3;
  transition-duration: $animation-timing-short;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
  opacity: .7;

  &:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent);
    transition-duration: $animation-timing;
    opacity: 1;
    cursor: pointer;
  }
}

.slider-left-arrow {
  width: 30px;
  z-index: 3;
  fill: $background-color;
  transform: rotate(180deg);
}

.slider-right-arrow-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5px;
  top: 0;
  bottom: 0;
  width: 120px;
  z-index: 3;
  transition-duration: $animation-timing-short;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
  opacity: .7;

  &:hover {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent);
    transition-duration: $animation-timing;
    opacity: 1;
    cursor: pointer;
  }
}

.slider-right-arrow {
  width: 30px;
  z-index: 3;
  fill: $background-color;
  transition-duration: $animation-timing-short;
}

.slider-arrow-hide {
  position: fixed;
  opacity: 0;
  z-index: -1;
  top: -20vh;
}

.post-slider-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 45px;
  font-weight: bold;
  color: $background-color;
  top: -5px;
  left: -5px;
  width: 120px;
  height: 120px;
  transition-duration: $animation-timing-short;
  opacity: .85;
  z-index: 4;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: $animation-timing;
    color: $background-color;
    opacity: 1;
  }
}

.post-slider-close-button-hide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 45px;
  font-weight: bold;
  color: $background-color;
  top: -150px;
  left: -5px;
  width: 120px;
  height: 120px;
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}