@import "../../variables";

.proposal-cont {
  padding: 0 18px 18px 18px;
  user-select: none;
}

.proposal-send-box {
  vertical-align: top;
  width: calc(100% - 63px);
  display: inline-block;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}

.proposal-send-textarea {
  font-size: $font-size-regular;
  margin: 10px 10px 0 10px;
  width: calc(100% - 20px);
  height: 70px;
  border-radius: 5px;
  resize: none;

  &::placeholder {
    color: #BEBEBE;
  }
}

.proposal-send-profile {
  vertical-align: top;
  margin: 10px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  height: 96px;
  padding: 18px;
  overflow: hidden;
}

.proposal-resume-cont {
  background-color: #F7F7F7;
  vertical-align: top;
  margin: 10px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  height: 96px;
  padding: 18px;
  overflow: hidden;
  cursor: pointer;
}

.proposal-owner {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-left: 18px;
  border-radius: 50%;
  overflow: hidden;
}

.proposal-resume {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-left: 18px;
  border-radius: 1px;
  background-color: #F7F7F7;
}

.proposal-resume-logo {
  width: 28px;
  height: 28px;
}

.proposal-resume-observe {
  color: $primary-color-light3;
  display: flex;
  justify-content: space-between;

  span {
    cursor: pointer;
  }

  .resume-close {
    color: $post-hover-border-color;
  }
}

.proposal-resume-not-exist {
  color: $post-hover-border-color;
}

.proposal-resume-download {
  a {
    color: $secondary-color;
    cursor: pointer;
  }

  svg {
    fill: $secondary-color;
    vertical-align: top;
    margin-top: 3px;
    width: 13px;
    margin-left: 4px;
  }
}

.proposal-resume-upload {
  color: #BEBEBE;
  cursor: pointer;

  svg {
    fill: #BEBEBE;
    vertical-align: top;
    margin-top: 3px;
    width: 13px;
    margin-left: 4px;
  }
}

.proposal-send-profile-content {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
  font-size: $font-size-regular;
  width: calc(100% - 78px);
  vertical-align: top;

  div {
    flex-grow: 1;
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.proposal-send-profile-content-desc {
  color: #BEBEBE;
}

.proposal-send-btn {
  width: 20px;
  fill: lighten($primary-color-light3, 15%);
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all linear 0.3s;

  &:hover {
    fill: $primary-color-light3;
    transition: all linear 0.3s;
  }
}

.proposal-loading {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proposal-loading-down {
  font-size: $font-size-regular;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-proposal-container {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.post-proposal-title {
  color: #BEBEBE;
  font-size: $font-size-regular;
  font-weight: bold;
  padding: 10px 0;
}

.post-proposal-profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  overflow: hidden;
}

.post-proposal-content {
  font-size: $font-size-regular;
  padding: 18px;
  background-color: white;
  border-bottom: 1px solid #ECECEC;
}

.post-proposal-content-profile {
  display: inline-block;
  width: calc(100% - 63px);
  vertical-align: top;
}

.post-proposal-content-desc {
  margin-top: 15px;
  vertical-align: top;
  padding-right: 62px;
}

.post-proposal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.post-proposal-user-icon {
  vertical-align: top;
  fill: $disable-color;
  width: 18px;
  margin-right: 60px;
}

.post-proposal-resume-icon {
  vertical-align: top;
  fill: $secondary-color;
  width: 18px;
  cursor: pointer;
}

.post-proposal-not-resume-icon {
  vertical-align: top;
  fill: $disable-color;
  width: 18px;
}

.post-proposal-bookmark {
  vertical-align: top;
  width: 12px;
  margin-left: 60px;
  cursor: pointer;
}