@import "../variables";

.about-us {
  .tabs-card-wrapper {
    .content {
      .detail-row {
        display: flex;
        margin-bottom: 8px;

        .title {
          background: $fields-bg-color;
          flex: 1 1 30%;
          max-width: 30%;
          margin-bottom: 0;
          margin-left: 8px;
          padding: 8px;
        }
        .value {
          background: $fields-bg-color;
          flex: 1 1 70%;
          max-width: 70%;
          padding: 8px;
          margin: 0;
        }

        .edit-text-fields {
          flex: 1 1 70%;
          max-width: 70%;
        }
      }
      .text-field-error {
        color: $danger-color;
        font-size: $font-size-regular;
        padding: 0 10px 10px 0;
      }
    }
  }
}