@import "../common";


.new-contribution-wrapper {
  margin: 0 auto;
  .categories-wrapper h5 {
    margin-bottom: 20px;
  }
  .categories-wrapper .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    .category {
      margin-left: 7.5%;
      border: 3px solid $chat-box2-color;
      flex: 0 0 150px;
      border-radius: 20px;
      height: 150px;
      min-width: 150px;
    }
    .category.active {
      border: 3px solid $brand-inverse;
    }
    .category .image {
      display: flex;
      margin: 40px 0 14px;
    }
    .category .image .new-contribution-category-image {
      height: 50px;
      width: 50px;
      margin: 0 auto;
    }
    .category .image .skill-icon {
      transform: rotate(45deg);
    }
    .category .title {
      text-align: center;
      color: $text-title-menu-color;
    }
    .category .new-contribution-category-image path {
      fill: $text-title-menu-color;
    }
    .category.active .title {
      color: $brand-inverse;
    }
    .category.active .new-contribution-category-image path {
      fill: $brand-inverse;
    }
  }
  .tip {
    margin: 60px auto;
  }
}
