@import "../../../../variables";

@media screen and (max-width: 480px) and (min-width: 0) {
  .post-slider-container {
    position: fixed;
    z-index: 3;
    background-color: transparent;
    text-align: center;
    border-radius: $border-radius-size;
    overflow: hidden;
    opacity: 1;
    top: 12vh;
    bottom: 12.5vh;
    left: 2vw;
    right: 2vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: slider-in .35s ease;
  }

  .post-slider-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 45px;
    font-weight: bold;
    color: $background-color;
    top: 0;
    right: 0;
    width: 12.5vh;
    height: 12.5vh;
    opacity: 1;
    z-index: 3;
    cursor: pointer;
    animation: close-btn-in $animation-timing-long ease;
    background-color: rgba(0, 0, 0, 0.1);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .slider-left-arrow-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    height: 12.5vh;
    top: auto;
    width: 49vw;
    z-index: 1000000000;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: none;
    opacity: 1;
    animation: arrows-in $animation-timing-long ease;

    &:hover {
      background-image: none;
    }
  }

  .slider-left-arrow {
    width: 30px;
    z-index: 3;
    fill: $background-color;
    transform: rotate(180deg);
  }

  .slider-right-arrow-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    height: 12.5vh;
    top: auto;
    width: 49vw;
    z-index: 1000000000;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: none;
    opacity: 1;
    animation: arrows-in $animation-timing-long ease;

    &:hover {
      background-image: none;
    }
  }

  .slider-right-arrow {
    width: 30px;
    z-index: 3;
    fill: $background-color;
    transition-duration: $animation-timing-short;
  }

  @keyframes arrows-in {
    from {
      bottom: -20vh;
      top: auto;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      bottom: 0;
      top: auto;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  @keyframes close-btn-in {
    from {
      top: -100px;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      top: 0;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}