@import "../../common";


.initial-info {
  .category-selection {
    @extend %none-bordered-select;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    .form-column {
      min-height: 300px;
      flex: 1 1 300px;
      min-width: 250px;
      padding: 60px 0 0;
    }
    .form-column .form-group {
      padding: 0;
      margin: 0;
    }
    .form-column .form-group.desc {
      margin-top: 26px;
    }
    .form-column:first-child {
      margin-left: 25px;
    }
    .form-column:last-child {
      margin-right: 25px

    }

    .form-column .form-group input {
      @extend %none-bordered-input;
      margin: 14px 0;
    }
    .form-column .form-group textarea {
      @extend %none-bordered-input;
      margin: 14px 0;
      height: 126px;
    }
    .form-column .radio-button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: self-start;
      margin: -9px 0 3px;
    }
    .form-column .radio-button-group label {
      margin: 0;
      align-self: flex-end;
      flex: 1 1;
    }
    .form-column .radio-button-group .radio-btns-wrapper {
      display: flex;
      justify-content: space-between;
      flex: 1 1 160px;
      padding-left: 9px;
    }
    .form-column .select-input-wrapper .select {
      margin: 14px 0;
    }
  }
  .form .form-column .location-fields-wrapper {
    display: flex;
    .location-select {
      flex: 1 1;
      label {
        display: none;
      }
     @extend %none-bordered-select;
    }
  }
}

@media (max-width: 781px) {
  .initial-info .form .form-column:first-child,
  .initial-info .form .form-column:last-child {
    margin: 0;
  }
}
