@import "../../../variables";

@media screen and (max-width: 480px) and (min-width: 0) {
  .-frameCardPost {
    margin-top: $smallTopBarHeight;

    &.user-posts {
      margin-top: 0;
    }
  }
  .-frameCardPostEx {
    margin-top: 0;

    &.user-posts {
      margin-top: 0;
    }
  }
}