@import "../../../../../variables";
@media screen and (max-width: 480px) and (min-width: 0) {
  .exchange-page {
    padding-top: $topBarHeight - 10px;
  }

  .exchange-view-sidebar {
    width: 100%;
    margin-bottom: 10px;
  }

  .header-container-exchange{
    width: 100%;
  }

  .exchange-navbar-container{
    width: 100%;
  }
}