@import '../../variables';

.link-info-container {
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .youtube-icon {
    fill: $youtube-icon-color;
  }
  .telegram-icon {
    fill: $telegram-icon-color;
  }

  .instagram-icon {
    fill: $instagram-icon-color;
  }

  .linkedin-icon {
    fill: $linkedin-icon-color;
  }

  .web-site-icon {
    fill: $website-icon-color;
  }
}
