@import "../../variables";

.card-row-container {
  margin-bottom: 20px;

  .card-row-main {
    display: flex;

    .card-row-sidebar {
      display: flex;
      height: 100px;
      flex: 1 1 100px;
      min-width: 100px;
      flex-direction: column;
      background: $fields-bg-color;
      font-size: $font-size-regular;
      border-radius: $border-radius-size;
      align-items: center;
      justify-content: center;

      svg {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
      }
    }

    .card-row-content {
      display: flex;
      flex: 1 1 100%;
      flex-direction: row;
      margin-right: 15px;

      .card-row-content-right {
        flex: 1 1 65%;
        min-width: 65%;
        position: relative;
        padding: 10px 0;

        .edit-icon {
          position: absolute;

          left: 10px;
          width: 15px;
          height: 15px;
          fill: $image-edit-btn-background;
        }

        .text {
          color: $primary-color;
        }

        .blue-text {
          color: $info-color;
        }

        &.card-row-entity {
          padding: 10px 0;

          .attach-file {
            display: block;
            color: $success-color;
            padding-top: 5px;
            transition: all $animation-timing;

            &:hover {
              color: darken($success-color, 10%);
            }

            .attach-file-icon {
              font-size: 15px;
              padding: 5px 0 0 5px;
            }
          }
        }
      }

      .card-row-content-image {
        flex: 1 1 35%;
        min-width: 35%;
        height: 100px;
        object-fit: cover;
      }
    }

    .card-row-content-image {
      min-width: 29%;
      height: 100px;
      object-fit: cover;
    }
  }
  .card-row-date {
    position: relative;
    display: block;
    top: -15px;
    text-align: left;
  }
}