@import '../../variables';

.comment-container {
  width: 100%;
  background-color: white;
  border-top: 1px solid #dddddd;
  height: auto;
  //border-radius: 3px;
  //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 18px 1px 18px;
  margin: 1px;
}

.comment-body {
  width: 87.5%;
  display: inline-block;
  vertical-align: top;
  border-radius: $border-radius;
  border: 1px solid #e7e7e7;
  transition-duration: $animation-timing;
  position: relative;
}

.comment-body-focused{
  border: 1px solid #BBBBBB;
  border-radius: $border-radius;
  transition-duration: $animation-timing;
  width: 87.5%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 7.5px;
}

.comment-owner {
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-left: 18px;
  border-radius: 50%;
  display: inline-block;
}

.comment-text-area {
  overflow-y: auto;
  width: 99%;
  resize: none;
  border-radius: 3px;
  border: none;
  padding: 8.5px 15px 0 70px;
  font-size: 13px;
  transition-duration: $animation-timing-long;
  height: 35px;
  line-height: 24px;
  display: inline-block;
  &:focus {
    outline: none;
    transition-duration: $animation-timing-long;
    height: 90px;
    width: 99%;
  }
}

.comment-text-area-open {
  overflow-y: auto;
  width: 99%;
  resize: none;
  border-radius: 3px;
  border: none;
  padding: 8.5px 15px 0 70px;
  font-size: 13px;
  transition-duration: $animation-timing-long;
  height: 90px;
  line-height: 24px;
  &:focus {
    outline: none;
    transition-duration: $animation-timing-long;
  }
}

.comment-icons {
  width: 75px;
  position: absolute;
  bottom: 1px;
  left: 7px;
  transition-duration: 0.3s;
  display: inline-block;
  text-align: left;
  margin-top: 9px;
  margin-bottom: 9px;
}