@import '../../variables';

.contribution-view-container {
  position: relative;
  border: 1px solid lighten($frame-color, 43%);
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px;

  .contribution-title {
    font-size: $font-size-contribution-title ;
  }
  .contribution-edit {
    position: absolute;
    left: 15px;
    top: 5px;
    display: inline-block;
  }

  .contribution-bookmark {
    width: 20px;
    height: 20px;
  }
}