@import "../../variables";

.edit-modal {
  .our-modal-body {
    margin-top: 20px;
    max-height: 70vh;
    padding-left: 10px;
    overflow-y: auto;

    .detail-row {
      margin-bottom: 20px;
      .title {
        font-size: $font-size-regular;
      }
      .fill-resume-text {
        font-size: $tag-font-size;
        padding-right: 25px;
      }
      .edit-text-fields {
        padding: 10px;
        transition: $animation-timing ease;
        border-color: $scroll-color;

        &:focus {
          border-color: $success-color;
        }
      }
      .modal-tip {
        color: $text-light-color;
        font-size: $font-size-regular;
        padding: 10px;

        &.resume-modal {
          padding-right: 0;
          padding-bottom: 15px;
        }
      }
    }
    
    .detail-row-container {
      display: flex;
      width: 100%;
      flex: 1 1 100%;

      .detail-row {
        flex: 1 1 45%;
        min-width: 45%;
        margin: 0 10px;

        &:first-child{
          margin-right: 0;
        }

        &:last-child{
          margin-left: 0;
        }
      }
    }
  }
}