@import "../../variables";

.small-event-arrow {
  width: 5px;
  fill: $foreground-color;
  transform: translateY(2px) rotate(180deg);
}

.organization-leadership-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-reg-modal-elements {
  width: 60%;
  position: relative;
  color: $foreground-color;
}

.event-reg-modal-header {
  width: 100%;
  border-bottom: 1.25px solid #cdcdcd;
  padding: 15px 5px;
  color: $foreground-color;
  font-size: $font-size-regular;
  text-align: right;
  margin-bottom: 30px;
}

.event-reg-modal-body {
  width: 100%;
  padding: 0 10%;
  color: $foreground-color;
  font-size: $font-size-regular;
  text-align: right;

  input {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  textarea {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.event-reg-modal-checkbox-cont {
  font-size: 12px;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  text-align: right;
  cursor: pointer;
  margin-top: 10px;
}

.event-reg-modal-checkbox-title {
  display: inline-block;
  vertical-align: top;
}

.event-reg-modal-checkbox-selected {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $secondary-color;
  position: relative;
  margin-left: 8px;
  cursor: pointer;

  &:after {
    content: ' ';
    position: absolute;
    vertical-align: top;
    top: 4.5px;
    left: 4.5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $secondary-color;
  }
}

.event-reg-modal-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $scroll-color;
  position: relative;
  margin-left: 8px;
  cursor: pointer;
}

.selective-inputs-container {
  padding-right: 30px;
  margin-right: 10px;
  margin-top: 15px;
  border-right: 1px solid $disable-color;
}

.fahad-modal-card-checkboxes {
  display: inline-block;
  vertical-align: top;
  margin: 5px 1px 0 0;
  width: 100%;

  .checkmark {
    position: absolute;
    top: 2px;
    right: 0;
    height: 18px;
    width: 18px;
    border-radius: $border-radius-size;
    border: 1px solid #c0c0c0;
    background-color: white;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}

.fahad-modal-card-checkbox {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding-right: 25px;
  padding-bottom: 15px;
  color: black;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  margin: 8px auto;
  transition-duration: $animation-timing;

  &:first-child {
    margin-top: 15px;
  }

  &:last-child {
    padding-bottom: 5px;
    border-bottom: none;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked + .checkmark {
      background-color: $secondary-color;

      &:after {
        display: block;
      }
    }
  }

  .checkmark:after {
    left: 4px;
    top: 0;
    width: 6px;
    height: 11.25px;
    border: solid $text-lightest-color;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.fahad-modal-upload-svg-con {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.25px solid $secondary-color;
  width: 60px;
  height: 60px;
  margin: 10px 0 15px 0;
  position: relative;
  overflow: hidden;

  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.fahad-modal-upload-svg {
  width: 30px;
  fill: $secondary-color;
  cursor: pointer;
  object-fit: cover;
}

.fahad-modal-upload-svg-logo {
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.have-product-container {
  text-align: center;
  height: 60vh;
  font-size: $font-size-regular;
  overflow: auto;
  margin: auto;

  p {
    margin-bottom: 15px;
  }
}

.disabled-text {
  color: $disable-color;
}

.fahad-modal-product-svg-con {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.25px solid $primary-color;
  width: 150px;
  height: 150px;
  margin: 10px auto 15px auto;
}

.fahad-modal-product-svg {
  width: 75px;
  fill: $secondary-color;
  cursor: pointer;
  object-fit: cover;
}

.add-product-button {
  min-width: 80px;
  cursor: pointer;
  background-color: $primary-color;
  border: 1.25px solid $background-color;
  transition-duration: $animation-timing;
  font-size: $font-size-verySmallText;
  color: $background-color;
  border-radius: 25px;
  padding: 6px 12px;
  float: left;
  box-shadow: 0 0 0 0 $primary-color;
  text-align: center;
  opacity: 1;

  &:hover {
    color: $primary-color;
    border: 1.25px solid $primary-color;
    background-color: $background-color;
    transition-duration: $animation-timing;
    box-shadow: 0 0 0 0 $primary-color;
  }

  &:active {
    background-color: $primary-color;
    border: 1.25px solid $background-color;
    color: $background-color;
    transition-duration: $animation-timing-short;
    box-shadow: 0 0 0 2px $primary-color;
  }
}

.client-product-container-inactive {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 25px 10px 0 10px;
  width: 98%;
  height: 125px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius-size;
  padding: 5px;
  text-align: right;
  overflow: hidden;
  transition-duration: $animation-timing;
  opacity: .7;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);

  &:hover {
    opacity: .9;
    transition-duration: $animation-timing;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.client-product-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 25px 10px 0 10px;
  width: 98%;
  height: 125px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
  border-radius: $border-radius-size;
  padding: 5px;
  text-align: right;
  overflow: hidden;
  transition-duration: $animation-timing;
  opacity: 1;
  -webkit-filter: saturate(150%);
  filter: saturate(150%);
  position: relative;

  .client-product-container-checked-svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
  }
}

.client-product-model-logo {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  width: 114px;
  height: 114px;
  background-color: $more-button-color-hover-darker;
  border-radius: 3px;
  margin-left: 10px;

  .client-product-model-logo-svg {
    width: 50px;
    margin: 5px;
  }
}

.client-product-info {
  font-size: $font-size-medium;
  color: $foreground-color;
  margin: 10px 0;
  height: 114px;
  text-align: right;
  flex-grow: 1;

  .client-product-desc {
    color: $disable-color;
    font-size: $font-size-14;
  }
}

.client-product-image-con {
  width: 200px;
  height: 114px;
  border-radius: $border-radius-size;

  .client-product-image {
    width: 200px;
    height: 114px;
    object-fit: cover;
  }
}

.inteli-input-light-border {
  margin: 10px auto 20px auto;
  border: 1.25px solid #cdcdcd;
}

.fahad-product-gallery-container {
  display: inline-flex;
  position: relative;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fahad-product-gallery-item-container {
  width: 125px;
  height: 70px;
  background-color: $background-color;
  border-radius: $border-radius-size;
  border: 1px dashed #cdcdcd;
  position: relative;
}

.fahad-modal-increase-decrease-con {
  display: flex;
  justify-content: space-between;
}

.fahad-modal-check-svg {
  width: 20px;
}

.fahad-modal-cancel-svg {
  width: 20px;
}

.fahad-modal-cancel-check-text {
  margin: auto 5px;
}

.fahad-modal-cancel-check-con {
  display: flex;
  align-items: center;
}

.validation-error-fahad {
  height: 30px;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  color: $danger-color;
  font-size: $font-size-regular;
  transition-duration: $animation-timing-long;
}

.validation-error-fahad-hide {
  height: 0;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  color: $danger-color;
  font-size: $font-size-regular;
  transition-duration: $animation-timing-long;
}