.label-tag{
  background-color: #b8b8b8;
  color: white;
  padding: 2px;
  font-size: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
.label-number{
  background-color: #071024;
  color: white;
  padding: 2px;
  font-size: 10px;
  padding-right: 8px;
  padding-left: 8px;
  
}