@import '../../variables';

.post-component-container {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 18px;
  margin: 10px auto;
}

/* -------------------------------   post header -------------------------*/
.post-component-header {
  white-space: nowrap;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.post-component-header-item {
  padding-top: 15px;
}

.post-component-header-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-left: 18px;
  border-radius: 50%;
}

.post-component-header-item-logo {
  margin: -2px 10px 0 10px;
  cursor: pointer;
  fill: $brand-inverse-color
}

.post-component-header-item-logo-unselect {
  margin: -2px 10px 0 10px;
  fill: #BBBBBB;
  cursor: pointer;
  &:hover {
    fill: $brand-inverse-color
  }
}

.post-component-header-item-logo1 {
  height: 16px;
  margin: -2px 10px 0 10px;
  cursor: pointer;
  fill: $brand-inverse-color
}

.post-component-header-item-logo1-unselect {
  height: 16px;
  margin: -2px 10px 0 10px;
  fill: #BBBBBB;
  cursor: pointer;
  &:hover {
    fill: $brand-inverse-color
  }
}

.post-component-header-item-logo2 {
  margin-top: 0;
  vertical-align: top;
  cursor: pointer;
  fill: $brand-inverse-color
}

.post-component-header-item-logo2-unselect {
  margin-top: 0;
  vertical-align: top;
  fill: #BBBBBB;
  cursor: pointer;
  &:hover {
    fill: $brand-inverse-color
  }
}

/* -------------------------------   post textarea -------------------------*/
.post-component-textarea {
  overflow-y: auto;
  width: 100%;
  resize: none;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  font-size: 13px;
  transition-duration: 0.3s;
  height: 45px;
  line-height: 26px;
  &:focus {
    outline: none;
    border: 1px solid #BBBBBB;
    transition-duration: 0.3s;
    height: 148px;
  }
}

.post-component-textarea-open {
  overflow-y: auto;
  width: 100%;
  resize: none;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  font-size: 13px;
  transition-duration: 0.3s;
  height: 148px;
  line-height: 26px;
  &:focus {
    outline: none;
    border: 1px solid #BBBBBB;
    transition-duration: 0.3s;
  }
}

/* -------------------------------   post footer -------------------------*/
.post-component-footer {
  margin-top: 8px;
  position: relative;
  transition-duration: 0.3s;
}

.post-component-footer-items-style {
  display: inline-block;
  background-color: $success-color;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  border: none;
  padding: 1px 10px;
  margin: 8px 2px;
  vertical-align: top;
}

.post-component-footer-items-style-hide {
  display: inline-block;
  background-color: $success-color;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  border: none;
  padding: 1px 0;
  margin: 8px 0;
  vertical-align: top;
  opacity: 0;
  width: 1px;
}

.post-component-footer-items-style-text {
  display: inline-block;
  vertical-align: top;
  &:after {
    content: "  ";
  }
}

.post-component-footer-items-style-close {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  font-weight: bold;
  cursor: pointer;
  font-size: 11px;
}

.post-component-footer-send {
  float: left;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 8px 0;
  position: relative;
}

.post-component-footer-send-btn {
  display: inline-block;
  background-color: $brand-inverse-color;
  border: 1px solid transparent;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  margin-left: 2px;
  padding: 1px 25px;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 75px;
  &:hover {
    border: 1px solid $brand-inverse-color;
    color: $brand-inverse-color;
    background-color: white;
    transition-duration: 0.3s;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: $brand-inverse-color;
    border: 1px solid transparent;
    color: white;
    transition-duration: 0.3s;
  }
}

.post-component-footer-send-attach {
  fill: #BBBBBB;
  width: 20px;
  vertical-align: top;
  margin: 3px 7.5px 0 7.5px;
  cursor: pointer;
  display: inline-block;
  transition-duration: $animation-timing;
  &:hover {
    fill: $brand-inverse-color;
    transition-duration: $animation-timing;
  }
}

.post-component-footer-logo {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  text-align: center;
  fill: #BBBBBB;
  color: #BBBBBB;
  width: 30px;
}

.post-component-footer-attach-menu-container {
  position: absolute;
  top: -7px;
  left: 0;
  width: 113px;
  text-align: center;
  overflow-y: hidden;
  height: 218px;
  border-radius: 3px;
  transition: ease-in 0.3s;
  z-index: 1;
}

.post-component-footer-attach-menu-container-hide {
  position: absolute;
  top: -7px;
  left: 0;
  width: 113px;
  text-align: center;
  overflow-y: hidden;
  height: 0;
  transition: ease-out 0.3s;
}

.post-component-footer-attach-menu {
  direction: rtl;
  margin: auto;
  width: 98%;
  margin-top: 2px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  background-color: white;
  font-size: 13px;
  border-radius: 3px;
}

.post-component-footer-contact-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  text-align: center;
  overflow-y: hidden;
  height: 395px;
  transition: ease-in 0.3s;
  cursor: pointer;
  z-index: 1;
}

.post-component-footer-contact-menu-container-hide {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  text-align: center;
  overflow-y: hidden;
  height: 0;
  transition: ease-out 0.3s;
}

.post-component-footer-contact-menu {
  direction: rtl;
  margin: auto;
  width: 98%;
  margin-top: 2px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  background-color: white;
  font-size: 13px;
  border-radius: 3px;
  padding: 10px;
  height: 390px;
}

.post-component-footer-searchbox {
  display: inline-block;
  width: 65%;
  float: left;
  border-radius: 15px;
  background-color: whitesmoke;
  margin-top: -2.5px;
}

.post-component-footer-searchbox-input {
  //color: white;
  width: 85%;
  border: none;
  text-align: right;
  background-color: inherit;
  border-radius: 15px;
  padding: 0 5px;
  height: 25px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $text-light-color;
  }
}

.post-component-footer-searchbox-icon {
  color: $text-light-color;
}

.post-component-footer-contact-menu-icon {
  float: right;
  //font-weight: bold;
}

.post-component-footer-contact-menu-content {
  clear: both;
  text-align: right;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  height: 293px;
  overflow-y: auto;
}

.post-component-footer-check-container {
  vertical-align: top;
  margin-right: 1.5%;
  .checkmark {
    position: absolute;
    top: 2px;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
  }
}

.post-component-footer-checkbox {
  margin: 15px 0;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding-right: 25px;
  color: black;
  cursor: pointer;
  font-size: 11px;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked + .checkmark {
      background-color: $brand-inverse-color;
    }
  }
  .checkmark:after {
    left: 4px;
    top: 0;
    width: 6px;
    height: 11.25px;
    border: solid $text-lightest-color;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  &:first-child {
    margin-top: 0;
  }
}

.post-component-footer-contact-menu-content-title {
  color: #BBBBBB;
  margin: 0 0 12px 0;
}

.post-component-footer-logos {
  fill: $primary-color;
  width: 20px;
  vertical-align: top;
  margin-left: 8px;
}

.post-component-footer-submit-btn {
  display: inline-block;
  background-color: $brand-inverse-color;
  border: 1px solid transparent;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  margin-left: 2px;
  padding: 1px 25px;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 75px;
  margin-top: 17px;
  margin-right: 15px;
  &:hover {
    border: 1px solid $brand-inverse-color;
    color: $brand-inverse-color;
    background-color: white;
    transition-duration: 0.3s;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: $brand-inverse-color;
    border: 1px solid transparent;
    color: white;
    transition-duration: 0.3s;
  }
}

.post-component-footer-cancel-btn {
  display: inline-block;
  background-color: white;
  border: 1px solid $brand-inverse-color;
  color: $brand-inverse-color;
  font-size: 12px;
  border-radius: 20px;
  margin-left: 2px;
  padding: 1px 25px;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 75px;
  margin-top: 17px;
  &:hover {
    border: 1px solid $brand-inverse-color;
    color: white;
    background-color: $brand-inverse-color;
    transition-duration: 0.3s;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: white;
    border: 1px solid $brand-inverse-color;
    color: $brand-inverse-color;
    transition-duration: 0.3s;
  }
}

.post-component-footer-items-style-cont {
  display: inline-block;
  width: calc(100% - 30px);
}

/* -------------------------------   post attached pictures -------------------------*/
.post-attached-pictures {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  div {
    position: relative;
    span {
      position: absolute;
      top: 0;
      left: 10px;
      background-color: $eee-color;
      height: 20px;
      padding: 0 2px;
    }
    img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      object-fit: cover;
    }
  }
}

.post-component-footer-link-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 1;
  transition-duration: 0.3s;
}

.post-component-footer-link-modal-hide {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
  transition-duration: 0.3s;
}

.post-component-footer-link-modal-container {
  padding: 15px;
  background-color: white;
  border-radius: 3px;
  position: fixed;
  top: 40%;
  width: 30%;
  left: 35%;
}

.post-component-footer-link-modal-container-title {
  margin-bottom: 15px;
  font-size: 14px;
}

.post-component-footer-link-modal-container-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px 5px;
  text-align: left;
  direction: ltr;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  &:focus {
    outline: none;
    border: 1px solid #BBBBBB;
  }
}

.post-component-footer-link-modal-container-buttons {
  text-align: left;
}

.post-component-footer-link-modal-cancel-btn {
  display: inline-block;
  background-color: white;
  border: 1px solid $brand-inverse-color;
  color: $brand-inverse-color;
  font-size: 12px;
  border-radius: 20px;
  margin-left: 2px;
  padding: 2px 25px;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 75px;
  &:hover {
    border: 1px solid $brand-inverse-color;
    color: white;
    background-color: $brand-inverse-color;
    transition-duration: 0.3s;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: white;
    border: 1px solid $brand-inverse-color;
    color: $brand-inverse-color;
    transition-duration: 0.3s;
  }
}

.post-component-footer-link-modal-submit-btn {
  display: inline-block;
  background-color: $brand-inverse-color;
  border: 1px solid transparent;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  margin-left: 2px;
  padding: 2px 25px;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 75px;
  margin-right: 15px;
  &:hover {
    border: 1px solid $brand-inverse-color;
    color: $brand-inverse-color;
    background-color: white;
    transition-duration: 0.3s;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: $brand-inverse-color;
    border: 1px solid transparent;
    color: white;
    transition-duration: 0.3s;
  }
}

.post-component-footer-link{
  display: inline-block;
  font-size: 13px;
  padding-top: 2px;
}