@import "../../variables";

.more-option-svg {
  width: 12px;
  height: 12px;
  margin-right: 1px;
  margin-bottom: 2px;
}

.more-option-svg-container{
  width: 30px;
  height: 30px;
  margin-left: 7.5px;
}

.comment-svg {
  width: 20px;
}

.comment-svg-container{
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    position: absolute;
    right: -10px;
    font-size: $font-size-regular;
  }
}

.cls-1-comment, .cls-2-comment {
  fill: none;
}

.cls-2-comment {
  stroke: #c2c2c2;
  stroke-linecap: round;
  strokeWidth: 2px;
}

.cls-3-comment, .cls-4-comment {
  stroke: none;
}

.cls-4-comment {
  fill: #c2c2c2;
}