@import "../../variables";

.product-view-container {
  min-height: 120px;

  .product-edit-container {
    height: 20px;
    width: 100%
  }
  .product-content-container {
    display: flex;
    .product-content {
      position: relative;
      flex: 3;
      margin-left: 15px;

      .product-bookmark {
        position: absolute;
        left: -3px;
      }
      .product-bookmark-without-image {
        position: absolute;
        left: 10px;
        top: -4px
      }
      .product-owner-name{
        color: $info-color;
        font-weight: bold;
        font-size: $font-size-contribution-content;
        display: inline-block;

        p {
          margin-bottom: 8px;
        }
        &:hover {
          color: darken($info-color, 10%);
        }
      }
      .price-show-container {
        display: flex;
        justify-content: space-between;
        font-size: $font-size-contribution-content;
        padding-bottom: 4px;

        p {
          margin-bottom: 8px;

          span {
            font-weight: bold;
          }
        }
        .show-more {
          font-weight: bold;

          .product-more-icon {
            transform: rotate(90deg);
            width: 13px;
            height: 13px;
            position: relative;
            margin-right: 5px;
            top: 4px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .product-img-container {
      flex: 2;

      .product-img {
        width: 100%;
        height: 140px;
      }
    }
  }
  .description-container {
    font-size: $font-size-contribution-content;
  }
}