@import "../../variables";


.custom-tooltip {
  position: relative;
  display: inline-block;
  .element {

  }
  .desc-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    display: inline-block;
    background: black;
    position: absolute;
    top: 29px;
    right: 50%;
    transform: translateX(50%);
    min-width: 200px;
    .desc {
      padding: 10px;
      display: inline-block;
      color: $text-lighter-color;
    }
    .point {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 50%;
      transform: translateX(50%) rotate(45deg);
      background: black;
      top: -8px;
    }
  }
  &.top-center {
    .point {
      top: auto;
      bottom: -8px;
    }
    .desc-wrapper {
      top: auto;
      bottom: 29px;
    }
  }
  &:hover {
    .desc-wrapper {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s;
    }
  }
}
