@import "../../variables";

$sidebar-profile-media-width: 80px;

.user-detail-panel-container {
  background-color: #ffffff;
  margin-top: -1px;
  border-radius: $border-radius-size;
  //box-shadow: 0 3px 3px $box-shadow-color;
  overflow: hidden;
  transform: perspective(0);

  .image-part-container {
    position: relative;
    height: 120px;

    .profile-media {
      width: $sidebar-profile-media-width;
      height: $sidebar-profile-media-width;
      position: absolute;
      transform: translate(-50%, 50%);
      bottom: 0;
      left: 50%;
    }

    .organ-profile-container {
      width: $sidebar-profile-media-width;
      height: $sidebar-profile-media-width;
      position: absolute;
      transform: translate(-50%, 50%);
      bottom: 0;
      left: 50%;

      background-color: #ffffff;
      border-radius: 50%;
      padding: 15px;
    }

    .organ-default {
      width: $sidebar-profile-media-width;
      height: $sidebar-profile-media-width;
      position: absolute;
      right: 0;
      top: 0;
    }
    //
    //.banner {
    //  border-radius: $border-radius-size $border-radius-size 0 0;
    //}
  }
  .user-detail-body {
    margin-top: 50px;
    display: flex;
    padding: 0 15px 15px 15px;
    flex-flow: column;
    font-size: $font-size-regular;

    .user-detail-row {
      display: flex;
      justify-content: space-between;

      .user-detail-label {

      }
      .user-detail-value {
        color: $info-color;
      }
      .user-detail-username {
        font-weight: bold;
        color: $foreground-color;
        padding: 0;
        margin: 0;
        font-size: $font-size-regular;
        //margin-bottom: 30px;
      }
      .user-detail-username-value {
        text-align: left;
        direction: ltr;
        color: $text-light-color;
        padding: 0;
        margin: 0;
        //margin-bottom: 30px;
      }
    }
  }
}