.scroll-less-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.right .wrapper {
    right: -17px;
    overflow-y: scroll;
  }
  &.left .wrapper {
    left: -17px;
    overflow-y: scroll;
  }
  &.top .wrapper {
    top: -17px;
    overflow-x: scroll;
  }
  &.bottom .wrapper {
    bottom: -17px;
    overflow-x: scroll;
  }
}