@import "../../../../variables";

@media screen and (max-width: 480px) and (min-width: 0) {
  .card-row-container {
    .card-row-main {
      flex-wrap: wrap;

      .card-row-content-image {
        height: 150px;
        margin: 10px 0;
        max-width: 480px;
        min-width: 100%;
      }

      .card-row-content {
        flex: 0 0 calc(100% - 115px);
      }
    }
  }
}