@import "../../variables";

.login-page .content {
  .carousel-wrapper {
    color: $primary-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 50%;
    padding: 0 5%;
    min-width: 50%;

    .carousel-svg {
      width: 100%;
      flex: 1 1 100%;
    }
  }

  .carousel-btn-bar-wrapper {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;

    ul {
      list-style-type: none;
      display: flex;
      margin: 0 15px;

      li span {
        font-size: 12px;
        padding: 10px;
      }
    }
  }

  .carousel-content {
    display: flex;
    flex: 1 1 100%;
  }

  .login-slide {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .login-slide-header {
    font-size: 15px;
    // align-self: flex-start;
  }

  .login-slide-desc {
    line-height: 30px;
    font-size: 13px;
    width: 250px;
    white-space: nowrap;
    margin: -10px 0 20px 0;
  }

  .login-slide-enter {
    opacity: 0.01;
    transform: translate3d(-12px, 0px, 0px);
  }

  .login-slide-enter-active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 1000ms, transform 1000ms ease-in;
  }

  .login-slide-exit {
    opacity: 0;
    transform: translate3d(12px, 0px, 0px);
    transition: opacity 1000ms ease-out, transform 1000ms ease-out;
  }

  .login-slide-header-enter {
    opacity: 0.01;
    transform: translate3d(12px, 0px, 0px);
  }

  .login-slide-header-enter-active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 1000ms, transform 1000ms;
  }

  .login-slide-header-exit-active {
    opacity: 0.1;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 1000ms, transform 1000ms;
  }
}
