.carousel-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  div {
    padding: 10px;
  }
}
.carousel-btn-bar{
  align-items: center;
  display: flex;
  ul {
    list-style-type:none;
    display: flex;
    flex-direction: column;
  }
}
.content {
  header {
    font-size: 124%;
  }
  p {
    line-height: 30px;
    align-self: flex-end;
  }
}

.login-slide-enter {
  opacity: 0.01;
  transform: translate3d(0px, -30px, 0px);
}

.login-slide-enter-active {
  opacity: 1;
  transform: translate3d(0px,0px,0px);
  transition: opacity 1000ms, transform 1000ms ease-out;
}

.login-slide-exit {
  opacity: 0.1;
  transform: translate3d(0px,30px,0px);
  transition: opacity 1000ms, transform 1000ms ease-in;
}
.login-slide-header-enter {
  opacity: 0.01;
  transform: translate3d(0px,14px,0px);
}

.login-slide-header-enter-active {
  opacity: 1;
  transform: translate3d(0px,0px,0px);
  transition: opacity 400ms, transform 400ms ease-out;
}