@import "../../variables";

@keyframes animate-messageBox {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 25px;
  }
}

@keyframes animate-sign-in-form {
  from {
    height: 38px;
  }
  to {
    height: 278px;
  }
}

@keyframes animate-sign-up-form {
  from {
    height: 38px;
  }
  to {
    height: 340px;
  }
}

.login-page .content {
  display: flex;
  flex: 1 1 400px;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 150px;
  padding-bottom: 100px;

  & ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
  }

  & ::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
  }

  & :-ms-input-placeholder { /* IE 10+ */
    color: #999999;
  }

  & :-moz-placeholder { /* Firefox 18- */
    color: #999999;
  }

  .login-wrapper {
    flex: 1 1 300px;
    order: 2;
    max-width: 345px;
    min-width: 300px;
    &.sign-in-form {
      .card {
        overflow-y: hidden;
        animation: animate-sign-in-form 1000ms ease-in-out forwards;
      }
    }

    &.sign-up-form {
      .card {
        overflow-y: hidden;
        animation: animate-sign-up-form 1000ms ease-in-out forwards;
      }
    }
  }

  .carousel-wrapper {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 2 2 500px;
    order: 1;
    min-width: 500px;
    max-width: 800px;
    margin-top: 54px;
  }
}

//Header of Login and Signup form
.login-tab {
  font-size: $font-size-normalText;
  button {
    flex: 1;
    padding: 10px 0;
    background-color: #e6e6e6;
    border: 1px solid #999;
    border-top: 0 solid transparent;
  }
  button:hover {
    background-color: #f7f7f7;
    cursor: pointer;
  }
  span {
    flex: 1;
    text-align: center;
    margin: auto 0;
  }
  .signup-tab {
    display: flex;
    flex-direction: row;
    button {
      border-right: 0 solid transparent;
      border-radius: 0 0 0 7px;
    }
  }
  .signin-tab {
    display: flex;
    flex-direction: row;
    button {
      border-left: 0 solid transparent;
      border-radius: 0 0 7px 0;
    }
  }
}

// inputs and submit box
.login-form {

  .my-form-control-lg {
    padding: 0.56rem 1.2rem;
    font-size: $font-size-smallIcon;
    border-radius: 0.3rem;
  }

  .-mb-2 {
    margin-bottom: 0.5rem;
  }

  .messageBox {
    margin-bottom: 7px;
    font-size: $font-size-smallIcon;
    animation: animate-messageBox 400ms;
  }

  .login-submit-button {
    font-size: $font-size-normalIcon-titleText;
    padding: 0.52rem;
    margin-top: 0.8rem;
  }
}

// recovery box
.remember-recovery {
  display: inline-flex;
  padding-right: 0.9rem;
  label {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    font-size: $font-size-boxText;
    color: #0275d8;
    &:hover {
      color: #014c8c;
    }
  }
  input {
    margin-left: 0.3rem;
    font-size: $font-size-verySmallText;
    height: 12px;
  }
  .recovery-button {
    font-size: $font-size-boxText;
    text-decoration: none;
    cursor: pointer;
    padding-top: 0.5rem;
  }
}

// social-login box
.social-login {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  &.card-footer {
    padding: 0.53rem 1.25rem
  }

  & span {
    flex: 0 0 50%;
    font-size: $font-size-boxText;
  }
}

.social-login-wrapper {
  display: flex;
  flex: 0 0 50%;
  flex-flow: row;
  justify-content: flex-end;

  .social-icon-wrapper {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-border;
    border: 2px solid $gray-border;
    border-radius: 50%;
    margin: 0 4px;

    .social-button {
      font-size: $font-size-smallIcon;
    }

    &:hover {
      cursor: pointer;
    }

    &.twitter:hover {
      color: skyblue;
      border-color: skyblue;
    }

    &.google:hover {
      color: red;
      border-color: red;
    }

    &.facebook:hover {
      color: dodgerblue;
      border-color: dodgerblue;
    }

  }
}