@import "../../variables";

@keyframes animate-messageBox {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 25px;
  }
}

@keyframes animate-sign-in-form {
  0% {
    height: 38px
  }
  99% {
    height: 278px
  }
  100% {
    height: auto
  }
}

@keyframes animate-sign-up-form {
  0% {
    height: 38px
  }
  99% {
    height: 340px
  }
  100% {
    height: auto
  }
}

@keyframes animate-sign-up-person-form {
  0% {
    height: 0
  }
  99% {
    height: 225px
  }
  100% {
    height: auto
  }
}

@keyframes animate-sign-up-organ-form {
  0% {
    height: 0
  }
  99% {
    height: 319px
  }
  100% {
    height: auto
  }
}

@keyframes error-message {
  from {
    opacity: 0;
    top: -10px
  }
  to {
    opacity: 1;
    top: 0
  }
}

.login-page .content {
  display: flex;
  flex: 1 1 400px;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 100px;
  padding-bottom: 100px;

  & ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $text-title-menu-color;
  }

  & ::-moz-placeholder { /* Firefox 19+ */
    color: $text-title-menu-color;
  }

  & :-ms-input-placeholder { /* IE 10+ */
    color: $text-title-menu-color;
  }

  & :-moz-placeholder { /* Firefox 18- */
    color: $text-title-menu-color;
  }

  .login-wrapper {
    flex: 1 1 300px;
    order: 2;
    max-width: 345px;
    min-width: 300px;
    &.sign-in-form {
      .card {
        overflow-y: hidden;
        animation: animate-sign-in-form 1000ms ease-in-out forwards;
      }
    }

    &.sign-up-form {
      .card {
        overflow-y: hidden;
        animation: animate-sign-up-form 1000ms ease-in-out forwards;
      }
    }
  }

  .carousel-wrapper {
    color: $text-lightest-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 2 2 500px;
    order: 1;
    min-width: 500px;
    max-width: 800px;
    margin-top: 54px;
  }
}

//Header of Login and Signup form
.login-tab {
  font-size: $font-size-normalText;
  button {
    flex: 1;
    padding: 10px 0;
    background-color: lighten($text-lighter-color, 3.6%);
    border: 1px solid $text-title-menu-color;
    border-top: 0 solid transparent;
    color: darken($text-light-color, 15%);
    font-size: $font-size-normalText;
  }
  button:hover {
    background-color: lighten($chat-box2-color, .8%);
    cursor: pointer;
  }
  span {
    flex: 1;
    text-align: center;
    margin: auto 0;
  }
  .signup-tab {
    display: flex;
    flex-direction: row;
    button {
      border-right: 0 solid transparent;
      border-radius: 0 0 0 7px;
    }
  }
  .signin-tab {
    display: flex;
    flex-direction: row;
    button {
      border-left: 0 solid transparent;
      border-radius: 0 0 7px 0;
    }
  }
}

// inputs and submit box
.login-form {

  .my-form-control-lg {
    padding: 0.56rem 1.2rem;
    font-size: $font-size-smallIcon;
    border-radius: 0.3rem;
  }

  .-mb-2 {
    margin-bottom: 0.5rem;
  }

  .messageBox {
    margin-bottom: 7px;
    font-size: $font-size-smallIcon;
    animation: animate-messageBox 400ms;
  }

  .login-submit-button {
    font-size: $font-size-normalIcon-titleText;
    padding: 0.52rem;
    margin-top: 0.8rem;
  }
}

.remember-recovery {
  display: inline-flex;
  padding-right: 0.9rem;
  label {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    font-size: $font-size-boxText;
    color: #0275d8;
    &:hover {
      color: #014c8c;
    }
  }
  input {
    margin-left: 0.3rem;
    font-size: $font-size-verySmallText;
    height: 12px;
  }
  .recovery-button {
    font-size: $font-size-boxText;
    text-decoration: none;
    cursor: pointer;
    padding-top: 0.5rem;
  }
}

.social-login {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  &.card-footer {
    padding: 0.53rem 1.25rem
  }

  & span {
    flex: 0 0 50%;
    font-size: $font-size-boxText;
  }
}

.social-login-wrapper {
  display: flex;
  flex: 0 0 50%;
  flex-flow: row;
  justify-content: flex-end;

  .social-icon-wrapper {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-lighter-color;
    border: 2px solid $text-lighter-color;
    border-radius: 50%;
    margin: 0 4px;

    .social-button {
      font-size: $font-size-smallIcon;
    }

    &:hover {
      cursor: pointer;
    }

    &.twitter:hover {
      color: skyblue;
      border-color: skyblue;
    }

    &.google:hover {
      color: red;
      border-color: red;
    }

    &.facebook:hover {
      color: dodgerblue;
      border-color: dodgerblue;
    }

  }
}

.signup-wrapper {
  %flex-space-between {
    display: flex;
    justify-content: space-between;
  }
  .radio-button-group {
    @extend %flex-space-between;
  }
  .radio-button-group .radio-btns-wrapper {
    @extend %flex-space-between;
    .item {
      padding: 0 7px;
    }
  }
  .organization-signup-form {
    animation: animate-sign-up-organ-form 1s ease-in-out forwards;
  }
  .person-signup-form{
    animation: animate-sign-up-person-form 1s ease-in-out forwards;
  }
  .organization-signup-form, .person-signup-form {
    select {
      display: flex;
      width: 100%;
      height: 37px;
      border: 1px solid $input-border;
      background-color: white;
      color: $text-input-border-color;
      padding: 0 0.8rem 0 0 !important;
    }
    input, select {
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      border: 1px solid $input-border;
      display: block;
      width: 100%;
      padding: 0.56rem 0.8rem;
      font-size: 15px;
      border-radius: 0.3rem;
      line-height: 17.986px;
      color: $text-input-border-color
    }

    input:focus, select:focus {
      box-shadow: none;
      border: 1px solid $input-focus-border;
    }
    input.error, select.error {
      border: 2px solid $error-color;
      transition: all 0.6s;
    }
    .error-message {
      color: $error-color;
      animation-name: error-message;
      animation-duration: 0.6s;
      margin-bottom: 7px;
      font-size: $font-size-regular;
      position: relative;
    }
    .signup-field {
      margin-bottom: 10px;
    }
    .hidden-part {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 1s;
    }
    .visible-part {
      max-height: 500px;
      overflow: hidden;
      opacity: 1;
      transition: all 1.5s;
    }
    select .option {
      background-color: blue;
    }
  }
}
