@import '../../variables';

.login-page .header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .logo-wrapper {
    flex: 0 0 100px;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: $text-lighter-color;
    .logo {
      flex: 0 0 50px;
      font-size: 45px;
      color: $text-lightest-color;
      margin: 5px 0 0 0px;
      line-height: 45px;
    }
    .company-name {
      flex: 0 0 100px;
      font-size: 30px;
      color: $text-lightest-color;
      display: flex;
      align-items: center;
    }
    .divider {
      width: 0px;
      border: 1.5px solid $text-lightest-color;
      height: 70%;
      margin: 0 5px;
    }
    .logo-caption {
      min-width:80px;
      flex:0 0 80px;
      font-size: 18px;
      margin: 10px;
    }
  }


  .address-wrapper {
    flex: 0 0 500px;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    .address-section ,.app-icon-section {
      display: flex;
      flex-direction: row;
    }
    .address-wrapper-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .phone-number , .address {
      color: $text-lightest-color;
      font-size: 15px;
    }
    .icon {
      margin: 0 10px;
      line-height: 50px;
      &.phone-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        background-color: $text-lightest-color;
        margin: 0 10px;
      }
      div {
        width: 50px;
        height: 50px;
        background-color: lighten($text-lightest-color,40%);
        text-align: center;
        border-radius: 50%;
      }
      font-size: 29px;
    }
    .icon , a {
      color: $text-dark-color;
    }
  }
}