@import "../../variables";

.social-login {
  display: flex;
  flex-flow: row;
  align-items: center;

  & span {
    flex: 0 0 50%;
  }
}

.social-login-wrapper {
  display: flex;
  flex: 0 0 50%;
  flex-flow: row;
  justify-content: flex-end;

  .social-icon-wrapper {
    width:36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-border;
    border: 2px solid $gray-border;
    border-radius: 50%;
    margin:0 4px;

    .social-button {
      font-size: 20px;
    }

    &:hover {
      cursor: pointer;
    }

    &.twitter:hover {
      color: skyblue;
      border-color: skyblue;
    }

    &.google:hover {
      color: red;
      border-color: red;
    }

    &.facebook:hover {
      color: dodgerblue;
      border-color: dodgerblue;
    }

  }
}

//Header of Login and Signup form
.login-tab {
  font-size: 18px;
  .signup-tab {
    display: flex;
    flex-direction: row;
    button {
      flex: 1;
      padding: 15px 0;
      font-size: 18px;
      background-color: #e6e6e6;
      border: 1px solid #999;
      border-top: 0 solid transparent ;
      border-right: 0 solid transparent;
      border-radius:0 0 0 7px ;
    }
    button:hover {
      background-color: #f7f7f7;
      cursor: pointer;
    }
    span {
      flex: 1;
      text-align: center;
      line-height: 52px;
    }
  }
  .signin-tab {
    display: flex;
    flex-direction: row;
    button {
      flex: 1;
      padding: 15px 0;
      font-size: 18px;
      background-color: #e6e6e6;
      border: 1px solid #999;
      border-top: 0 solid transparent ;
      border-left: 0 solid transparent;
      border-radius:0 0 7px 0 ;
    }
    button:hover {
      background-color: #f7f7f7;
      cursor: pointer;
    }
    span {
      flex: 1;
      text-align: center;
      line-height: 52px;
      //background-color: green;
    }
    //background-color: yellowgreen;
  }
}