@import "../../../variables";

.exchange-model {
  position: relative;
  padding: 15px 15px 25px 15px;
  display: inline-block;
  margin: 5px 10px 5px 0;
  text-align: center;
  flex-grow: 1;
  width: 270px;
  flex-basis: 270px;
  background-color: $text-lightest-color;
  border-radius: 5px;
  box-shadow: 0 3px 3px 1.5px $box-shadow-color;
  height: 355px;
  overflow: hidden;

  @media screen and (max-width: 480px) {
    margin: 0;
    border-bottom: 2px solid $eee-color;
    height: auto;
    min-height: 80px;
    padding-bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.exchange-model-hide {
  position: relative;
  padding: 0 15px;
  display: inline-block;
  margin: 0 10px 0 0;
  text-align: center;
  flex-grow: 1;
  width: 270px;
  flex-basis: 270px;
  background-color: $text-lightest-color;
  border-radius: 5px;
  box-shadow: 0 3px 3px $box-shadow-color;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.exchange-model-follow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: $font-size-smallText;
  color: $primary-color-light3;
  background-color: transparent;
  padding: 1px 6px 0 6px;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid $primary-color-light3;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    transition-duration: 0.3s;
    background-color: $primary-color-light3;
    color: white;
  }
}

.exchange-model-avatar {
  position: relative;
  height: 80px;
  margin: 0 auto 8px auto;
  width: 80px;
  background-color: #f3f3f3;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 480px) {
    position: absolute;
    top: 15px;
    right: 20px;
    margin-top: 0;
    transform: scale(0.6);
    transform-origin: top right;
  }
}

.exchange-model-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exchange-model-avatar-default {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  fill: $text-light-color;
}

.exchange-model-avatar-back {
  position: absolute;
  width: 250%;
  filter: blur(20px);
  opacity: .6;
  z-index: 1;
  object-fit: cover;
  transform: translate3d(47.5%, -30%, 0);
}

.exchange-model-detail-filter {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  filter: blur(35px);
  opacity: .75;
  z-index: -1;
}

.exchange-model-title {
  font-weight: bold;
  font-size: $font-size-smallText;
  margin: 10px 0;

  @media screen and (max-width: 480px) {
    padding-right: 10px;
    position: absolute;
    top: 30px;
    right: 80px;
    width: calc(100% - 200px);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    overflow: hidden;
    margin: 0;
  }

}

.exchange-model-title-skeleton {
  font-weight: bold;
  font-size: $font-size-smallText;
  margin: 10px 0;
  background-color: #f3f3f3;
  border-radius: 3px;


  @media screen and (max-width: 480px) {
    position: absolute;
    top: 13px;
    right: 80px;
    width: calc(100% - 200px);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    margin: 0;
  }
}

.exchange-model-description-skeleton {
  text-align: justify;
  text-align-last: center;
  font-size: $font-size-regular;
  line-height: 25px;
  height: 67px;
  overflow-y: hidden;
  background-color: #f3f3f3;
  border-radius: 3px;

  @media screen and (max-width: 480px) {
    margin-top: 65px;
    margin-right: 80px;
    margin-left: 5px;
    height: 50px;
    text-align-last: right;
    color: #bababa;
  }

}

.exchange-model-description {
  text-align: justify;
  text-align-last: center;
  font-size: $font-size-regular;
  line-height: 25px;
  height: 75px;
  overflow-y: hidden;

  @media screen and (max-width: 480px) {
    margin-top: 65px;
    margin-right: 80px;
    margin-left: 5px;
    height: auto;
    text-align-last: right;
    color: #bababa;
  }
}

.exchange-model-description-nullable {
  text-align: justify;
  text-align-last: center;
  font-size: $font-size-regular;
  line-height: 25px;
  height: 75px;
  overflow-y: hidden;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.exchange-model-followers-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 3px
}

.exchange-model-followers-count {
  vertical-align: top;
  display: inline-block;
  padding-top: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid $text-light-color;
}

.exchange-model-detail {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: $font-size-smallText;
  margin-top: 12px;
  padding: 18px 0;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.exchange-model-detail-skeleton-container {
  display: flex;
  flex-flow: row;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.exchange-model-detail-skeleton {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: $font-size-smallText;
  margin-top: 12px;
  padding: 7px 0;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

.exchange-model-detail-skeleton-cont {
  background-color: #f3f3f3;
  padding: 10px 5px;
  display: inline-block;
  border-radius: 3px;
  width: 50%;
}

.exchange-model-detail-demand-logo {
  display: inline-block;
  vertical-align: top;
  margin-top: -4px;
}

.exchange-model-detail-demand-title {
  display: inline-block;
  vertical-align: top;
}

.exchange-model-detail-dist-logo {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}

.exchange-model-detail-dist-title {
  display: inline-block;
  vertical-align: top;
}

.exchanges-explore-sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  bottom: 15px;
  z-index: 1;
  top: $topBarHeight + 10px;
  padding: 15px;
  color: $text-dark-color;
  border-radius: $border-radius-size;
  background: $text-lightest-color;
  transition: all linear 0.3s, z-index linear 0s;

  @media screen and (min-width: 1366px) {
    right: 138px;
    width: calc(0.25 * (100% - 276px));
  }
  @media screen and (max-width: 1366px) and (min-width: 1280px) {
    right: 80px;
    width: calc(0.25 * (100% - 160px));
  }
  @media screen and (max-width: 1280px) and (min-width: 900px) {
    right: 30px;
    width: calc(0.25 * (100% - 60px));
  }
  @media screen and (max-width: 900px) and (min-width: 480px) {
    right: 10px;
    width: calc(0.25 * (100% - 20px));
  }
  @media screen and (max-width: 480px) and (min-width: 0) {
    padding: 65px 15px 15px 15px;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 3;
  }
}

.exchanges-explore-sidebar-hide {
  @media screen and (max-width: 480px) and (min-width: 0) {
    transition: all linear 0.3s, z-index linear 0s 0.5s;
    opacity: 0;
    transform: scale(0.9);
    z-index: -1;
  }
}

.users-explore-sidebar-searchbox {
  flex-grow: 1;
  display: flex;
  margin-right: 10px;
  border-radius: 15px;
  background-color: $eee-color;
  white-space: nowrap;
  font-size: $font-size-regular;
}

.users-explore-header-filter-btn {
  background-color: $eee-color;
  color: $text-light-color;
  padding: 7px 20px;
  border-radius: 15px;
  font-size: $font-size-regular;
  font-weight: bold;
}

.exchanges-explore-sidebar-searchbox {
  display: flex;
  margin: 5px auto 20px 0;
  border-radius: 15px;
  background-color: $eee-color;
  white-space: nowrap;
  @media screen and (max-width: 480px) and (min-width: 0) {
    display: none;
  }
}

.exchanges-explore-sidebar-searchbox-input {
  flex-grow: 1;
  vertical-align: top;
  color: $text-title-menu-color;
  width: 89%;
  border: none;
  text-align: right;
  background-color: inherit;
  border-radius: 15px;
  padding: 0 5%;
  height: 35px;
  font-size: $font-size-regular;
  font-weight: bold;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $text-light-color;
  }
}

.exchanges-explore-sidebar-searchbox-icon {
  display: inline-block;
  color: $text-light-color;
  vertical-align: top;
  margin-top: 9px;
  margin-left: 10px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    margin-top: 10px;
    font-size: 14px;
  }
}

.exchanges-explore-sidebar-search-exit-icon {
  display: inline-block;
  color: $text-light-color;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
  }
}

.exchanges-explore-sidebar-check {
  padding-top: 12px;
  border-top: 1px solid $eee-color;
  border-bottom: 1px solid $eee-color;
}

.exchanges-explore-sidebar-labels {
  padding: 12px 0;
}

.users-explore-sidebar-check {
  width: 90%;
  margin: 10px auto;
  height: 85px;
  opacity: 1;
  user-select: none;
  transition-duration: 0.3s;
}

.users-explore-sidebar-job-filter {
  width: 90%;
  margin: 10px auto;
  height: 143px;
  opacity: 1;
  user-select: none;
  transition-duration: 0.3s;
}

.collapseId {
  height: 0;
  opacity: 0;
  width: 90%;
  margin: 0 auto;
  transition-duration: 0.3s;
}

.arrowDown {
  float: left;
  color: $text-light-color;
  margin-left: 5px;
  margin-top: -2px;
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

.arrowUp {
  float: left;
  color: $text-light-color;
  margin-left: 5px;
  margin-top: -2px;
  transform: rotate(270deg);
  transition-duration: 0.3s;
}

.exchanges-explore-sidebar-tag {
  display: inline-block;
  flex-grow: 1;
  font-size: 14px;
}

.exchanges-explore-sidebar-tag-search {
  display: inline-block;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.exchanges-explore-sidebar-tag-input {
  position: absolute;
  left: 10px;
  z-index: -2;
  top: 5px;
  border-radius: 5px;
  text-align: right;
  border: 1px solid $text-light-color;
  transition-duration: 0.3s;
  width: 0;
  height: 0;
  opacity: 0;

  &:focus {
    border: 1px solid black;
    outline: none;
    transition-duration: 0.25s;
  }
}

.exchanges-explore-sidebar-tag-input-show {
  position: absolute;
  left: 20px;
  top: -5px;
  border-radius: 5px;
  text-align: right;
  transition-duration: 0.3s;
  width: 120px;
  height: 100%;
  opacity: 1;

  &:focus {
    border: 1px solid black;
    outline: none;
    transition-duration: 0.25s;
  }
}

.exchanges-explore-sidebar-hashTags-search-container {
  border-top: 1px solid $more-button-color-hover-darker;
  border-bottom: 1px solid $more-button-color-hover-darker;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  user-select: none;
}

.exchanges-explore-sidebar-hashTags-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 17px;
}

.exchanges-explore-sidebar-hashTags {
  direction: rtl;
  text-align: center;
  padding: 2px 3px;
  margin: 3px 1px;
  color: white;
  border-radius: 3px;
}

.exchanges-explore-sidebar-hashTags-title {
  display: inline-block;
  float: right;
  padding: 0 8px;
  background-color: $text-light-color;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.exchanges-explore-sidebar-hashTags-usage {
  display: inline-block;
  float: left;
  padding: 0 4px;
  background-color: $info-color;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.all-exchanges-parent {
  transition-duration: 0.3s;
  @media screen and (max-width: 10000px) and (min-width: 1366px) {
    margin: 0 138px;
  }
  @media screen and (max-width: 1366px) and (min-width: 1280px) {
    margin: 0 80px;
  }
  @media screen and (max-width: 1280px) and (min-width: 900px) {
    margin: 0 30px;
  }
  @media screen and (max-width: 900px) and (min-width: 480px) {
    margin: 0 10px;
  }
  @media screen and (max-width: 480px) {
    margin: 0;
  }
}

.all-products-parent {
  transition-duration: 0.3s;
  padding-top: 70px;
  @media screen and (max-width: 10000px) and (min-width: 1366px) {
    margin: 0 138px;
  }
  @media screen and (max-width: 1366px) and (min-width: 1280px) {
    margin: 0 80px;
  }
  @media screen and (max-width: 1280px) and (min-width: 900px) {
    margin: 0 30px;
  }
  @media screen and (max-width: 900px) and (min-width: 480px) {
    margin: 0 10px;
  }
  @media screen and (max-width: 480px) {
    margin: 0 10px;
    padding-top: 100px;
  }
}

.all-exchanges-container {
  padding: $topBarHeight + 5px 0 0 0;
  width: 75%;
  margin-right: 25%;
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 480px) and (min-width: 0) {
    width: 100%;
    margin-right: 0;
    padding: $smallTopBarHeight + 55px 0 0 0;
  }
}


.exchange-link {
  border: 1.5px solid $secondary-color;
  color: $secondary-color;
  background-color: transparent;
  padding: 5px 0;
  border-radius: 30px;
  width: 100px;
  transition-duration: 0.25s;
  font-size: $font-size-regular;
  position: relative;

  &:hover {
    color: white;
    background-color: $secondary-color;
    transition-duration: 0.25s;
  }

  &:focus {
    outline: none;
  }
}

.exchange-follow {
  display: inline-block;
  border: 1.5px solid $secondary-color;
  color: $secondary-color;
  background-color: transparent;
  padding: 5px 0;
  border-radius: 30px;
  width: 100px;
  transition-duration: 0.25s;
  font-size: $font-size-regular;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: white;
    background-color: $error-color;
    border: 1.5px solid $error-color;
    transition-duration: 0.25s;
  }

  &:hover:after {
    content: 'لغو عضویت';
    position: absolute;
    top: 5px;
    right: 22px;
  }

  &:focus {
    outline: none;
  }

  &:after {
    content: 'دنبال شده';
    position: absolute;
    top: 5px;
    right: 25.5px;
  }

  @media screen and (max-width: 480px) {
    position: absolute !important;
    left: 20px;
    top: 23px;
    width: 90px;
    color: white;
    background-color: $error-color;
    border: 1.5px solid $error-color;
    &:after {
      content: 'لغو عضویت';
      position: absolute;
      top: 5px;
      right: 17px;
    }

    &:hover:after {
      content: 'لغو عضویت';
      position: absolute;
      top: 5px;
      right: 17px;
    }
  }
}

.exchange-follow-green-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 17px;
  font-size: $font-size-smallText;
}

.exchange-followed {
  text-align: center;
  border: 1.5px solid $secondary-color;
  background-color: $secondary-color;
  padding: 5px 0;
  border-radius: 30px;
  width: 100px;
  color: white;
  cursor: pointer;
  transition-duration: 0.25s;
  font-size: $font-size-regular;

  &:hover {
    background-color: transparent;
    color: $secondary-color;
    transition-duration: 0.25s;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $secondary-color;
    color: white;
  }

  @media screen and (max-width: 480px) {
    position: absolute !important;
    width: 90px;
    left: 20px;
    top: 23px;
  }
}

.exchange-followed-small {

}

.exchange-followed-skeleton {
  border: none;
  background-color: #f3f3f3;
  padding: 6px 0;
  border-radius: 30px;
  width: 100px;
  transition-duration: 0.25s;
  font-size: $font-size-smallText;
  position: relative;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.exchange-followed-skeleton-butt {
  border: none;
  background-color: #f3f3f3;
  padding: 6px 0;
  border-radius: 30px;
  width: 100px;
  transition-duration: 0.25s;
  font-size: $font-size-smallText;
  position: relative;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 480px) {
    width: 90px;
  }
}

.exchange-baj-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.exchange-baj {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  width: 27px;
  height: 27px;

  &:first-child {
    margin-right: 0;
  }
}

.exchange-model-following {
  height: 32px;
  background-color: transparent;
  border: 1.5px solid $secondary-color;
  color: white;
  padding-top: 5px;
  border-radius: 30px;
  width: 100px;
  cursor: pointer;
  font-size: $font-size-smallText;
  transition-duration: 0.25s;

  @media screen and (max-width: 480px) {
    position: absolute !important;
    width: 90px;
    left: 20px;
    top: 23px;
  }
}

.user-follow-loading {
  position: absolute !important;
  left: 10px;
  top: 298px;
  border: 1.5px solid $secondary-color;
  color: $secondary-color;
  background-color: transparent;
  padding: 6px 0;
  border-radius: 30px;
  width: 100px;
  transition-duration: 0.25s;
  font-size: $font-size-normalText;
  height: 34px;

  @media screen and (max-width: 480px) {
    width: 90px;
    left: 20px;
    top: 23px;
  }
}

.exchange-view-sidebar {
  padding: 15px 15px 0 15px;
  color: $text-dark-color;
  border-radius: $border-radius-size;
  background: $text-lightest-color;
  box-shadow: 0 0 13px $box-shadow-color;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.go-up-logo-cont-hide {
  position: fixed;
  bottom: 20px;
  transform: translate3d(0, 80px, 0);
  right: 90px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition-duration: 0.5s;
}

.go-up-logo-cont {
  position: fixed;
  z-index: 2;
  opacity: 1;
  bottom: 20px;
  right: 90px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 0.5s;

  &:hover {
    transition-duration: 0.25s;
    transform: scale3d(1.05, 1.05, 1) translate3d(0, -2.5px, 0);
    background-color: $primary-color;

    .go-up-logo {
      fill: white;
    }
  }
}

.go-up-logo {
  transition-duration: 0.25s;
  margin-top: 15px;
  width: 10px;
  fill: $primary-color;
  transform: rotate(-90deg);
}

.material {
  display: inline-block;
  overflow: hidden;
  transform: perspective(0);
  position: relative;
  user-select: none;
  direction: ltr;
  vertical-align: top;
}

.material:focus {
  outline: none;
}

.material-content {
  direction: rtl;
  padding: 0;
  margin: 0;
}

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  animation: ripple 0.6s ease-out;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.rippleSlow {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  transform: scale(2) perspective(0);
  pointer-events: none;
  animation: rippleSlow 1.5s ease;
  transition-duration: 0.5s;
}


@keyframes rippleSlow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

.sidebar-skeleton {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 604px;
  margin-top: $topBarHeight + 10px;
  overflow-y: auto;
  color: $text-dark-color;
  border-radius: $border-radius-size;
  vertical-align: top;
  background: $text-lightest-color;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  width: 25%;
  @media screen and (max-width: 480px) and (min-width: 0) {
    width: 100%;
    height: 542px;
  }
}

.sidebar-skeleton::-webkit-scrollbar {
  width: 0;
}

.container-skeleton {
  display: inline-block;
  vertical-align: top;
  width: 48.7%;
  margin: $topBarHeight 0.65% 0 0.65%;
  direction: rtl;

  @media screen and (max-width: 480px) and (min-width: 0) {
    width: 100%;
    margin: 0 0.65% 0 0.65%;
  }
}

.container-skeleton-img-cont {
  display: inline-block;
  vertical-align: top;
}

.container-skeleton-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.container-skeleton-name-cont {
  margin-right: 15px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.container-skeleton-content-cont {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  border-radius: 3px;
  background: #ffffff;
  padding: 18px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
}

.container-skeleton-items {
  display: inline-block;
  direction: ltr;
  margin-right: 8%;
  height: 30px;
  width: 30px;

  .post-menu-bottom {
    padding: 7px 8px;
    color: #C2C2C2;
    border-radius: 50px;
    transition: all $animation-timing;

    &:hover {
      background-color: $eee-color;
    }
  }
}

.container-skeleton-banner {
  height: 115px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: repeating-linear-gradient(-45deg, #eee, #eee 10px, 10px, #f8f8f8 20px);
}

.user-default-profile-name {
  margin: 15px auto 10px auto;
  width: 45%;
  background-color: #f3f3f3;
}

.user-default-profile-desc {
  margin: 5px 15px;
  font-size: 14px;
  background-color: #f3f3f3;
}

.user-default-profile-desc-margin-bottom {
  margin: 5px 15px 122px 15px;
  font-size: 14px;
  background-color: #f3f3f3;
}

.user-default-profile-btn-cont {
  padding: 17px 0;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  width: 90%;
  white-space: nowrap;
  margin: 17px auto 0 auto;
}

.user-default-profile-logos-cont {
  width: 90%;
  margin: 0 auto 17px auto;
  border-bottom: 1px solid #E6E6E6;
  white-space: nowrap;
}

.user-default-profile-logo {
  display: inline-block;
  color: #bababa;
  width: 25%;
  text-align: center;
  padding: 20px 0;
}

.user-default-logo {
  transform: scale(1.6);
}

.user-default-skeleton {
  background-color: #f3f3f3;
  border-radius: 3px;
}

.user-default-profile-skelte {
  font-size: 13px;
  margin-top: 5px;
  line-height: 27px;
  background-color: #f3f3f3;
  border-radius: 3px;
}

.user-default-profile-skelte-date {
  font-size: 11px;
  margin-top: 2px;
  background-color: #f3f3f3;
  border-radius: 3px;
  width: 25%;
}

.user-default-profile-btn {
  margin: 5px 4px;
  font-size: 14px;
  width: 47.5%;
  vertical-align: top;
  display: inline-block;
}

.skeleton-overflow-hidden {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: column;
}

.media-header {
  @media screen and (max-width: 480px) and (min-width: 0) {
    margin-top: -20px;
    padding: 0 10px;
  }
}

.exchange-suggest-cont {
  font-size: $font-size-regular;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #E6E6E6;
}

.exchange-suggest-cont-without-border {
  font-size: $font-size-regular;
  display: flex;
  padding: 15px 0 5px 0;
}

.exchange-model-suggest {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  padding-left: 10px;
  width: calc(100% - 120px);
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  text-align: right;
}

.exchange-model-avatar-suggest {
  display: inline-block;
  position: relative;
  width: 45px;
  min-width: 45px;
  height: 45px;
  margin-left: 15px;
  background-color: #f3f3f3;
  border-radius: 50%;
  overflow: hidden;
}

.exchange-model-des-suggest {
  width: calc(100% - 60px);
  line-height: 25px;
  margin-right: 60px;
  text-align: right;
  color: #bababa;
}

.exchange-model-suggest-container {
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E6E6;
  font-size: $font-size-regular;
}

.exchange-suggest-followed {
  margin-top: 7px;
  text-align: center;
  border: 1.5px solid $secondary-color;
  background-color: $secondary-color;
  padding: 4px 0;
  border-radius: 30px;
  width: 70px;
  color: white;
  cursor: pointer;
  transition-duration: 0.25s;
  font-size: $font-size-small;

  &:hover {
    background-color: transparent;
    color: $secondary-color;
    transition-duration: 0.25s;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $secondary-color;
    color: white;
  }
}

.exchange-suggest-unfollow {
  margin-top: 7px;
  text-align: center;
  border: 1.5px solid $error-color;
  background-color: $error-color;
  padding: 4px 0;
  border-radius: 30px;
  width: 70px;
  color: white;
  cursor: pointer;
  transition-duration: 0.25s;
  font-size: $font-size-regular;

  &:hover {
    background-color: transparent;
    color: $error-color;
    transition-duration: 0.25s;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $error-color;
    color: white;
  }
}

.exchange-model-suggest-following {
  margin-top: 6px;
  text-align: center;
  height: 33px;
  background-color: transparent;
  border: 1.5px solid $secondary-color;
  color: white;
  padding: 7px 0;
  border-radius: 30px;
  width: 70px;
  cursor: pointer;
  font-size: $font-size-smallText;
  transition-duration: 0.25s;
}