@import "../../../variables";

.exchange-model {
  position: relative;
  padding: 15px 15px 25px 15px;
  display: inline-block;
  margin: 5px 10px 5px 0;
  text-align: center;
  flex-grow: 1;
  width: 270px;
  flex-basis: 270px;
  background-color: $text-lightest-color;
  border-radius: 5px;
  box-shadow: 0 3px 3px $box-shadow-color;
  height: 345px;
}

.exchange-model-hide {
  position: relative;
  display: inline-block;
  text-align: center;
  flex-grow: 1;
  width: 270px;
  flex-basis: 270px;
  background-color: $text-lightest-color;
  border-radius: 5px;
  box-shadow: 0 3px 3px $box-shadow-color;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.exchange-model-follow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: $font-size-smallText;
  color: $primary-color-light3;
  background-color: transparent;
  padding: 1px 6px 0 6px;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid $primary-color-light3;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    transition-duration: 0.3s;
    background-color: $primary-color-light3;
    color: white;
  }
}

.exchange-model-avatar {
  height: 80px;
  object-fit: cover;
  margin: 0 auto 8px auto;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.exchange-model-avatar-default {
  height: 80px;
  object-fit: cover;
  margin: 0 auto 0 auto;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2)
}

.exchange-model-title {
  font-weight: bold;
  font-size: $font-size-medium;
  margin: 10px 0;
}

.exchange-model-title-skeleton {
  font-weight: bold;
  font-size: $font-size-medium;
  margin: 10px 0;
  background-color: #f3f3f3;
  border-radius: 3px;
}

.exchange-model-description-skeleton {
  text-align: justify;
  text-align-last: center;
  font-size: $font-size-smallText;
  line-height: 25px;
  height: 75px;
  overflow-y: hidden;
  background-color: #f3f3f3;
  border-radius: 3px;
}

.exchange-model-description {
  text-align: justify;
  text-align-last: center;
  font-size: $font-size-smallText;
  line-height: 25px;
  height: 75px;
  overflow-y: hidden;
}

.exchange-model-followers-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 3px
}

.exchange-model-followers-count {
  vertical-align: top;
  display: inline-block;
  padding-top: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid $text-light-color;
}

.exchange-model-detail {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: $font-size-medium;
  margin-top: 12px;
  padding: 17px 0;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

.exchange-model-detail-skeleton {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: $font-size-medium;
  margin-top: 12px;
  padding: 7px 0;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

.exchange-model-detail-skeleton-cont {
  background-color: #f3f3f3;
  padding: 10px 5px;
  display: inline-block;
  border-radius: 3px;
  width: 50%;
}

.exchange-model-detail-demand-logo {
  display: inline-block;
  vertical-align: top;
  margin-top: -4px;
}

.exchange-model-detail-demand-title {
  display: inline-block;
  vertical-align: top;
}

.exchange-model-detail-dist-logo {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}

.exchange-model-detail-dist-title {
  display: inline-block;
  vertical-align: top;
}

.exchanges-explore-sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  bottom: 15px;
  z-index: 1;
  top: 64px;
  padding: 15px;
  color: $text-dark-color;
  border-radius: $border-radius-size;
  background: $text-lightest-color;
  box-shadow: 0 3px 3px $box-shadow-color;
  @media screen and (max-width: 1920px) and (min-width: 1366px) {
    right: 138px;
    width: calc(0.25 * (100% - 276px));
  }
  @media screen and (max-width: 1366px) and (min-width: 1280px) {
    right: 80px;
    width: calc(0.25 * (100% - 160px));
  }
  @media screen and (max-width: 1280px) and (min-width: 800px) {
    right: 30px;
    width: calc(0.25 * (100% - 60px));
  }
  @media screen and (max-width: 800px) and (min-width: 0px) {
    right: 10px;
    width: calc(0.25 * (100% - 20px));
  }
}

.exchanges-explore-sidebar-searchbox {
  display: flex;
  margin: 20px auto;
  border-radius: 15px;
  background-color: $text-light-color;
  white-space: nowrap;
}

.exchanges-explore-sidebar-searchbox-input {
  flex-grow: 1;
  vertical-align: top;
  color: white;
  width: 89%;
  border: none;
  text-align: right;
  background-color: inherit;
  border-radius: 15px;
  padding: 0 5%;
  height: 35px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: whitesmoke;
    font-size: 14px;
  }
}

.exchanges-explore-sidebar-searchbox-icon {
  display: inline-block;
  color: white;
  vertical-align: top;
  margin-top: 9px;
  margin-left: 10px;
  cursor: pointer;
}

.exchanges-explore-sidebar-search-exit-icon {
  display: inline-block;
  color: white;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 10px;
  cursor: pointer;
}

.exchanges-explore-sidebar-check {
  width: 90%;
  margin: 10px auto;
}

.users-explore-sidebar-check {
  width: 90%;
  margin: 10px auto;
  height: 155px;
  opacity: 1;
  transition-duration: 0.3s;
}

.collapseId {
  height: 0;
  opacity: 0;
  width: 90%;
  margin: 0 auto;
  transition-duration: 0.3s;
}

.arrowDown {
  float: left;
  color: $text-light-color;
  margin-left: 5px;
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

.arrowUp {
  float: left;
  color: $text-light-color;
  margin-left: 5px;
  transform: rotate(270deg);
  transition-duration: 0.3s;
}

.exchanges-explore-sidebar-tag {
  display: inline-block;
  flex-grow: 1;
  font-size: 14px;
}

.exchanges-explore-sidebar-tag-search {
  display: inline-block;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.exchanges-explore-sidebar-tag-input {
  position: absolute;
  left: 10px;
  z-index: -2;
  top: 5px;
  border-radius: 5px;
  text-align: right;
  border: 1px solid $text-light-color;
  transition-duration: 0.3s;
  width: 0;
  height: 0;
  opacity: 0;
  &:focus {
    border: 1px solid black;
    outline: none;
    transition-duration: 0.25s;
  }
}

.exchanges-explore-sidebar-tag-input-show {
  position: absolute;
  left: 20px;
  top: -5px;
  border-radius: 5px;
  text-align: right;
  transition-duration: 0.3s;
  width: 120px;
  height: 100%;
  opacity: 1;
  &:focus {
    border: 1px solid black;
    outline: none;
    transition-duration: 0.25s;
  }
}

.exchanges-explore-sidebar-hashTags-search-container {
  display: flex;
  flex-wrap: wrap;
}

.exchanges-explore-sidebar-hashTags-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 17px;
}

.exchanges-explore-sidebar-hashTags {
  direction: rtl;
  text-align: center;
  padding: 2px 3px;
  margin: 3px 1px;
  color: white;
  border-radius: 3px;
}

.exchanges-explore-sidebar-hashTags-title {
  display: inline-block;
  float: right;
  padding: 0 8px;
  background-color: $text-light-color;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.exchanges-explore-sidebar-hashTags-usage {
  display: inline-block;
  float: left;
  padding: 0 4px;
  background-color: $info-color;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.all-exchanges-parent {
  transition-duration: 0.3s;
  @media screen and (max-width: 1920px) and (min-width: 1366px) {
    margin: 0 138px;
  }
  @media screen and (max-width: 1366px) and (min-width: 1280px) {
    margin: 0 80px;
  }
  @media screen and (max-width: 1280px) and (min-width: 800px) {
    margin: 0 30px;
  }
  @media screen and (max-width: 800px) and (min-width: 0px) {
    margin: 0 10px;
  }
}

.all-exchanges-container {
  padding: 59px 0 0 0;
  width: 75%;
  margin-right: 25%;
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.exchange-follow {
  border: 1px solid $tag-del-btn-background;
  color: $tag-del-btn-background;
  background-color: white;
  border-radius: 3px;
  padding: 2px 0;
  width: 80px;
  margin-top: 13px;
  float: left;
  transition-duration: 0.25s;
  font-size: $font-size-normalText;
  &:hover {
    color: white;
    background-color: $tag-del-btn-background;
    transition-duration: 0.25s;
  }
  &:focus {
    outline: none;
  }
}

.exchange-followed {
  border: 1px solid $tag-del-btn-background;
  background-color: $tag-del-btn-background;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 0;
  width: 80px;
  float: left;
  margin-top: 13px;
  transition-duration: 0.25s;
  font-size: $font-size-normalText;
  &:hover {
    background-color: white;
    color: $tag-del-btn-background;
    transition-duration: 0.25s;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: $secondary-color;
    color: white;
  }
}

.exchange-followed-skeleton {
  border: none;
  background-color: #f3f3f3;
  border-radius: 3px;
  padding: 2px 0;
  width: 80px;
  position: absolute;
  overflow: hidden;
  bottom: 15px;
  left: 15px;
  transition-duration: 0.25s;
  font-size: $font-size-normalText;
  &:focus {
    outline: none;
  }
}

.exchange-baj-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.exchange-baj {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  width: 27px;
  height: 27px;
  &:first-child {
    margin-right: 0;
  }
}

.exchange-model-following {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: $font-size-smallText;
  border: 1px solid $tag-del-btn-background;
  color: $tag-del-btn-background;
  border-radius: 3px;
  width: 80px;
  padding-top: 3px;
  height: 27px;
}

.user-follow-loading {
  font-size: $font-size-smallText;
  border: 1px solid $tag-del-btn-background;
  color: $tag-del-btn-background;
  border-radius: 3px;
  width: 80px;
  padding-top: 3px;
  height: 27px;
  float: left;
  margin-left: 10px;
}

.exchange-view-sidebar {
  //position: fixed;
  //bottom: 15px;
  //overflow-y: auto;
  //z-index: 1;
  //top: 70px;
  padding: 15px 15px 0 15px;
  color: $text-dark-color;
  border-radius: $border-radius-size;
  background: $text-lightest-color;
  box-shadow: 0 3px 3px $box-shadow-color;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  //@media screen and (max-width: 1920px) and (min-width: 1366px) {
  //right: 138px;
  //width: calc(0.25 * (100% - 276px));
  //}
  //@media screen and (max-width: 1280px) and (min-width: 600px) {
  //right: 90px;
  //width: calc(0.25 * (100% - 180px));
  //}
  //@media screen and (max-width: 1366px) and (min-width: 1280px) {
  //right: 97px;
  //width: calc(0.25 * (100% - 194px));
  //}
}

.go-up-logo-cont-hide {
  position: fixed;
  bottom: -50px;
  right: 45px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition-duration: 0.5s;
}

.go-up-logo-cont {
  position: fixed;
  z-index: 2;
  opacity: 1;
  bottom: 15px;
  right: 45px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 0.5s;
  &:hover {
    transition-duration: 0.25s;
    transform: scale(1.05) translateY(-5px);
    background-color: $primary-color;
    .go-up-logo {
      fill: white;
    }
  }
}

.go-up-logo {
  transition-duration: 0.25s;
  margin-top: 15px;
  width: 10px;
  fill: $primary-color;
  transform: rotate(-90deg);
}

.material {
  display: inline-block;
  overflow: hidden;
  position: relative;
  user-select: none;
  direction: ltr
}

.material:focus {
  outline: none;
}

.material-content {
  direction: rtl;
  padding: 0;
  margin: 0;
}

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  animation: ripple 0.6s ease-out;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.rippleSlow {
  position: absolute;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  animation: rippleSlow 1.5s ease-out;
}

@keyframes rippleSlow {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}