@import "../../../variables";

.exchanges-explore {
  direction: rtl;
  width: calc(100% - 285px);
  margin-right: 285px;
  display: flex;
  //margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.exchange-model {
  position: relative;
  padding: 15px 15px 25px 15px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  flex-grow: 0;
  width: 330px;
  flex-basis: 330px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  height: 345px;
}



.exchange-model-follow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: $font-size-smallText;
  color: $primary-color-light3;
  background-color: transparent;
  padding: 1px 6px 0 6px;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid $primary-color-light3;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    transition-duration: 0.3s;
    background-color: $primary-color-light3;
    color: white;
  }
}

.exchange-model-avatar {
  height: 80px;
  object-fit: cover;
  margin: 0 auto 18px auto;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.2)
}

.exchange-model-title {
  font-weight: bold;
  font-size: $font-size-medium;
  margin: 10px 0;
}

.exchange-model-description {
  text-align: justify;
  text-align-last: center;
  font-size: $font-size-smallText;
  line-height: 25px;
  height: 70px;
}

.exchange-model-followers-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 3px
}

.exchange-model-followers-count {
  vertical-align: top;
  display: inline-block;
  padding-top: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid $text-light-color;
}

.exchange-model-detail {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: $font-size-medium;
}

.exchange-model-detail-demand-logo {
  display: inline-block;
  vertical-align: top;
  margin-top: -4px;
}

.exchange-model-detail-demand-title {
  display: inline-block;
  vertical-align: top;
}

.exchange-model-detail-dist-logo {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}

.exchange-model-detail-dist-title {
  display: inline-block;
  vertical-align: top;
}

.exchanges-explore-sidebar {
  position: fixed;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.4);
  background-color: white;
  width: 280px;
  height: 95vh;
  overflow: scroll;
  z-index: 1;
  right: 0;
  top: 55px;
  padding: 15px;
  color: $text-dark-color;
}

.exchanges-explore-sidebar-searchbox {
  width: 90%;
  margin: 20px auto;
  border-radius: 15px;
  background-color: $text-light-color;
}

.exchanges-explore-sidebar-searchbox-input {
  color: white;
  width: 85%;
  border: none;
  text-align: right;
  background-color: inherit;
  border-radius: 15px;
  padding: 0px 15px;
  height: 35px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: whitesmoke;
  }
}

.exchanges-explore-sidebar-searchbox-icon {
  color: white;
}

.exchanges-explore-sidebar-check {
  width: 90%;
  margin: 10px auto;
}

.users-explore-sidebar-check {
  width: 90%;
  margin: 10px auto;
  height: 155px;
  opacity: 1;
  transition-duration: 0.3s;
}

.collapseId {
  height: 0;
  opacity: 0;
  width: 90%;
  margin: 0 auto;
  transition-duration: 0.3s;
}

.arrowDown {
  float: left;
  color: $text-light-color;
  margin-left: 5px;
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

.arrowUp {
  float: left;
  color: $text-light-color;
  margin-left: 5px;
  transform: rotate(270deg);
  transition-duration: 0.3s;
}

.exchanges-explore-sidebar-tag {
  display: inline-block;
  flex-grow: 1;
}

.exchanges-explore-sidebar-tag-search {
  display: inline-block;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.exchanges-explore-sidebar-tag-input {
  position: absolute;
  left: 10px;
  z-index: -2;
  top: 5px;
  border-radius: 5px;
  text-align: right;
  border: 1px solid $text-light-color;
  transition-duration: 0.3s;
  width: 0;
  height: 0;
  opacity: 0;
  &:focus {
    border: 1px solid black;
    outline: none;
    transition-duration: 0.25s;
  }
}

.exchanges-explore-sidebar-tag-input-show {
  position: absolute;
  left: 20px;
  top: -5px;
  border-radius: 5px;
  text-align: right;
  transition-duration: 0.3s;
  width: 120px;
  height: 100%;
  opacity: 1;
  &:focus {
    border: 1px solid black;
    outline: none;
    transition-duration: 0.25s;
  }
}

.exchanges-explore-sidebar-hashTags-search-container {
  display: flex;
  flex-wrap: wrap
}

.exchanges-explore-sidebar-hashTags-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 17px;
}

.exchanges-explore-sidebar-hashTags {
  direction: rtl;
  text-align: center;
  padding: 2px 3px;
  margin: 3px 1px;
  color: white;
  border-radius: 3px;
}

.exchanges-explore-sidebar-hashTags-title {
  display: inline-block;
  float: right;
  padding: 0 8px;
  background-color: $text-light-color;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.exchanges-explore-sidebar-hashTags-usage {
  display: inline-block;
  float: left;
  padding: 0 4px;
  background-color: $info-color;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.all-exchanges-container {
  padding-top: 55px;
}


.exchange-follow {
  border: 1px solid $tag-del-btn-background;
  color: $tag-del-btn-background;
  background-color: white;
  border-radius: 3px;
  padding: 2px 0;
  width: 80px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transition-duration: 0.25s;
  font-size: $font-size-normalText;
  //&:hover {
  //  color: white;
  //  background-color: $tag-del-btn-background;
  //  transition-duration: 0.25s;
  //}
  &:focus{
    outline: none;
  }
  //&:active{
  //  background-color: $secondary-color;
  //}
}

.exchange-followed {
  border: 1px solid $tag-del-btn-background;
  background-color: $tag-del-btn-background;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 0;
  width: 80px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transition-duration: 0.25s;
  font-size: $font-size-normalText;
  &:hover {
    background-color: white;
    color: $tag-del-btn-background;
    transition-duration: 0.25s;
  }
  &:focus{
    outline: none;
  }
  &:active{
    background-color: $secondary-color;
    color: white;
  }
}

.exchange-baj-container{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.exchange-baj{
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  width: 27px;
  height: 27px;
&:first-child{
  margin-right: 0;
}}

.exchange-model-following {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: $font-size-smallText;
  border: 1px solid $tag-del-btn-background;
  color: $tag-del-btn-background;
  border-radius: 3px;
  width: 80px;
  padding-top: 3px;
  height: 27px;

}