@import "../../variables";
.members-wrapper {
	display: flex;
	flex-flow: row wrap;
	.member-wrapper {
		flex: 0 1 50%;
		display: flex;
		flex-flow: row;
		padding: 5px ;
		.details {
			flex: 1;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			padding: 5px 10px;
			a {
				text-decoration: none;
			}
			.job-title {
				font-size: $font-size-normalText;
				color: lighten($sidebar-bottom-color, 9%);
			}
		}
		.image-wrapper {
			img, svg {
				width: 50px;
				height: 50px;
			}
		}
	}
}