@import "../../variables";

.customers-wrapper {
  display: flex;
  flex-wrap: wrap;

  .customer-wrapper {
    padding: 10px;
    width: 50%;

    .customer-view-container {
      position: relative;
      border: 1px solid $text-lighter-color;
      padding: 15px;

      .customer-edit {
        position: absolute;
        top: 0;
        left: 5px;
      }
      .customer-image {
        margin: 10px;
        height: 120px;

        img {
          display: flex;
          margin: auto;
          height: 100%;
        }
      }
      .customer-title {
        text-align: center;
        margin-bottom: 10px;
        font-size: $font-size-regular;
      }
    }
  }
}

.customer-add-container {
  display: flex;
  justify-content: space-around;

  .customer-add-button {
    border: none;
    background: $bootstrap-success;
    padding: 10px;
    font-size: $font-size-normalText;
    font-weight: bold;
    color: #ffffff;
    border-radius: $border-radius-size;
    outline: 0;
  }
}

.customer-create-header {
  margin: 20px;
  margin-right: 0;

  .customer-create-header {
    font-size: 20px;
    font-weight: bold;
  }
}