@import "../../variables";
.organizationProduct{
	padding:10px;
	
	.productBox{
		border:1px solid rgb(202, 202, 202);
		padding: 10px;
		
	}

	img{
		max-height:250px;
	}

	.badge-secondary {
    color: $text-lightest-color;
    background-color: #6c757d;
	}

	.-item-edit-btnProduct{
		svg{
			height:16px;
			width:16px;
		}
	}
}
.-item-productForm-img{
	max-width: 200px;
}

#imageViewer{
	background-repeat: repeat-x;    
	height:121px;
	width: 984px;
	margin-left: 20px;
	margin-top: 13px;
}

#imageViewer .image{    
	width: 182px; /*328 co je 1/3 - 20margin left*/
	height: 121px;
	line-height: 20px;
	margin-top: 0;
	margin-left: 9px;
	margin-right:0;
	display:inline-block;
	position:relative;
}

#imageViewer .image button {
	position:absolute;
	bottom:5px;
	right:5px;
	background:blue;
	color:$text-lightest-color;
}
