/* --------------------------- exchangeViewBar --------------------------*/
.exchangeName {
  display: flex;
  align-items: center;
  svg {
    height: 20px;
    margin-left: 7px;
    path {
      fill: #C2C2C2;
    }
  ;
  }
}

.menuBottom {
  position: absolute;
  top: 0;
  left: 0;
  color: #C2C2C2;
  float: left;
  margin: 15px 0 -10px 10px;
  cursor: pointer;
  display: block;
  width: 15px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.myBottum div {
  width: 130px;
}

.numbersSection div {
  display: flex;
  justify-content: space-between;
  :last-child {
    color: #afafaf;
  }
}

.numbersSection div:not(:last-child) {
  margin-bottom: 20px;
}