@import "../../variables";

.info-loading {
  width: 99.7%;
  margin: 0 auto 10px auto;
  background-color: white;
  border-radius: $border-radius-size;
  height: 75px;
  text-align: center;
  box-shadow: 0 2px 5px $box-shadow-color;
  padding: 15px;
}

.info-frame {
  text-align: right;
  width: calc(100% - 6px);
  margin: 2px 3px 10px 8px;
  background-color: $base-posts;
  border-radius: 5px;
  box-shadow: 0 2px 5px $box-shadow-color;
  padding: 12.5px 10px 15px 10px;
  transition-duration: $animation-timing;
}

.info-header {
  width: 100%;
  background-color: white;
  height: 30px;
  font-weight: bold;
  font-size: $font-size-post-name;
  position: relative;
}

.info-header-edit-bio-text {
  font-size: $font-size-description;
  color: $secondary-color;
  cursor: pointer;
  opacity: 1;
  transition-duration: $animation-timing;
  position: absolute;
  left: 8px;
  top: 5px;
  z-index: 1;
}

.info-header-edit-bio-text-hide {
  font-size: $font-size-description;
  color: $secondary-color;
  cursor: pointer;
  opacity: 0;
  transition-duration: $animation-timing;
  position: absolute;
  left: 8px;
  top: 5px;
  z-index: -1;
}

.info-body {
  width: 100%;
  min-height: 30px;
  padding-right: 70px;
  line-height: 30px;
  font-size: $font-size-post-content;
  position: relative;
}

.info-body-bio-text-area {
  resize: none;
  border: 1px solid $text-lighter-color;
  border-radius: $border-radius-size;
  width: 99.25%;
  background-color: transparent;
  padding: 7px;
  transition-duration: $animation-timing-short;
  font-size: $font-size-regular;
  height: 75px;

  &:focus {
    border: 1px solid $secondary-color;
    transition-duration: $animation-timing-short;
  }
}

.info-body-bio-text-area-error{
  height: 21px;
  transition-duration: $animation-timing-short;
  color: $error-color;
  font-size: $font-size-small;
  font-weight: bold;
  opacity: 1;
  overflow: hidden;
}

.info-body-bio-text-area-error-hide{
  height: 0;
  transition-duration: $animation-timing-short;
  color: $error-color;
  font-size: $font-size-small;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
}

.info-confirm-button {
  background-color: $primary-color;
  border-radius: 30px;
  border: 1.5px solid $primary-color;
  color: white;
  cursor: pointer;
  float: left;
  font-size: 11px;
  height: 26px;
  margin-right: 12px;
  margin-left: 2px;
  transition-duration: $animation-timing;
  width: 12%;

  &:hover {
    background-color: white;
    color: $primary-color;
    transition-duration: $animation-timing;
  }
}

.info-cancel-button {
  background-color: white;
  border-radius: 30px;
  border: 1.5px solid $secondary-color;
  color: $secondary-color;
  cursor: pointer;
  float: left;
  font-size: 11px;
  height: 26px;
  margin-right: 12px;
  margin-left: 2px;
  transition-duration: $animation-timing;
  width: 12%;

  &:hover {
    background-color: $secondary-color;
    color: white;
    transition-duration: $animation-timing;
  }
}

.info-exchange-owner-frame {
  width: 98%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 5px $box-shadow-color;
  padding: 10px 20px;
  margin: 1%;
}

.info-exchange-owner-image-frame {
  vertical-align: top;
  display: inline-block;
  width: 65px;
  height: 50px;
}

.info-exchange-owner-image-frame-sibling {
  vertical-align: top;
  display: inline-block;
  width: 80%;
  margin: 2px 5px;
}

.info-exchange-username {
  font-size: $font-size-post-name;
  font-weight: bold;
  margin: 2px 5px 0 5px;
}

.info-exchange-education {
  font-size: $font-size-exchange-education;
  color: $font-color-exchange-education;
}

.info-social {
  font-size: 24px;
  margin: 15px 7px 15px 0;
  position: relative;

  &:first-child {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .fa-youtube-play {
    color: red;
  }

  .fa-twitter{
    color: #38A1F3;
  }

  .fa-telegram {
    background: -webkit-linear-gradient(-30deg, cornflowerblue, rgb(66, 70, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
  }

  .fa-instagram {
    background: -webkit-linear-gradient(30deg, #ffd02a, #dc3b26, #5925c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .fa-linkedin {
    color: royalblue;
    font-size: 22px;
  }

  .fa-link {
    color: dimgrey;
  }
}

.info-social-text {
  position: absolute;
  font-size: $font-size-boxText;
  font-weight: bold;
  margin-right: 15px;
  top: -3px;
  right: 17px;
}

.info-social-text-address {
  text-align: left;
  direction: ltr;
  position: absolute;
  font-size: $font-size-boxText;
  font-weight: bold;
  margin-right: 15px;
  top: -3px;
  right: 17%;
  width: 75%;
  padding: 0 5px;
  color: $text-darker-color;
  cursor: default;
  transition: color $animation-timing-long ease, padding $animation-timing-long ease;

  &:hover {
    transition: color $animation-timing-long ease, padding $animation-timing-long ease;
    padding: 0 7.5px;
    cursor: pointer;
    color: #4169E1;
  }
}

.info-social-text-address-input {
  border: none;
  color: $text-dark-color;
  width: 40%;
  margin: 0;
  font-size: $font-size-boxText;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}