@import "../../variables";

.members-frame {
  width: calc(100% - 6px);
  margin: 2px 3px 10px 8px;
  padding: 12.5px 10px 15px 10px;
  background-color: white;
  border-radius: $border-radius-size;
  box-shadow: 0 2px 5px $box-shadow-color;
  transition-duration: $animation-timing;
}

.members-header-right {
  width: 90%;
  background-color: white;
  height: 30px;
  font-weight: bold;
  font-size: $font-size-post-content;
  float: right;
  display: inline-block;
  vertical-align: top;
  padding-right: 12px;
}

.members-header-left {
  width: 9%;
  padding-left: 10px;
  padding-top: 2px;
  background-color: white;
  height: 30px;
  font-weight: bold;
  font-size: $font-size-medium;
  float: left;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  cursor: pointer;
}

.members-body {
  width: 100%;
  min-height: 30px;
  //padding-right: 70px;
  line-height: 30px;
  font-size: $font-size-post-content;
  transition-duration: $animation-timing;
  display: flex;
  flex-wrap: wrap;
}

.member-square {
  background-color: white;
  text-align: center;
  width: 160px;
  //height: 185px;
  height: auto;
  flex-grow: 1;
  margin: 5px 5px;
  vertical-align: top;
  display: inline-block;
  padding: 2px 12px;
  border-radius: $border-radius-size;
  box-shadow: 0 2px 5px $box-shadow-color;
  opacity: 1;
  animation: switch;
  animation-duration: .75s;
  position: relative;
  flex-basis: 145px;

  .member-picture-container {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .member-picture {
    border-radius: 250px;
    object-fit: cover;
    display: inline-block;
    vertical-align: top;
    font-size: $font-size-regular;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    margin: 10px 0;
  }

  .default-exchange {
    width: 55px;
    height: 55px;
    padding: 10px;
    fill: gray;
  }

  .member-loading {
    margin-top: 35px;
    vertical-align: top;
    display: inline-block;
  }

  .member-followed {
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: $font-size-followed;
    color: $primary-color-light3;
    font-weight: bold;
  }

  .member-follow {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    font-size: $font-size-smallText;
    color: $primary-color-light3;
    background-color: transparent;
    font-weight: bold;
    border-radius: $border-radius-less;
    border: 1px solid $primary-color-light3;
    cursor: pointer;
    transition-duration: $animation-timing;

    &:hover {
      transition-duration: $animation-timing;
      background-color: $primary-color-light3;
      color: white;
    }

    .member-follow-plus {
      position: relative;
      top: -5px;
    }
  }
}

.member-square-user {
  background-color: white;
  text-align: center;
  width: 160px;
  //height: 185px;
  height: auto;
  flex-grow: 1;
  margin: 5px;
  vertical-align: top;
  display: inline-block;
  padding: 2px 12px 50px 12px;
  border-radius: $border-radius-size;
  box-shadow: 0 2px 5px $box-shadow-color;
  opacity: 1;
  animation: switch;
  animation-duration: .75s;
  position: relative;
  flex-basis: 145px;

  .member-picture-container {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .member-picture {
    border-radius: 250px;
    object-fit: cover;
    display: inline-block;
    vertical-align: top;
    font-size: $font-size-regular;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    margin: 10px 0;
  }

  .default-exchange {
    width: 55px;
    height: 55px;
    padding: 10px;
    fill: gray;
  }

  .member-loading {
    margin-top: 35px;
    vertical-align: top;
    display: inline-block;
  }

  .member-following-button {
    position: absolute;
    bottom: 15px;
    left: 26%;
    right: 26%;
    font-size: $font-size-followed;
    color: white;
    border-radius: 30px;
    height: 31px;
    transition-duration: $animation-timing;
    background-color: $secondary-color;
    border: 1.5px solid $secondary-color;

    &:after {
      content: "دنبال شده";
    }

    &:hover {
      &:after {
        content: "قطع ارتباط";
      }

      transition-duration: $animation-timing;
      color: white;
      background-color: $error-color;
      cursor: pointer;
      border: 1.5px solid $error-color;
    }
  }

  .member-follow-here {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 26%;
    right: 26%;
    font-size: $font-size-followed;
    color: white;
    border-radius: 30px;
    height: 31px;
    transition-duration: $animation-timing;
    background-color: $secondary-color;
    border: 1.5px solid $secondary-color;

    &:after {
      content: "دنبال کردن";
    }

    &:hover {
      background-color: white;
      color: $secondary-color;
    }
  }

  .member-accept-button {
    position: absolute;
    bottom: 15px;
    left: 77%;
    right: 3%;
    font-size: $font-size-followed;
    color: white;
    border-radius: 50px;
    height: 31px;
    transition-duration: $animation-timing;
    background-color: #368a34;
    border: 1.5px solid #368a34;

    &:hover {
      transition-duration: $animation-timing;
      color: #368a34;
      background-color: white;
      cursor: pointer;
    }
  }

  .member-reject-button {
    position: absolute;
    bottom: 15px;
    left: 3%;
    right: 77%;
    font-size: $font-size-followed;
    color: white;
    border-radius: 50px;
    height: 31px;
    transition-duration: $animation-timing;
    background-color: $error-color;
    border: 1.5px solid $error-color;

    &:hover {
      transition-duration: $animation-timing;
      color: $error-color;
      background-color: white;
      cursor: pointer;
    }
  }
}

.member-follow-green-button {
  position: absolute;
  bottom: 15px;
  left: 26%;
  right: 26%;
  font-size: $font-size-followed;
  color: white;
  border-radius: 30px;
  height: 31px;
  transition-duration: $animation-timing;
  background-color: $secondary-color;
  border: 1.5px solid $secondary-color;

  &:hover {
    transition-duration: $animation-timing;
    color: $secondary-color;
    background-color: white;
    cursor: pointer;
  }
}

.member-followed-button {
  position: absolute;
  bottom: 15px;
  left: 26%;
  right: 26%;
  font-size: $font-size-followed;
  color: $secondary-color;
  border-radius: 30px;
  height: 31px;
  border: 1.5px solid $secondary-color;
  transition-duration: $animation-timing;
  background-color: white;

  &:hover {
    transition-duration: $animation-timing;
    color: white;
    background-color: $secondary-color;
    cursor: default;
  }
}

.member-row {
  background-color: white;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 2px 12px;
  border-radius: $border-radius-size;
  opacity: 1;
  animation: switchBack;
  animation-duration: .75s;
  box-shadow: 0 2px 5px $box-shadow-color;
  position: relative;
  z-index: 1;

  &:first-child {
    margin-top: 5px;
  }

  .member-loading {
    text-align: center;
    margin: 7.5px 20px;
  }

  .member-follow {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    font-size: $font-size-smallText;
    color: $primary-color-light3;
    background-color: transparent;
    font-weight: bold;
    border-radius: $border-radius-less;
    border: 1px solid $primary-color-light3;
    cursor: pointer;
    transition-duration: $animation-timing;

    &:hover {
      transition-duration: $animation-timing;
      background-color: $primary-color-light3;
      color: white;
    }

    .member-follow-plus {
      position: relative;
      top: -5px;
      left: -5px;
    }
  }

  .member-picture-container {
    width: 75px;
    display: inline-block;
    vertical-align: top;
  }

  .member-picture {
    border-radius: 250px;
    object-fit: cover;
    display: inline-block;
    vertical-align: top;
    font-size: $font-size-regular;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    margin: 10px 0;
  }

  .default-exchange {
    width: 55px;
    height: 55px;
    padding: 10px;
    fill: gray;
  }

  .member-name {
    margin: 12px 0 0 0;
    width: 400px;
  }

  .member-info-container {
    width: 70%;
  }

  .member-description {
    margin: 0;
  }

  .member-followed {
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: $font-size-followed;
    color: $primary-color-light3;
    font-weight: bold;
  }
}

.member-description {
  font-size: $font-size-description;
  margin: 5px 0 55px 0;
  line-height: 20px;
  color: $text-title-menu-color;
  width: 99%;
  word-wrap: break-word;
  overflow-y: auto;
  max-height: 100px;

}

.member-info-container {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.member-name {
  font-size: $font-size-member-name;
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
  color: $foreground-color;
}

.zero-height-member {
  width: 160px;
  flex-grow: 1;
  margin: 0 5px;
  vertical-align: top;
  display: inline-block;
  padding: 0 12px;
  flex-basis: 145px;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.members-more {
  width: 98%;
  text-align: center;
  font-size: $font-size-boxText;
  font-weight: bold;
  margin: 8px 4.8px 0 0;
  border: 1px solid $scroll-color-hover;
  cursor: pointer;
  border-radius: $border-radius-size;
  background-color: $more-button-color;
  color: $foreground-color;
  transition-duration: $animation-timing;

  &:hover {
    background-color: $more-button-color-hover;
    transition-duration: $animation-timing;
  }
}

@keyframes switch {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes switchBack {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}