.-itemWrapperPost {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  padding: 10px 20px 15px 20px;
  .-content-col {
    margin-right: 0;
  }
}

.-exchangePost {
  .productBox {
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;

  }

  img {
    max-height: 250px;
  }

  .badge-secondary {
    color: #fff;
    background-color: #6c757d;
  }

  .-item-edit-btnProduct {
    svg {
      height: 16px;
      width: 16px;
    }
  }
}

.postExchangeView {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  .createPost {
    width: 75%;
    margin-right: 0;
  }
  .filterBox {
    margin: 10px 15px 10px 0;
    display: flex;
    flex: 1;
    background-color: #F5F5F5;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    max-height: 110px;
    span {
      font-size: 12px;
    }
    i {
      color: #C2C2C2;
    }
    i:hover {
      cursor: pointer;
      color: #32485D;
    }
    svg {
      cursor: pointer;
      fill: #C2C2C2;
      :hover {
        fill: #32485D;
      }
    }
    .clicked {
      fill: #32485D;
      color: #32485D;
    }
  }
  .firstDiv {
    padding-left: .5vw;
    padding-right: 0;
    > div {
      margin-bottom: 14px;
    }
  }
  .secondDiv {
    padding-right: .5vw;
    padding-left: 0;
    > div {
      margin-bottom: 14px;
    }
  }
}

