@import "../../variables";

.statistics-container{
  margin: auto;
}
.statistics-bodies{
  width: 99%;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px $box-shadow-color;
  margin: auto auto $standard-vertical-margin-px auto;
  padding: 15px;
  direction: rtl;
}
.statistics-header{
  direction: rtl;
  text-align: right;
  color: $text-dark-color;
  font-size: $font-size-post-name;
  font-weight: bold;
}

.statistics-content{
  margin-top: 15px;
  padding-right: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.statistics-chart{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  direction: ltr;
}

.statistics-numbers-frame{
  flex-grow: 1;
  height: 45px;
  width: 145px;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.statistics-numbers-frame-off{
  flex-grow: 1;
  height: 0;
  width: 145px;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  opacity: 0;
}

.statistics-number{
  font-size: $font-size-large;
  font-weight: bold;
  color: $primary-color;
  margin: 0 9px;
  line-height: 15px;
}

.statistics-inactive-text{
  font-size: $font-size-description;
  font-weight: bold;
  color: $disable-color;
  margin: 0 9px;
}

.statistics-footer{
  width: 100%;
  font-size: $font-size-post-content;
  font-weight: bold;
  padding: 5px 70px;

  span{
    margin-left: 25px;
    padding-bottom: 3px;
  }
  .primary-color{
    border-bottom: 3px solid $primary-color;
  }
  .secondary-color{
    border-bottom: 3px solid $secondary-color;
  }
  .disable-color{
    border-bottom: 3px solid $disable-color;
  }
}
