@import "../../variables";

.statistics-container{
  margin: auto;
}
.statistics-bodies{
  width: 99%;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px $box-shadow-color;
  margin: auto auto $standard-vertical-margin-px auto;
  padding: 10px;

  text-align: center;
  direction: ltr;
}