@import "../_variables.scss";

.product-explorer {
  .filter-element {
    border-bottom: 2px solid $text-lighter-color;
  }

  .accordion-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .collapse-header {
      cursor: pointer;
      color: $text-title-menu-color;
      font-size: $font-size-smallIcon;
      padding: 10px 0;
      margin-bottom: 5px;
      flex: 1;
    }

    .angle-icon {
      display: flex;
      font-size: 18px;
      align-items: center;
      color: $text-light-color;
      cursor: pointer;
    }

    .filter-spinner {
      display: flex;
      flex-flow: row;
      align-items: center;

      & > div {
        line-height: 10px;
      }
    }
  }

  .options-wrapper {
    padding: 0 10px 0 0;

    .categoryItems {
      color: $text-light-color;
      font-size: $font-size-smallText;
      margin: 5px 0;
      padding: 5px 0;
      border-top: 1px solid $text-lighter-color;

      &.active {
        color: $text-dark-color;
      }

      &:hover {
        color: lighten($text-dark-color, 5%);
        cursor: pointer;
      }
    }
  }

  .label-wrapper {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    color: $text-light-color;
    cursor: pointer;
    font-size: $font-size-normalText;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      color: lighten($text-dark-color, 5%);
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked + .checkmark {
        background-color: $text-darkest-color;

        &:after {
          display: block;
        }
      }
    }

    &:hover input + .checkmark {
      background-color: darken($text-lighter-color, 5.7%);
    }

    .checkmark:after {
      left: 6px;
      top: 0;
      width: 5px;
      height: 12px;
      border: solid $text-lightest-color;
      border-width: 0 3px 3px 0;
      box-shadow: 2px 2px 2px 0 lighten($sidebar-bottom-color, 2.5%);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: $eee-color;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}

.-product-explorer-content {
  .-productComponent:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  }

  .-productComponent {
    margin-left: 23px;
    width: 30%;
  }
}

.-productComponent {
  background: $text-lightest-color;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid lighten($text-light-color, 20%);
  border-radius: 2px;
  font-size: $font-size-normalText;

  span {
    margin-right: 5px;
  }

  .productContent {
    span {
      color: darken($text-light-color, 10%);
    }

    img, svg {
      height: 150px;
      outline: none;
      cursor: pointer;
      border: 1px solid darken($text-light-color, 10%);
      width: 100%;
    }
  }

  .productTags {
    font-size: $font-size-normalIcon-titleText;
  }
}

.products-explore-sidebar {
  overflow: visible;
  position: fixed;
  z-index: 1;
  top: $topBarHeight + 10px;
  padding: 25px;
  color: $text-dark-color;
  border-radius: $border-radius-size;
  background: $text-lightest-color;
  box-shadow: 0 3px 3px $box-shadow-color;
  @media screen and (max-width: 10000px) and (min-width: 1366px) {
    right: 138px;
    width: calc(0.25 * (100% - 276px));
  }
  @media screen and (max-width: 1366px) and (min-width: 1280px) {
    right: 80px;
    width: calc(0.25 * (100% - 160px));
  }
  @media screen and (max-width: 1280px) and (min-width: 900px) {
    right: 30px;
    width: calc(0.25 * (100% - 60px));
  }
  @media screen and (max-width: 900px) and (min-width: 0px) {
    right: 10px;
    width: calc(0.25 * (100% - 20px));
  }
}

.product-explorer-sidebar-intelli {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid $tag-background;
  margin: 10px 0;
  transition-duration: 0.3s;
  font-size: 13px;
  padding: 5px 3px;

  &:focus {
    outline: none;
    border: 1px solid $secondary-color;
    font-size: 13px;
    background-color: white;
    transition-duration: 0.3s;
  }
}

.products-explore-sidebar-container {
  font-size: 14px;
  border-top: 1px solid $more-button-color-hover-darker;
  padding-top: 15px;
  user-select: none;
  overflow: visible;
}

.product-explorer-title {
  box-shadow: 0 3px 3px 1.5px $box-shadow-color;
  display: flex;
  font-size: 13px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 5px 10px 7px 0;
  @media screen and (max-width: 480px) and (min-width: 0) {
    margin: -15px 10px 7px 0;
  }
}

.all-product-container {
  padding: $topBarHeight + 5px 0 0 0;
  width: 75%;
  margin-right: 25%;
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  .product-model {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    vertical-align: top;
    position: relative;
    padding: 15px;
    margin: 5px 10px 7px 0;
    text-align: center;
    flex-grow: 1;
    width: 270px;
    flex-basis: 270px;
    background-color: $text-lightest-color;
    border-radius: 5px;
    box-shadow: 0 3px 3px 1.5px $box-shadow-color;
    height: 200px;
    overflow: hidden;
  }

  .product-model-hide {
    height: 0;
    opacity: 0;
    padding: 0 15px;
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    vertical-align: top;
    position: relative;
    text-align: center;
    flex-grow: 1;
    width: 270px;
    flex-basis: 270px;
    background-color: $text-lightest-color;
    border-radius: 5px;
    box-shadow: 0 3px 3px 1.5px $box-shadow-color;
    overflow: hidden;
  }

  .product-model-logo {
    display: none;
  }

  .product-model-detail {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: right;
    font-size: 13px;
    height: 80px;
    overflow: hidden;
    order: 2;
  }

  .product-model-img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100px;
    object-fit: cover;
    background-color: $more-button-color-hover-darker;
    order: 1;
  }

  .product-model-seller {
    color: $scroll-color;
  }

  .product-model-seller-name {
    color: $info-color;
    width: 100%;
  }

  .product-model-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $more-button-color-hover-darker;
  }

  .product-model-seller-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .product-model-svg {
    display: none;
  }

  .product-model-little-svg {
    width: 17px;
    margin-left: 10px;
  }

  .product-explorer-skeleton {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

}

.all-product-container-column {
  padding: $topBarHeight + 5px 0 0 0;
  width: 50%;
  margin-right: 25%;
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  .product-model {
    display: flex;
    text-decoration: none;
    color: black;
    vertical-align: top;
    position: relative;
    padding: 15px;
    margin: 5px 10px 7px 0;
    text-align: center;
    flex-grow: 1;
    width: 100%;
    background-color: $text-lightest-color;
    border-radius: 5px;
    box-shadow: 0 3px 3px 1.5px $box-shadow-color;
    height: 130px;
    overflow: hidden;
  }

  .product-model-hide {
    display: none;
  }

  .product-model-logo {
    font-size: 12px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    width: 100px;
    height: 100px;
    background-color: $more-button-color-hover-darker;
    border-radius: 3px;
  }

  .product-model-detail {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    width: calc(100% - 280px);
    text-align: right;
    font-size: 13px;
    height: 100px;
    overflow: hidden;
    order: 1;
  }

  .product-model-img {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 100px;
    object-fit: cover;
    background-color: $more-button-color-hover-darker;
    order: 2;
  }

  .product-model-seller {
    color: $scroll-color;
  }

  .product-model-seller-name {
    color: $info-color;
    width: 100%;
  }

  .product-model-name {
    margin-bottom: 28px;
  }

  .product-model-svg {
    margin-bottom: 5px;
    width: 30px;
  }

  .product-model-little-svg {
    display: none;
  }

  .product-explorer-skeleton {
    display: flex;
    width: 100%;
  }

}

.product-instant-view {
  display: flex;
  text-decoration: none;
  color: black;
  vertical-align: top;
  position: relative;
  margin: 20px 0;
  text-align: center;
  flex-grow: 1;
  background-color: $text-lightest-color;
  border-radius: 5px;
  overflow: hidden;
}

.product-instant-edit {
  position: absolute;
  top: -3px;
  left: 2px;

  svg {
    fill: #c5c5c5;
    width: 12px;
  }
}

.product-instant-link {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
}

.product-instant-logo {
  font-size: 12px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  width: 100px;
  height: 100px;
  flex: 1 1 100px;
  min-width: 100px;
  background-color: $more-button-color-hover-darker;
  border-radius: 3px;
}

.product-instant-detail {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  width: calc(100% - 270px);
  text-align: right;
  font-size: 13px;
  height: 100px;
  overflow: hidden;
  order: 1;
  flex: 1 1 100%;
  //min-width: 100%;
}

.product-instant-img {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 100px;
  object-fit: cover;
  background-color: $more-button-color-hover-darker;
  order: 2;
  flex: 1 1 170px;
  min-width: 170px;
}

.product-instant-seller {
  color: $scroll-color;
}

.product-instant-seller-name {
  color: $info-color;
  font-size: 12px;
}

.product-instant-name {
  margin-bottom: 28px;
}

.product-instant-svg {
  margin-bottom: 5px;
  width: 30px;
}

.product-explorer-list-selected {
  display: inline-block;
  padding: 5px 7px 2px 7px;
  background-color: $more-button-color-hover-darker;
  border-radius: 3px;
  transition: all ease 0.3s;
  cursor: pointer;
  @media screen and (max-width: 480px) and (min-width: 0) {
    display: none;
  }
}

.product-explorer-list {
  display: inline-block;
  padding: 5px 7px 2px 7px;
  transition: all ease 0.3s;
  cursor: pointer;
  @media screen and (max-width: 480px) and (min-width: 0) {
    display: none;
  }
}