@import "../variables";

//-----------------------        product sidBart   -----------------//
.-rBarChart {
  height: 25px;
}

.-rBarChart path {
  fill: $text-title-menu-color;
}

.-rBarChart:hover {
  cursor: pointer;
}

.-rBarChart:hover path {
  fill: $primary-color
}

.-w-45 {
  width: 45% !important;
}

.-grey2 {
  color: lighten($text-title-menu-color, 3%);
}

.-rBarBookmark {
  height: 18px;
}

.-rBarBookmark path {
  fill: $text-title-menu-color;
}

.-rBarBookmark:hover {
  cursor: pointer;
}

.-rBarBookmark:hover path {
  fill: $primary-color
}

.-rBarMainPicture {
  height: 200px;
  outline: none;
}

.-rBarProductImage {
  flex-wrap: wrap;
}

.-rBarProductImage div:not(:last-child) {
  height: 45px;
  width: 22%;
  border: 1px solid gainsboro;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 12px;
}

.-rBarProductImage div:last-child {
  height: 45px;
  width: 22%;
  border: 1px solid gainsboro;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.-fontSize10 {
  font-size: $font-size-verySmallText;
}

// Modal and Slider

.-grey3 {
  background-color: #e6f1fb;
}

.-grey4 {
  background-color: #dee9ef;
}

.-productViewModal button {
  outline: none;
}

.-productViewOriginalClass img {
  height: 550px;
}

.-productViewThumbnailClass img {
  height: 70px;
}

%text-input {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid $text-input-border-color;
}

.product-basic-information .product-form {
  .category.error .Select-control {
    border: 1px solid $error-color;
  }

  .description {
    height: 200px;
    @extend %text-input
  }

  .form-field {
    padding: 4px 10px;
    margin-bottom: 10px;
    @extend %text-input;

    &.error {
      border: 1px solid $error-color;
    }
  }
}

.product-view-sidebar {

  @media screen and (max-width: 10000px) and (min-width: 480px) {
    min-height: 100px;
    padding: 15px 20px;
    width: 25%;
    background-color: white;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  @media screen and (max-width: 480px) and (min-width: 0) {
    padding: 15px 20px;
    width: 100%;
    background-color: white;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }
}

.product-view-sidebar-name {
  font-weight: bold;
  font-size: 13px;
  text-align: right;
  padding-bottom: 15px;
  border-bottom: 1px solid $more-button-color-hover-darker;
}

.product-view-sidebar-name-edit {
  font-weight: normal;
  font-size: 13px;
  text-align: right;
  border: 1px solid $scroll-color;
  width: 100%;
  padding: 5px;
  transition: all linear 0.2s;
  border-radius: 5px;

  &:focus {
    border: 1px solid $secondary-color;
    transition: all linear 0.2s;
  }
}


.product-view-sidebar-main-img-cont {
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid $more-button-color-hover-darker;
  vertical-align: top;
  cursor: pointer;
}

.product-view-sidebar-main-img {
  border-radius: 5px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-view-sidebar-main-img-edit {
  font-size: 13px;
  text-align: right;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid $more-button-color-hover-darker;
  vertical-align: top;
  cursor: pointer;
}

.product-view-sidebar-main-img-title {
  font-size: 13px;
  margin-bottom: 10px;
}

.product-view-sidebar-images {
  overflow: auto;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid $more-button-color-hover-darker;
  vertical-align: top;
}

.product-view-sidebar-img-cont {
  flex-grow: 1;
  margin: 0 1.5%;
  vertical-align: top;
  cursor: pointer;
  height: 50px;
  overflow: hidden;

  &:first-child {
    margin: 0 0 0 1.5%;
  }
}

.product-view-sidebar-img {
  object-fit: cover;
  width: 100%;
  height: 50px;
}

.product-view-sidebar-more {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 26%;
  height: 50px;
  object-fit: cover;
  margin: 0 1.5% 0 0;
  vertical-align: top;
  color: $scroll-color;
  font-size: 13px;
  float: left;
  border: 1px solid $more-button-color-hover-darker;
  cursor: pointer;
}

.product-view-sidebar-date {
  font-size: 12px;
  padding: 15px 0;
}

.product-view-sidebar-date-editing {
  color: $scroll-color;
  font-size: 12px;
  padding: 15px 0;
}

.product-view-sidebar-svg {
  vertical-align: top;
  width: 15px;
  margin-left: 10px;

  &:first-child {
    margin-top: 1px;
  }
}

.product-view-sidebar-location {
  font-size: 12px;
  padding: 10px 0 15px 0;
}

.product-view-sidebar-details {
  padding: 15px 0;
  font-size: 13px;
  border-bottom: 1px solid $more-button-color-hover-darker;
  border-top: 1px solid $more-button-color-hover-darker;
  line-height: 30px;
}

.product-view-sidebar-details-grey {
  color: $scroll-color;
}

.product-view-sidebar-details-blue {
  color: $primary-color-light3;
}

.product-view-sidebar-details-red {
  color: $error-color;
}

.product-view-sidebar-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product-view-sidebar-buy {
  text-align: center;
  font-size: 13px;
  width: 110px;
  border-radius: 30px;
  background-color: $secondary-color;
  color: white;
  border: 1px solid $secondary-color;
  padding: 5px 0;
  margin: 20px 0 10px 0;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    background-color: white;
    color: $secondary-color;
    transition: all ease 0.3s;
  }
}

.product-view-sidebar-buy-disable {
  text-align: center;
  font-size: 13px;
  width: 110px;
  border-radius: 30px;
  background-color: $secondary-color;
  color: white;
  border: 1px solid $secondary-color;
  padding: 5px 0;
  margin: 20px 0 10px 0;
  cursor: not-allowed;
  transition: all ease 0.3s;
  opacity: 0.5;

  &:hover {
    background-color: white;
    color: $secondary-color;
    transition: all ease 0.3s;
  }
}

.product-view-sidebar-share {
  text-align: center;
  font-size: 13px;
  width: 110px;
  border-radius: 30px;
  background-color: white;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 5px 0;
  margin: 20px 0 10px 0;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    background-color: $primary-color;
    color: white;
    transition: all ease 0.3s;
  }
}

.product-view-sidebar-modal {
  border-radius: 5px;
  position: fixed;
  z-index: 4;
  width: 800px;
  top: calc((100% - 500px) / 2);
  right: calc((100% - 800px) / 2);
  opacity: 1;
  transform: scale(1);
  transition: all ease 0.2s;
  @media screen and (max-width: 480px) and (min-width: 0) {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2% 2% 0 2%;
    width: 90%;
    top: 10vh;
    right: 5%;
  }
}

.product-view-sidebar-modal-hide {
  position: fixed;
  z-index: -1;
  width: 800px;
  top: calc((100% - 500px) / 2);
  right: calc((100% - 800px) / 2);
  opacity: 0;
  transform: scale(0.7);
  transition: all ease 0.2s;
  @media screen and (max-width: 480px) and (min-width: 0) {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2% 2% 0 2%;
    width: 90%;
    top: 10vh;
    right: 5%;
  }
}

.product-view-sidebar-modal-main {
  width: 100%;
  border-radius: 10px;
  margin: auto;
  height: 400px;
  object-fit: cover;
}

.product-view-sidebar-modal-imgs-cont {
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0 10px 10px;
  height: 80px;
  overflow: hidden;
  flex-grow: 1;

  &:last-child {
    margin: 10px 0;
  }
}

.product-view-sidebar-modal-imgs {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

.product-gallery-cont {
  display: flex;
  width: 100%;
}

.product-description {
  font-size: 13px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-description-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.product-description-title-edit {
  color: $primary-color-light3;
  cursor: pointer;
}

.product-description-title-editing {
  color: $scroll-color;
  font-weight: normal;
  cursor: pointer;
}

.product-description-detail {
  line-height: 28px;
  text-align: justify;
  text-align-last: right;
}

.product-description-detail-editing {
  line-height: 28px;
  text-align: justify;
  text-align-last: right;
  height: 180px;
  border: 1px solid $scroll-color;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  transition: all linear 0.2s;

  &:focus {
    border: 1px solid $secondary-color;
    transition: all linear 0.2s;
  }
}

.product-description-edit-container {
  margin-top: 5px;
  text-align: left;
}

.product-attrs-edit-container {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.product-description-cancel {
  text-align: center;
  background-color: $scroll-color;
  border: 1px solid $scroll-color;
  border-radius: 30px;
  width: 100px;
  padding: 4px 0;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    background-color: white;
    color: $scroll-color;
    transition: all linear 0.2s;
  }
}

.product-description-submit {
  text-align: center;
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  color: white;
  border-radius: 30px;
  width: 100px;
  padding: 4px 0;
  margin-right: 10px;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    background-color: white;
    color: $secondary-color;
    transition: all linear 0.2s;
  }
}

.product-attributes-cont {
  margin-bottom: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.product-attributes-title {
  display: inline-block;
  background-color: $more-button-color;
  padding: 5px 10px;
  width: 25%;
  margin-left: 5px;
  word-break: break-word;
  vertical-align: top;
  flex-grow: 1;
}

.product-attributes-value {
  vertical-align: top;
  background-color: $more-button-color;
  padding: 5px 10px;
  display: inline-block;
  width: calc(75% - 5px);
  word-break: break-word;
  flex-grow: 1;
}

.product-attributes-error-hide {
  height: 0;
  overflow: hidden;
  transition: all linear 0.3s;
}

.product-attributes-error {
  display: inline-block;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  color: red;
  font-size: 12px;
  height: 25px;
  margin-top: 1px;
  overflow: hidden;
  transition: all linear 0.3s;
}

.product-attributes-title-edit {
  display: inline-block;
  padding: 5px 10px;
  width: 25%;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  transition: all linear 0.3s;

  &::placeholder {
    color: $scroll-color;
  }
}

.product-attributes-value-edit {
  padding: 5px 10px;
  display: inline-block;
  width: calc(60% - 10px);
  border-radius: 5px;
  border: 1px solid $secondary-color;

  &::placeholder {
    color: $scroll-color;
  }
}

.product-attributes-delete {
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
  width: 15%;
  border-radius: 20px;
  border: 1px solid $error-color;
  color: $error-color;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    background-color: $error-color;
    color: white;
    transition: all linear 0.2s;
  }
}

.product-attributes-add {
  float: left;
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
  width: 15%;
  border-radius: 20px;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    background-color: $secondary-color;
    color: white;
    transition: all linear 0.2s;
  }

  @media screen and (max-width: 480px) and (min-width: 0) {
    padding: 5px 2px;
  }
}

.product-view-sidebar-upload-pre {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all linear 0.3s;
}

.product-view-sidebar-upload {
  vertical-align: top;
  display: inline-block;
  width: 48%;
  height: 80px;
  margin: 1%;
  background-color: $more-button-color;
  border-radius: 5px;
  border: 1px dashed $scroll-color;
  position: relative;
}

.product-view-sidebar-upload-input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.product-view-sidebar-location-edit {
  font-size: 13px;
}

.product-view-sidebar-locations {
  width: 100%;
  padding: 5px;
  border: 1px solid $scroll-color;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all linear 0.2s;

  &:focus {
    border: 1px solid $secondary-color;
    transition: all linear 0.2s;
  }
}

.product-option {
  background-color: $more-button-color;
}

.product-view-sidebar-price {
  margin-top: 10px;
}

.product-view-sidebar-checkbox-selected {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $secondary-color;
  position: relative;
  margin-left: 8px;
  cursor: pointer;

  &:after {
    content: ' ';
    position: absolute;
    vertical-align: top;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $secondary-color;
  }
}

.product-view-sidebar-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $scroll-color;
  position: relative;
  margin-left: 8px;
  cursor: pointer;
}

.product-view-sidebar-checkbox-cont {
  font-size: 12px;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  text-align: right;
  cursor: pointer;
  margin-bottom: 10px;
}

.product-view-sidebar-checkbox-title {
  display: inline-block;
  vertical-align: top;
}

.product-view-sidebar-price-edit {
  position: relative;
  overflow: hidden;
  height: 32px;
  transition: all linear 0.3s;
}

.product-view-sidebar-price-edit-hide {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: all linear 0.3s;
  opacity: 0;
}

.product-view-sidebar-price-input {
  height: 31px;
  overflow: hidden;
  font-weight: normal;
  font-size: 12px;
  text-align: right;
  border: 1px solid $scroll-color;
  width: 100%;
  padding: 5px 5px 5px 30px;
  transition: all linear 0.2s;
  border-radius: 5px;

  &:focus {
    border: 1px solid $secondary-color;
    transition: all linear 0.2s;
  }

  &::placeholder {
    color: $scroll-color;
  }
}

.product-view-sidebar-price-placeholder {
  font-size: 12px;
  position: absolute;
  left: 8px;
  top: 5px;
  color: $scroll-color;
}

.product-view-sidebar-category-edit {
  font-size: 13px;
  margin-top: 15px;
}

.user-view-sidebar-loc-svg {
  vertical-align: top;
  width: 12px;
  margin: 0 10px;
}

.user-view-sidebar-svg {
  vertical-align: top;
  width: 16px;
  margin: 0 10px;
}

.user-view-cal-sidebar-svg {
  vertical-align: top;
  width: 14px;
  margin: 1px 10px 0 10px;
}

.user-view-staff-sidebar-svg {
  vertical-align: top;
  width: 20px;
  margin: 3px 10px 0 10px;
}