@import "../variables";

//-----------------------        product sidBart   -----------------//
.-rBarChart {
  height: 25px;
}

.-rBarChart path {
  fill: $text-title-menu-color;
}

.-rBarChart:hover {
  cursor: pointer;
}

.-rBarChart:hover path {
  fill: $primary-color
}

.-w-45 {
  width: 45% !important;
}

.-grey2 {
  color: lighten($text-title-menu-color, 3%);
}

.-rBarBookmark {
  height: 18px;
}

.-rBarBookmark path {
  fill: $text-title-menu-color;
}

.-rBarBookmark:hover {
  cursor: pointer;
}

.-rBarBookmark:hover path {
  fill: $primary-color
}

.-rBarMainPicture {
  height: 200px;
  outline: none;
}

.-rBarProductImage {
  flex-wrap: wrap;
}

.-rBarProductImage div:not(:last-child) {
  height: 45px;
  width: 22%;
  border: 1px solid gainsboro;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 12px;
}

.-rBarProductImage div:last-child {
  height: 45px;
  width: 22%;
  border: 1px solid gainsboro;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.-fontSize10 {
  font-size: $font-size-verySmallText;
}

// Modal and Slider

.-grey3 {
 background-color: #e6f1fb;
}

.-grey4{
  background-color: #dee9ef;
}

.-productViewModal button{
  outline: none;
}

.-productViewOriginalClass img{
  height: 550px;
}

.-productViewThumbnailClass img{
  height: 70px;
}