//          product sidBart      //
.-rBarChart{
  height: 25px;
}

.-rBarChart path{
  fill: #999;
}

.-rBarChart:hover {
  cursor: pointer;
}

.-rBarChart:hover path{
  fill:#32485D
}

.-w-45 {
   width: 45% !important;
 }

.-grey2{
  color: #A1A1A1;
}

.-rBarBookmark{
  height: 18px;
}

.-rBarBookmark path{
  fill: #999;
}

.-rBarBookmark:hover {
  cursor: pointer;
}

.-rBarBookmark:hover path{
  fill:#32485D
}

.-rBarPicture{
  height: 200px;
}