@import "../_variables.scss";

.product-explorer {
  .filter-element {
    border-bottom: 2px solid $text-lighter-color;
  }
  .accordion-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .collapse-header {
      cursor: pointer;
      color: $text-title-menu-color;
      font-size: $font-size-smallIcon;
      padding: 10px 0;
      margin-bottom: 5px;
      flex: 1;
    }
    .angle-icon {
      display: flex;
      font-size: 18px;
      align-items: center;
      color: $text-light-color;
      cursor: pointer;
    }
    .filter-spinner {
      display: flex;
      flex-flow: row;
      align-items: center;
      & > div {
        line-height: 10px;
      }
    }
  }
  .options-wrapper {
    padding: 0 10px 0 0;
    .categoryItems {
      color: $text-light-color;
      font-size: $font-size-smallText;
      margin: 5px 0;
      padding: 5px 0;
      border-top: 1px solid $text-lighter-color;
      &.active {
        color: $text-dark-color;
      }
      &:hover {
        color: lighten($text-dark-color, 5%);
        cursor: pointer;
      }
    }
  }
  .label-wrapper {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    color: $text-light-color;
    cursor: pointer;
    font-size: $font-size-normalText;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      color: lighten($text-dark-color, 5%);
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked + .checkmark {
        background-color: $text-darkest-color;
        &:after {
          display: block;
        }
      }
    }
    &:hover input + .checkmark {
      background-color: darken($text-lighter-color, 5.7%);
    }
    .checkmark:after {
      left: 6px;
      top: 0px;
      width: 8px;
      height: 15px;
      border: solid $text-lightest-color;
      border-width: 0 3px 3px 0;
      box-shadow: 2px 2px 2px 0 lighten($sidebar-bottom-color, 2.5%);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: $eee-color;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}

.-product-explorer-content{
  .-productComponent:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  }
  .-productComponent {
    margin-left: 23px;
    width: 30%;
  }
}

.-productComponent {
  background: $text-lightest-color;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid lighten($text-light-color, 20%);
  border-radius: 2px;
  font-size: $font-size-normalText;
  span {
    margin-right: 5px;
  }
  .productContent {
    span{
      color: darken($text-light-color, 10%);
    }
    img , svg{
      height: 150px;
      outline: none;
      cursor: pointer;
      border: 1px solid darken($text-light-color, 10%);
      width: 100%;
    }
  }
  .productTags{
    font-size: $font-size-normalIcon-titleText;
  }
}