@import "../../../../variables";

@media screen and (max-width: 480px) and (min-width: 320px) {
  .-itemWrapperPost {
    .post-type-container {
      font-size: $font-size-regular;
    }

    .post-view-relative {
      .-item-headerPost {
        svg {
          fill: lighten($text-light-color, 3%);
        }

        span, i {
          color: lighten($text-light-color, 3%);
        }

        .items {
          display: block;
          margin-right: auto;

          .post-menu-bottom {
            padding: 7px 8px;
            border-radius: 50px;
            transition: all $animation-timing;

            &:hover {
              background-color: $eee-color;
            }
          }
        }

        .menu-box-post {
          position: absolute;
          top: 20px;
          left: 10px;
          z-index: 100;
          display: flex;
          flex-direction: column;
          align-items: start;
          background-color: $text-lightest-color;
          width: 125px;
          box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.15);
          border-radius: $border-radius-size;
          transition-duration: $animation-timing-short;

          > div {
            display: flex;
            flex-direction: column;
            width: 100%;
            transition-duration: $animation-timing-short;

            &:first-child {
              border-bottom: 1px solid lighten($text-lighter-color, 3.6%);
              transition-duration: $animation-timing-short;
            }

            > span, a {
              padding-right: 10px;
              cursor: pointer;
              padding-top: 7px;
              padding-bottom: 7px;
              font-size: $font-size-boxText;
              transition-duration: $animation-timing-short;

              &:last-child {
                padding-bottom: 13px;
                transition-duration: $animation-timing-short;
              }

              &:hover {
                background-color: $eee-color;
                transition-duration: $animation-timing-short;
              }
            }

            span {
              color: $text-dark-color;
              transition-duration: $animation-timing-short;
            }
          }
        }
      }
    }
  }
  .post-content {
    padding-right: 62px;
  }
  .-item-footerPost {
    .post-details {
    }
  }
}